Chat Orchestrator.json
{
  "name": "Chat Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2608,
        416
      ],
      "id": "965613b5-a7a9-4f72-b147-002b70a89667",
      "name": "Webhook",
      "webhookId": "b40ed98c-5a4a-4d05-bc57-da70df7c87da"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO agent_session (session_id, current_usecase_id)\nVALUES ($1, $2)\nON CONFLICT (session_id) DO UPDATE\n  SET current_usecase_id = EXCLUDED.current_usecase_id,\n      updated_at         = now()\nRETURNING session_id, current_usecase_id, conversation_history, active_workflow;",
        "options": {
          "queryReplacement": "={{ $json.session_id }},{{ $json.usecase_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2192,
        416
      ],
      "id": "1b6f08ee-74ca-422f-a25b-b856ab03320a",
      "name": "Session Upsert",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM v_agent_context WHERE session_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.session_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1984,
        416
      ],
      "id": "20a173ee-7c4f-4128-8dce-b700c714fc41",
      "name": "Load Context",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.text ?? '')\n  .replace(/^```json\\s*/i, '')\n  .replace(/^```\\s*/i, '')\n  .replace(/\\s*```$/i, '')\n  .trim();\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch(e) {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n}\n\nconst validIntents = ['mapping', 'knowledge', 'dictionary', 'scheduling', 'clarify'];\nif (!validIntents.includes(parsed.intent)) {\n  parsed.intent = 'clarify';\n}\n\nreturn [{\n  json: {\n    intent:      parsed.intent,\n    reply:       parsed.reply,\n    payload:     parsed.payload ?? {},\n    session_id:  $('Build prompt').first().json.session_id,\n    message:     $('Build prompt').first().json.message,\n    history:     $('Build prompt').first().json.history,\n    usecase_id:  $('Build prompt').first().json.usecase_id,\n    usecase_name: $('Build prompt').first().json.usecase_name,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1248,
        416
      ],
      "id": "7e7206a0-ce3b-4556-9d34-0758a34253a8",
      "name": "Parse GPT Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "mapping",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "863df9e6-12ac-4b8b-87c7-f7c5121c0ac0"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5704a543-bffa-40cb-9760-39cf0fe6561d",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "knowledge",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6307c064-de21-46de-92f1-9011fb34e238",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "dictionary",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ebcda350-260e-4c5d-ae6b-24af0de5783d",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "scheduling",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1056,
        368
      ],
      "id": "094fd771-ffea-44bb-b3a8-cf7a91837b7c",
      "name": "Intent Router"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE agent_session\nSET conversation_history = conversation_history || $2::jsonb,\n    updated_at           = now()\nWHERE session_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.session_id }},={{ JSON.stringify([{ role: 'user', content: $('Build prompt').first().json.message }, { role: 'assistant', content: $json.reply }]) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        48,
        464
      ],
      "id": "9e3190e0-27b4-41dc-927f-edceaae45b0f",
      "name": "Save History",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\n\nconst session_id = (body.session_id ?? '').trim();\nconst usecase_id = parseInt(body.usecase_id ?? 0);\nconst message    = (body.message ?? '').trim();\n\nif (!session_id) throw new Error('Missing session_id');\nif (!usecase_id) throw new Error('Missing usecase_id');\nif (!message)    throw new Error('Missing message');\n\nreturn [{ json: { session_id, usecase_id, message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        416
      ],
      "id": "912f3cb0-9976-4443-ac22-63e483fe9fdb",
      "name": "Validate input"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1600,
        560
      ],
      "id": "c4a5cd6c-10e0-47a3-ae96-74a57209998f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C6PPGVshBukmGMJ7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $json.messages_as_text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1600,
        416
      ],
      "id": "aae0deb3-fa90-4f3c-83a3-4d658e90e7a1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\n\nconst message = $('Validate input').first().json.message;\nconst session_id = $('Validate input').first().json.session_id;\n\nconst history = Array.isArray(ctx.conversation_history)\n  ? ctx.conversation_history\n  : JSON.parse(ctx.conversation_history ?? '[]');\n\nconst systemPrompt = `You are a research assistant embedded in a haptic feedback research application.\n\nCurrent experiment: ${ctx.usecase_name ?? 'Unknown'}\n${ctx.usecase_description ? `Description: ${ctx.usecase_description}` : ''}\n\nActive feedback mappings for this experiment:\n${JSON.stringify(ctx.global_mappings ?? [], null, 2)}\n\nYour job is to help researchers with ONE of the following tasks. Decide which one applies to the message, then respond ONLY with a JSON object in this exact format:\n\n{\n  \"intent\": \"<one of: mapping | knowledge | dictionary | scheduling | clarify>\",\n  \"reply\": \"<your response to the researcher in plain language>\",\n  \"payload\": {\n    \"action\": \"<for mapping intent: list | add | remove | brainstorm>\",\n    \"params\": {}\n  }\n}\n\nIntent rules:\n- \"mapping\"        → researcher wants to view, add, remove, or brainstorm feedback_config_rules\n- \"knowledge\"      → question about haptic feedback, sensory substitution, or experiment design\n- \"dictionary\" → researcher wants to see use cases, add/delete use cases, or modify parameters.\n- \"scheduling\"→ researcher wants to add, list, delete, or change user schedules\n- \"clarify\"        → message is ambiguous, you need to ask one follow-up question\n\nPayload rules by intent:\n- mapping + list:       { \"action\": \"list\", \"params\": {} }\n- mapping + add:        { \"action\": \"add\", \"params\": { \"minvalue\": 80, \"maxvalue\": 100, \"minpulses\": 3, \"maxpulses\": 5, \"minintensity\": 60, \"maxintensity\": 80, \"minduration\": 200, \"maxduration\": 300, \"mininterval\": 100, \"maxinterval\": 150 } }\n- mapping + add: ALWAYS route to \"add\" even if you think the mapping already exists. \n  The database will handle duplicate detection and inform the user. Never route to \"list\" \n  when the researcher is asking to add something.\n- mapping + remove:     { \"action\": \"remove\", \"params\": { \"id\": 123 } } — ONLY when researcher gives explicit numeric ID\n- mapping + brainstorm: { \"action\": \"brainstorm\", \"params\": {} }\n- scheduling:      { \"user_id\": null, \"lookback_days\": 14 }\n- all others:           { \"action\": \"\", \"params\": {} }\n\nPayload rules for scheduling:\n- \"add\": { \"action\": \"add\", \"params\": { \"user_id\": 1, \"interval_days\": 2, \"measure_type\": \"average\", \"trigger_percentage\": 20 } }\n- \"change\": { \"action\": \"change\", \"params\": { \"schedule_id\": 10, \"interval_days\": 3 } }\n- \"deactivate\": { \"action\": \"deactivate\", \"params\": { \"schedule_id\": 10 } }\n- \"list\": { \"action\": \"list\", \"params\": {} }\n\nPayload rules for dictionary intent:\n- list: { \"action\": \"list\", \"params\": {} }\n- add: { \"action\": \"add\", \"params\": { \"usecase_name\": \"...\", \"parameter_name\": \"...\", \"parameter_format\": \"...\", \"is_required\": true, \"description\": \"...\" } }\n- delete usecase: { \"action\": \"remove_usecase\", \"params\": { \"usecase_name\": \"...\" } }\n- delete parameter: { \"action\": \"remove_parameter\", \"params\": { \"id\": 123 } }\n- edit: { \"action\": \"edit\", \"params\": { \"id\": 123, \"usecase_name\": \"...\", \"parameter_name\": \"...\" } }\n\nIMPORTANT: For \"add\", ALWAYS set action to \"add\" and extract ALL numeric values from the \nmessage into params. Do NOT second-guess whether the mapping exists — always send it to \nthe add workflow regardless. The system handles duplicates automatically.\nIMPORTANT: \"add\" and \"remove\" are completely different. Adding range values is ALWAYS \"add\". \"remove\" needs an explicit ID.\n\nDo not respond with anything outside the JSON object.`;\n\nconst messages = [\n  { role: 'system', content: systemPrompt },\n  ...history,\n  { role: 'user', content: message }\n];\n\nconst messagesAsText = messages.map(m => {\n  const role = m.role === 'system' ? 'SYSTEM' : m.role === 'assistant' ? 'ASSISTANT' : 'USER';\n  return `${role}: ${m.content}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    session_id,\n    message,\n    messages,\n    messages_as_text: messagesAsText,\n    usecase_name:    ctx.usecase_name,\n    usecase_id:      ctx.usecase_id,\n    global_mappings: ctx.global_mappings,\n    history\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        416
      ],
      "id": "928e9c35-4543-4649-b181-6aa2d8b4823f",
      "name": "Build prompt"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "pBa7G9TGnaWdUxoj",
          "mode": "list",
          "cachedResultUrl": "/workflow/pBa7G9TGnaWdUxoj",
          "cachedResultName": "Mapping Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $json.payload.action }}",
            "params": "={{ $json.payload.params }}",
            "session_id": "={{ $json.session_id }}",
            "usecase_id": "={{ $json.usecase_id }}",
            "usecase_name": "={{ $json.usecase_name }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usecase_id",
              "displayName": "usecase_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usecase_name",
              "displayName": "usecase_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        176
      ],
      "id": "b279becc-34f8-4984-9c62-89d5c37b33b2",
      "name": "Call 'Mapping Manager'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "VPk5BFlcigtZlDON",
          "mode": "list",
          "cachedResultUrl": "/workflow/VPk5BFlcigtZlDON",
          "cachedResultName": "Knowledge Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.session_id }}",
            "usecase_name": "={{ $json.usecase_name }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "usecase_name",
              "displayName": "usecase_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        336
      ],
      "id": "05364b62-b0a3-484a-b58f-b87981747fa6",
      "name": "Call 'Knowledge Agent'"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    reply: $input.first().json.reply,\n    session_id: $input.first().json.session_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        464
      ],
      "id": "65f31177-0179-44c9-8707-1345a6f9ce18",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        464
      ],
      "id": "bde68677-ba3e-4ea0-a90a-93d854dea1ec",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "UqOtVUntzN2Gh75O",
          "mode": "list",
          "cachedResultUrl": "/workflow/UqOtVUntzN2Gh75O",
          "cachedResultName": "Schedule Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $json.payload.action }}",
            "session_id": "={{ $json.session_id }}",
            "usecase_id": "={{ $json.usecase_id }}",
            "usecase_name": "={{ $json.usecase_name }}",
            "params": "={{ $json.payload.params }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usecase_id",
              "displayName": "usecase_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "usecase_name",
              "displayName": "usecase_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        784
      ],
      "id": "08ec4e69-0c13-4ecd-ad06-58d43747883f",
      "name": "Call 'Schedule Manager'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "YDFXGzvKMDZJev5h",
          "mode": "list",
          "cachedResultUrl": "/workflow/YDFXGzvKMDZJev5h",
          "cachedResultName": "Dictionary Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "={{ $json.payload.action }}",
            "params": "={{ $json.payload.params }}",
            "session_id": "={{ $json.session_id }}",
            "message": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "params",
              "displayName": "params",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -832,
        576
      ],
      "id": "b297c325-ceb3-4bbb-8933-537d28a3137c",
      "name": "Call 'Dictionary Manager'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Upsert": {
      "main": [
        [
          {
            "node": "Load Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Context": {
      "main": [
        [
          {
            "node": "Build prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse GPT Response": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "Call 'Mapping Manager'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Knowledge Agent'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Dictionary Manager'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Schedule Manager'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Session Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse GPT Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build prompt": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Mapping Manager'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Knowledge Agent'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Schedule Manager'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Dictionary Manager'": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be868427-3b6c-4c1c-b0bb-5e4bfff0a1e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb0aad79dd248c2481ecedc24aee38491247ebd354850a1c5b87cae205699cce"
  },
  "id": "rua5bDoahkpNyxTq",
  "tags": []
}