DB Manager.json
{
  "name": "DB Manager",
  "nodes": [
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        -240
      ],
      "id": "656e5633-f287-4921-9e41-4e0367b1d09a",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5792,
        -240
      ],
      "id": "076face8-beec-4da8-8033-e75321fcfbc0",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        -16
      ],
      "id": "e64c4fc0-3823-4647-9525-1d68713e002d",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5552,
        -16
      ],
      "id": "f7becdcf-3721-4c24-9c28-49c4e59304d2",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5328,
        -240
      ],
      "id": "911293a8-b262-4765-932c-bcd7874f7542",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        304
      ],
      "id": "6e208b18-81be-45cd-8835-602dc8e395ec",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5104,
        208
      ],
      "id": "3173bdcb-6ed6-419c-b94a-11693109a030",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4880,
        208
      ],
      "id": "b5e5b528-c56d-4a40-84a2-e47ebded745d",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5328,
        400
      ],
      "id": "2a38c38d-4a2c-4d7a-9ffa-fe0de331bd88",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5552,
        624
      ],
      "id": "d357c054-d963-42da-8111-9b57758a9c45",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        848
      ],
      "id": "7f886d6c-5454-4c2b-930a-4dbb7df6e7c6",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        1088
      ],
      "id": "809eaee9-5561-40cb-8f8c-62027ade814f",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "content": "## --IMPORTANT--\nRight now SET MONITORING TYPE sets the same usecase for all users.\nThis needs to change in order for each user to have a distinct usecase",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -5344,
        832
      ],
      "typeVersion": 1,
      "id": "52baf949-1532-4edc-8dd7-c8909255c73f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        288
      ],
      "typeVersion": 1,
      "id": "faed559c-ba33-4a29-927b-dc4a7dd727e3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        -288
      ],
      "typeVersion": 1,
      "id": "ea49ad57-1b14-418e-9426-b6e3ab647a13",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        -64
      ],
      "typeVersion": 1,
      "id": "57b90108-ebf5-4fed-a455-513f58048c82",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.userid,\n    u.fname,\n    u.lname,\n    u.lastrequest,\n    u.active_usecase_id,\n    uc.name as usecase_name,\n    uc.description as usecase_description\nFROM \"User\" u\nLEFT JOIN \"UseCase\" uc ON u.active_usecase_id = uc.usecase_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5792,
        -16
      ],
      "id": "c8330b27-ed8a-412a-97f2-8e6beb66eb28",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\nconst startDateRaw = q.start_date;\nconst endDateRaw = q.end_date;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\nlet dateTo = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  case \"custom\":\n  case \"Custom Date Range\":\n  case \"Custom+Date+Range\":\n    // Parse custom date range\n    if (startDateRaw) {\n      dateFrom = new Date(startDateRaw + \"T00:00:00\");\n    }\n    if (endDateRaw) {\n      // Set to end of day (23:59:59)\n      dateTo = new Date(endDateRaw + \"T23:59:59\");\n    }\n    break;\n  default:\n    dateFrom = null;\n    dateTo = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.usecase_id,\n         a.vibration_reason AS reason\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter - start date\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// time filter - end date (for custom range)\nif (dateTo) {\n  where.push(`sd.time <= $${p++}`);\n  params.push(dateTo.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.usecase_id = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\", dateFrom, dateTo }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        304
      ],
      "id": "ee3b8401-0ab1-49b6-8df1-544aace956f0",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5552,
        304
      ],
      "id": "6a0961e3-57ae-4ded-bec0-330726302477",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5328,
        208
      ],
      "id": "7624fa78-4fa0-4e1e-9efd-3446cd2c28cf",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        1040
      ],
      "typeVersion": 1,
      "id": "a482c6f5-b233-45f0-b3e8-fd2ea2624843",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        816
      ],
      "typeVersion": 1,
      "id": "08c83f8d-30d7-4a06-8efa-ea7b6a030fc8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        848
      ],
      "id": "19b0e638-ac9c-454f-9527-cdd62767db8e",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        1088
      ],
      "id": "80e3bc86-e777-4d4c-bafb-47dd35d27494",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        592
      ],
      "typeVersion": 1,
      "id": "eb65c2bd-e16a-4b58-a9a5-0915d62cb641",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nreturn [\n  {\n    json: {\n      rows\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5552,
        -240
      ],
      "id": "cf622050-9c51-4c8a-b642-37737dd090d9",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/assign-usecase -H \"Content-Type: application/json\" -d \"{\\\"userId\\\": 100, \\\"usecaseId\\\": 3}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        1312
      ],
      "typeVersion": 1,
      "id": "2b09fd44-bc96-4868-adf4-3d798cecf83c",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        1360
      ],
      "id": "f5cd1975-5fb8-415a-83eb-748f94406387",
      "name": "assign usecase to user",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst userId = parseInt(body.userId);\nconst usecaseId = parseInt(body.usecaseId);\n\n// Validate inputs\nif (!userId || isNaN(userId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid userId\"\n    }\n  }];\n}\n\nif (!usecaseId || isNaN(usecaseId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid usecaseId\"\n    }\n  }];\n}\n\n// Return clean parameters for the database query\nreturn [{\n  json: {\n    userId: userId,\n    usecaseId: usecaseId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        1360
      ],
      "id": "9f971744-e948-446f-9439-c7b4ce45338c",
      "name": "extract parameters for users and usecase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" \nSET active_usecase_id = $2 \nWHERE userid = $1\nRETURNING userid, active_usecase_id;",
        "options": {
          "queryReplacement": "={{ [$json.userId, $json.usecaseId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5568,
        1360
      ],
      "id": "26e28174-0b8b-428c-a35b-61e6c0d5cc4f",
      "name": "update user usecase",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"User not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Use case assigned successfully\",\n    data: {\n      userId: result.userid,\n      activeUsecaseId: result.active_usecase_id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5376,
        1360
      ],
      "id": "d9b66d89-5a7b-4fb6-82cd-5531fa8a0e11",
      "name": "format response5"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5168,
        1360
      ],
      "id": "f42fc6b2-f779-4c23-9ff4-48269ac4a75f",
      "name": "Respond to Webhook assign usecase"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/create-usecase -H \"Content-Type: application/json\" -d \"{\\\"name\\\": \\\"HeartRate\\\", \\\"description\\\": \\\"Duplicate test\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6304,
        1536
      ],
      "typeVersion": 1,
      "id": "0a5969fa-4a62-4e1b-9d58-ce8778ba9f5a",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Check if this is an error from the database\nif (input.code || input.message) {\n  // Check if it's a duplicate key error (unique constraint violation)\n  if (input.code === '23505' || (input.message && input.message.includes('duplicate key'))) {\n    return [{\n      json: {\n        statusCode: 409,\n        error: \"A use case with this name already exists\"\n      }\n    }];\n  }\n  \n  // Other database errors\n  return [{\n    json: {\n      statusCode: 500,\n      error: \"Failed to create use case: \" + (input.message || \"Unknown error\")\n    }\n  }];\n}\n\n// Success case - format the successful insert result\nreturn [{\n  json: {\n    statusCode: 201,\n    message: \"Use case created successfully\",\n    data: {\n      usecaseId: input.usecase_id,\n      name: input.name,\n      description: input.description\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5360,
        1584
      ],
      "id": "da620106-aa56-487f-b37d-078fbe9b2d43",
      "name": "format response6",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        1584
      ],
      "id": "d124978d-2678-4efc-8876-37030e2342cd",
      "name": "create use case",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst name = body.name?.trim();\nconst description = body.description?.trim() || null;\n\n// Validate name is required\nif (!name) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name is required\"\n    }\n  }];\n}\n\n// Validate name length (max 50 chars per your DB schema)\nif (name.length > 50) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name must be 50 characters or less\"\n    }\n  }];\n}\n\n// Return clean parameters\nreturn [{\n  json: {\n    name: name,\n    description: description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        1584
      ],
      "id": "e370e40e-ac2e-4e6c-9d03-8e2169e7ddc8",
      "name": "extract and validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"UseCase\" (name, description) \nVALUES ('{{ $json.name }}', '{{ $json.description }}')\nRETURNING usecase_id, name, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5568,
        1584
      ],
      "id": "83636a73-293c-4f99-a9fb-e29bdbcf03e7",
      "name": "insert use case",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5168,
        1584
      ],
      "id": "a140c1e2-9314-49aa-aabe-e1921d39bdd5",
      "name": "Respond to Webhook create usecase"
    },
    {
      "parameters": {
        "content": "## Check connection\ncurl -X POST http://localhost:5678/webhook-test/check-connection",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6288,
        1760
      ],
      "typeVersion": 1,
      "id": "9edf168d-c721-4dce-b5f2-47b6ea0d01f3",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5552,
        848
      ],
      "id": "bc7c75fd-d336-4f92-9019-7515e330a823",
      "name": "Respond to Webhook Get monitoring config"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5552,
        1088
      ],
      "id": "6a8d8dfa-0210-40f6-bcd4-fdcd689ca17f",
      "name": "Respond to Webhook Set monitoring type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-connection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b6727ace-24ea-4a8b-89b8-9c4fc44ab897",
      "name": "Check Connection",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        1792
      ],
      "webhookId": "a9d1958f-39d3-46b3-b200-f5979feacf97"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "c9fd54d7-cbe9-4f51-b91b-c5aec90bfba2",
      "name": "Respond to Webhook Check Connection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5792,
        1792
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-rules",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4112,
        -272
      ],
      "id": "92fc18b8-f2d7-4f8d-b967-52c5f8883428",
      "name": "add Mapping",
      "webhookId": "9d253cce-73cb-4598-a738-2f8e053a8309"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "name": "Split Array (If List)",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        -3872,
        -272
      ],
      "notesInFlow": true,
      "id": "a2182e78-7cc8-4fad-9524-88be3078b687",
      "typeVersion": 3.1,
      "notes": "Ensures n8n loops through each rule if Java sends a List<SensorRuleConfig>"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n    type, \n    minvalue, maxvalue, \n    minpulses, maxpulses, \n    minintensity, maxintensity, \n    minduration, maxduration, \n    mininterval, maxinterval, \n    active\n) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n);",
        "options": {
          "queryReplacement": "={{ $json[\"0\"].type }}, {{ $json[\"0\"].minvalue }}, {{ $json[\"0\"].maxvalue }},{{ $json[\"0\"].minpulses }}, {{ $json[\"0\"].maxpulses }}, {{ $json[\"0\"].minintensity }}, {{ $json[\"0\"].maxintensity }},{{ $json[\"0\"].minduration }},{{ $json[\"0\"].maxduration }},{{ $json[\"0\"].mininterval }},{{ $json[\"0\"].maxinterval }},{{ $json[\"0\"].active }}"
        }
      },
      "name": "DB: Upsert Rule",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3664,
        -272
      ],
      "id": "b8f1e2c1-9bdc-4a83-8b15-d57e54900eb0",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      },
      "notes": "Check what we should do when having duplicate data"
    },
    {
      "parameters": {
        "content": "## generic add mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4416,
        -304
      ],
      "typeVersion": 1,
      "id": "6480a52f-7c3a-4580-8891-89f178f6231f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst mappingId = parseInt(body.mappingId);\n\nif (!mappingId || isNaN(mappingId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid mappingId\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    mappingId: mappingId\n  }\n}];"
      },
      "id": "7cbd0786-8dc8-4849-81d2-72753ad79483",
      "name": "Extract Mapping ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3888,
        64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules \nSET active = false \nWHERE id = $1\nRETURNING id, active, type;",
        "options": {
          "queryReplacement": "={{ [$json.mappingId] }}"
        }
      },
      "id": "73e8a2a8-ff60-4ea0-8100-9f3db41ed4e1",
      "name": "Postgres: Deactivate Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3680,
        64
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || Object.keys(result).length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"Mapping ID not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Mapping deactivated successfully\",\n    data: {\n      mappingId: result.id,\n      sensor: result.sensorname,\n      active: result.isactive\n    }\n  }\n}];"
      },
      "id": "3a46f999-d7ae-4267-8812-6e8e9f22894a",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3456,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deactivate-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d54b25c6-a994-4244-a634-052049f5039a",
      "name": "Deactivate Mapping",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4112,
        64
      ],
      "webhookId": "9c75af57-eec3-458e-8ee5-d541d853e577"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "2ad25c78-75ab-46d6-a49b-d6dc9334b698",
      "name": "Respond to Webhook deactivated mapping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3232,
        64
      ]
    },
    {
      "parameters": {
        "content": "## generic deactivate mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4416,
        32
      ],
      "typeVersion": 1,
      "id": "d1ba2186-5e67-4afa-88ed-dacbab1db23b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-use-case",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "adb10918-aa98-4e0d-9a3b-0670d2f45a18",
      "name": "Webhook: Add Use Case",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2512,
        -256
      ],
      "webhookId": "39bb5e0b-da2e-43e1-9a7a-cebab0e42b37"
    },
    {
      "parameters": {
        "content": "## Use-case dictionary"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2848,
        -256
      ],
      "typeVersion": 1,
      "id": "408026b6-8a7b-49f6-8619-314a7e960541",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6016,
        624
      ],
      "id": "10f42f1d-1636-4de4-9e00-d3cd193cfc58",
      "name": "Get usecases",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT usecase_id AS sensorid, name FROM \"UseCase\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5792,
        624
      ],
      "id": "62663f2d-4119-4fe8-a79e-46c292e7bfe5",
      "name": "get usecase query",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Heart Rate Personalization"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1456,
        -288
      ],
      "typeVersion": 1,
      "id": "b53caa7e-8395-4c2f-aa41-df814785b508",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 0 * * *"
            }
          ]
        }
      },
      "id": "989ad069-ff9d-45cb-b625-a1810a7911ea",
      "name": "Daily Trigger (00:01)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_schedules WHERE next_run_date <= CURRENT_DATE and active = TRUE;",
        "options": {}
      },
      "id": "18011d66-7401-4812-9d39-d1bbe22ad1d8",
      "name": "Get Due Schedules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -912,
        -304
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const baseline = $input.first().json.measure;\nconst schedule = $('Get Due Schedules').first().json;\n\n// Tracking object for performance monitoring\nconst tracking = {\n  user_id: schedule.user_id,\n  interval_days: schedule.interval_days || 7,\n  processed_at: new Date().toISOString(),\n  status: 'calculated'\n};\n\nif (!baseline) {\n  return [{ json: { ...tracking, status: 'skipped', reason: 'No sensor data' } }];\n}\n\nconst minVal = Math.round(baseline * (1+0.01*$('Get Due Schedules').first().json.trigger_percentage));\nconst maxVal = minVal + 20;\n\nreturn [{\n  json: {\n    ...tracking,\n    minvalue: minVal,\n    maxvalue: maxVal,\n    type: 'HeartRate'\n  }\n}];"
      },
      "id": "2440730e-0292-43a3-a715-f12bf1dee67e",
      "name": "Calculate Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, active FROM feedback_config_rules WHERE type = $1 AND minvalue = $2 AND maxvalue = $3 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.type, $json.minvalue, $json.maxvalue] }}"
        }
      },
      "id": "43f103e7-242c-4b53-a5e7-c9c1b5f61bd5",
      "name": "Search for Existing Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        384,
        -304
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (type, active, minvalue, maxvalue, minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval) \nVALUES ('HeartRate', true, $1, $2, 5, 8, 200, 255, 400, 600, 50, 100);",
        "options": {
          "queryReplacement": "={{ [$node[\"Calculate Parameters\"].json.minvalue, $node[\"Calculate Parameters\"].json.maxvalue] }}"
        }
      },
      "id": "68d98b35-5b8d-45f6-bd96-3dded098e21a",
      "name": "Create New Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        752,
        -544
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules SET active = true WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "5074e150-c279-4a80-9f5a-65326e8679ed",
      "name": "Activate Existing Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        864,
        -320
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_schedules \nSET next_run_date = CURRENT_DATE + ($2 || ' days')::interval \nWHERE user_id = $1;",
        "options": {
          "queryReplacement": "={{ [$node[\"Calculate Parameters\"].json.user_id, $node[\"Calculate Parameters\"].json.interval_days] }}"
        }
      },
      "id": "f799c320-b0d3-4e2c-8894-d9e1b525f496",
      "name": "Update Next Run Date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        1312,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "14532383-37ca-452b-b6d8-09a93e651c69",
      "name": "Rule Doesn't Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        576,
        -304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecbd92ee-0e17-4467-93ac-759fcfce8971",
              "leftValue": "={{ $json.schedule_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        -304
      ],
      "id": "5b6130a0-63cc-4b4e-ba50-f1338b1da0df",
      "name": "If schedule is due"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -560,
        -320
      ],
      "id": "74e7fe3f-d86b-4b46-b1d1-52b24f836a8c",
      "name": "Loop Over Schedules"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.active }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "7004a713-843b-4988-b979-83d5a81d9704",
      "name": "Is the rule found Inactive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        704,
        -144
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        -80
      ],
      "id": "2eb31424-bac9-4772-b9d8-6ddf68fa198d",
      "name": "No schedules to examine"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "=average",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1e3e5652-6ee2-443c-ab64-62a264a7bd67"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2f1132-5731-4f01-92d4-fe27c2acdd86",
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "median",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08df6d97-9ae0-4878-9a79-c0da9c2f7c05",
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "mode",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -368,
        -320
      ],
      "id": "955b34bd-6cf6-4b68-9f4b-8628b6ad3ec4",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ROUND(AVG(value)) as measure FROM \"SensorData\" WHERE userID = $1 AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "d3e2dfa1-31bd-401c-bce7-f309935a9d3a",
      "name": "Get User Baselines avg",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -80,
        -496
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    ROUND(\n        percentile_cont(0.5) WITHIN GROUP (ORDER BY value)::numeric\n    ) as measure\nFROM \"SensorData\"\nWHERE userID = $1 \n  AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "aa3ef413-fa28-4025-b155-7f9c667812d0",
      "name": "Get User Baselines median",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -80,
        -304
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    mode() WITHIN GROUP (ORDER BY value) as measure\nFROM \"SensorData\"\nWHERE userID = $1 \n  AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "e3d2671d-7d78-4311-9f57-a641b11398d7",
      "name": "Get User Baselines mode",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -80,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const usecase = items[0].json.usecase_name;\nconst params = items[0].json.parameters;\n\nreturn params.map(p => ({\n  json: {\n    usecase_name: usecase,\n    parameter_name: p.parameter_name,\n    parameter_format: p.parameter_format,\n    is_required: p.is_required !== undefined ? p.is_required : true,\n    description: p.description || ''\n  }\n}));"
      },
      "id": "9fdc1f24-1891-4ed2-adec-887e14c68d2e",
      "name": "Format use-case Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        -256
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.\"UseCaseDictionary\" \n  (usecase_name, parameter_name, parameter_format, is_required, description) \nVALUES \n  ('{{ $json.usecase_name }}', '{{ $json.parameter_name }}', '{{ $json.parameter_format }}', {{ $json.is_required }}, '{{ $json.description }}')\nON CONFLICT (usecase_name, parameter_name) \nDO UPDATE SET \n  parameter_format = EXCLUDED.parameter_format,\n  is_required = EXCLUDED.is_required,\n  description = EXCLUDED.description;",
        "options": {}
      },
      "id": "45572472-ae82-49c3-9213-968cb25e3640",
      "name": "DB: SQL Insert use case",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2064,
        -256
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 201
        }
      },
      "id": "2913a548-4989-4897-acb6-4e10e80d4c9e",
      "name": "Respond Success use case added",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1840,
        -256
      ]
    },
    {
      "parameters": {
        "path": "get-use-case-params",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3179a117-7554-442f-becf-2b44666b727a",
      "name": "Webhook: Get use case Parameters",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2512,
        -80
      ],
      "webhookId": "2bfcdf3f-96a0-4dd1-9bfe-e0079c55f95c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM public.\"UseCaseDictionary\" WHERE usecase_name = '{{ $json.query.usecase_name }}';",
        "options": {}
      },
      "id": "4aeffbfb-1a42-4e02-8145-e6b8e034ea7e",
      "name": "DB: Fetch use case Parameters",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2288,
        -80
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "5c0fb07a-be60-4e84-86a1-075db4f18463",
      "name": "Respond with use case Params",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2064,
        -80
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2284d28b-6737-4f9a-8fdb-b92d91b4a768",
      "name": "Webhook: Add Schedule",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        224
      ],
      "webhookId": "19b747a8-b762-4c2a-a382-22075dc3a223"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    user_id: $json.user_id,\n    interval_days: parseInt($json.interval_days) || 7,\n    next_run_date: $json.next_run_date || new Date().toISOString(),\n    measure_type: $json.measure_type || 'avg',\n    trigger_percentage: parseFloat($json.trigger_percentage) || 10.0,\n    active: $json.active !== undefined ? $json.active : true\n  }\n}];"
      },
      "id": "6e578d3b-35d1-47d3-b6f6-cd3adf91cf5c",
      "name": "Format Schedule Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.\"Schedules\" \n  (user_id, interval_days, next_run_date, measure_type, trigger_percentage, active) \nVALUES \n  ({{ $json.user_id }}, {{ $json.interval_days }}, '{{ $json.next_run_date }}', '{{ $json.measure_type }}', {{ $json.trigger_percentage }}, {{ $json.active }});",
        "options": {}
      },
      "id": "39e8456e-1199-46bf-a345-6559ae2b62d0",
      "name": "DB: SQL Insert Schedule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        224
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 201
        }
      },
      "id": "5a21d311-6808-48df-a415-d0f3a16d0e81",
      "name": "Respond Success schedule added",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        224
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deactivate-schedule",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "956ecb23-faeb-46f9-9a88-6ac6b0d2a93b",
      "name": "Webhook: Deactivate Schedule",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        448
      ],
      "webhookId": "188a6735-2701-4247-82f7-a3f630b9f2da"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    schedule_id: $json.schedule_id\n  }\n}];"
      },
      "id": "f815cd96-f10f-4ba0-8110-d4652b61faaa",
      "name": "Extract Schedule ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        448
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE public.\"Schedules\" \nSET active = false \nWHERE id = {{ $json.schedule_id }};",
        "options": {}
      },
      "id": "a54f6eb0-8a69-4dc2-9575-b8e184996f40",
      "name": "DB: Set Active False",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        448
      ],
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e483f292-80c5-4409-b4ec-b2842d59777e",
      "name": "Respond Deactivated schedule",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -448,
        448
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get monitoring config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook Set monitoring type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assign usecase to user": {
      "main": [
        [
          {
            "node": "extract parameters for users and usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract parameters for users and usecase": {
      "main": [
        [
          {
            "node": "update user usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update user usecase": {
      "main": [
        [
          {
            "node": "format response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response5": {
      "main": [
        [
          {
            "node": "Respond to Webhook assign usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response6": {
      "main": [
        [
          {
            "node": "Respond to Webhook create usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create use case": {
      "main": [
        [
          {
            "node": "extract and validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract and validate": {
      "main": [
        [
          {
            "node": "insert use case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert use case": {
      "main": [
        [
          {
            "node": "format response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection": {
      "main": [
        [
          {
            "node": "Respond to Webhook Check Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add Mapping": {
      "main": [
        [
          {
            "node": "Split Array (If List)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array (If List)": {
      "main": [
        [
          {
            "node": "DB: Upsert Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Mapping ID": {
      "main": [
        [
          {
            "node": "Postgres: Deactivate Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Deactivate Rule": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook deactivated mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Mapping": {
      "main": [
        [
          {
            "node": "Extract Mapping ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Add Use Case": {
      "main": [
        [
          {
            "node": "Format use-case Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get usecases": {
      "main": [
        [
          {
            "node": "get usecase query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get usecase query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (00:01)": {
      "main": [
        [
          {
            "node": "Get Due Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Schedules": {
      "main": [
        [
          {
            "node": "If schedule is due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Parameters": {
      "main": [
        [
          {
            "node": "Search for Existing Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Existing Rule": {
      "main": [
        [
          {
            "node": "Rule Doesn't Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Rule": {
      "main": [
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Existing Rule": {
      "main": [
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Doesn't Exist?": {
      "main": [
        [
          {
            "node": "Create New Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is the rule found Inactive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If schedule is due": {
      "main": [
        [
          {
            "node": "Loop Over Schedules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No schedules to examine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Schedules": {
      "main": [
        [
          {
            "node": "No schedules to examine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the rule found Inactive?": {
      "main": [
        [
          {
            "node": "Activate Existing Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get User Baselines avg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Baselines median",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Baselines mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines avg": {
      "main": [
        [
          {
            "node": "Calculate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines median": {
      "main": [
        [
          {
            "node": "Calculate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines mode": {
      "main": [
        [
          {
            "node": "Calculate Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format use-case Parameters": {
      "main": [
        [
          {
            "node": "DB: SQL Insert use case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: SQL Insert use case": {
      "main": [
        [
          {
            "node": "Respond Success use case added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get use case Parameters": {
      "main": [
        [
          {
            "node": "DB: Fetch use case Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch use case Parameters": {
      "main": [
        [
          {
            "node": "Respond with use case Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Add Schedule": {
      "main": [
        [
          {
            "node": "Format Schedule Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Schedule Data": {
      "main": [
        [
          {
            "node": "DB: SQL Insert Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: SQL Insert Schedule": {
      "main": [
        [
          {
            "node": "Respond Success schedule added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Deactivate Schedule": {
      "main": [
        [
          {
            "node": "Extract Schedule ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Schedule ID": {
      "main": [
        [
          {
            "node": "DB: Set Active False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Set Active False": {
      "main": [
        [
          {
            "node": "Respond Deactivated schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8aae26a-613e-454f-88f0-46bb6add2cd8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb0aad79dd248c2481ecedc24aee38491247ebd354850a1c5b87cae205699cce"
  },
  "id": "Nmg5YCtndYDbzdGd",
  "tags": []
}