DB Manager.json
{
  "name": "DB Manager",
  "nodes": [
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -2080
      ],
      "id": "f1bf254a-99ed-47be-b7e2-b03212c4ff89",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -2080
      ],
      "id": "ad9315a3-fd10-4197-bcc9-a4d135444c70",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -1856
      ],
      "id": "089568aa-7a15-432b-ae52-cfef52d45df3",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -1856
      ],
      "id": "b18a6e09-21a9-4e7e-abaf-489034b22561",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        336,
        -2080
      ],
      "id": "cabdd388-1fa6-4dc5-8d84-40920edb19d8",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -1536
      ],
      "id": "b9384d66-6c32-43ea-87f6-304e99770486",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -1632
      ],
      "id": "13ad61fe-fd04-4abb-bb7d-4d48af4186a8",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        784,
        -1632
      ],
      "id": "dd58c745-7c0f-43d7-bfcb-3c1d2ae01025",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        336,
        -1440
      ],
      "id": "7a357d7c-6582-4b55-9c01-2dba6f55f3c7",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -1216
      ],
      "id": "6f9bf397-81b6-4cde-b5eb-543aabbd53e7",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -992
      ],
      "id": "4de86037-30f9-4ce3-b87a-8f00344b184d",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -752
      ],
      "id": "60c8fca3-ca6a-4ffe-896b-29a9fa676c0a",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "content": "## --IMPORTANT--\nRight now SET MONITORING TYPE sets the same usecase for all users.\nThis needs to change in order for each user to have a distinct usecase",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        -1008
      ],
      "typeVersion": 1,
      "id": "1b94f8b9-554d-40e1-9bed-9a62fef06596",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -1552
      ],
      "typeVersion": 1,
      "id": "deafad12-e236-46f4-99ee-acfafa3766f5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -2128
      ],
      "typeVersion": 1,
      "id": "e02801e6-67dd-401e-bd82-5ac06e432492",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -1904
      ],
      "typeVersion": 1,
      "id": "002d1912-7c32-4eef-bad5-883b2113b732",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.userid,\n    u.fname,\n    u.lname,\n    u.lastrequest,\n    u.active_usecase_id,\n    uc.name as usecase_name,\n    uc.description as usecase_description\nFROM \"User\" u\nLEFT JOIN \"UseCase\" uc ON u.active_usecase_id = uc.usecase_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -1856
      ],
      "id": "1e11f69a-c160-4302-96f8-e417a8df068b",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\nconst startDateRaw = q.start_date;\nconst endDateRaw = q.end_date;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\nlet dateTo = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  case \"custom\":\n  case \"Custom Date Range\":\n  case \"Custom+Date+Range\":\n    // Parse custom date range\n    if (startDateRaw) {\n      dateFrom = new Date(startDateRaw + \"T00:00:00\");\n    }\n    if (endDateRaw) {\n      // Set to end of day (23:59:59)\n      dateTo = new Date(endDateRaw + \"T23:59:59\");\n    }\n    break;\n  default:\n    dateFrom = null;\n    dateTo = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.usecase_id,\n         a.vibration_reason AS reason\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter - start date\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// time filter - end date (for custom range)\nif (dateTo) {\n  where.push(`sd.time <= $${p++}`);\n  params.push(dateTo.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.usecase_id = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\", dateFrom, dateTo }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -1536
      ],
      "id": "4a5def36-be38-4d10-8ed1-c814f039ecfe",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        -1536
      ],
      "id": "f22c0901-ff56-40c3-8fff-df091c6a95d2",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        -1632
      ],
      "id": "b62c44ea-3ed0-42df-9705-cdf0e792cd71",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -800
      ],
      "typeVersion": 1,
      "id": "6f5c33a8-0082-4c77-9e16-ff842b4220a8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -1024
      ],
      "typeVersion": 1,
      "id": "a04b15ab-d93e-439e-bf11-389678a4e544",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -992
      ],
      "id": "d8ccfa49-b481-4bda-a9fa-ba7bb65a99c4",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -752
      ],
      "id": "10352ffd-5d6e-4a13-b02d-3441fdd0e00d",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -1248
      ],
      "typeVersion": 1,
      "id": "b08e33fe-061f-42b7-a4e3-10cd3cdbfce2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nreturn [\n  {\n    json: {\n      rows\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -2080
      ],
      "id": "0ece21fa-b782-49b9-ab27-e024c65c9163",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/assign-usecase -H \"Content-Type: application/json\" -d \"{\\\"userId\\\": 100, \\\"usecaseId\\\": 3}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -528
      ],
      "typeVersion": 1,
      "id": "7a9c1f83-7aee-4f9d-86aa-eabe9c9b3ef6",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -480
      ],
      "id": "f70a776f-7557-482f-b985-c24229c5d880",
      "name": "assign usecase to user",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst userId = parseInt(body.userId);\nconst usecaseId = parseInt(body.usecaseId);\n\n// Validate inputs\nif (!userId || isNaN(userId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid userId\"\n    }\n  }];\n}\n\nif (!usecaseId || isNaN(usecaseId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid usecaseId\"\n    }\n  }];\n}\n\n// Return clean parameters for the database query\nreturn [{\n  json: {\n    userId: userId,\n    usecaseId: usecaseId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -480
      ],
      "id": "0483269e-a95b-4ae8-936a-92b4e61fdb05",
      "name": "extract parameters for users and usecase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" \nSET active_usecase_id = $2 \nWHERE userid = $1\nRETURNING userid, active_usecase_id;",
        "options": {
          "queryReplacement": "={{ [$json.userId, $json.usecaseId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -480
      ],
      "id": "59768963-2364-4087-85f7-241676caad6d",
      "name": "update user usecase",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"User not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Use case assigned successfully\",\n    data: {\n      userId: result.userid,\n      activeUsecaseId: result.active_usecase_id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -480
      ],
      "id": "06b4e107-b6e7-4971-92c2-b1272f0479d5",
      "name": "format response5"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -480
      ],
      "id": "6527c108-be3e-45e1-8724-9066f80a39c3",
      "name": "Respond to Webhook assign usecase"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/create-usecase -H \"Content-Type: application/json\" -d \"{\\\"name\\\": \\\"HeartRate\\\", \\\"description\\\": \\\"Duplicate test\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -304
      ],
      "typeVersion": 1,
      "id": "0dc13038-8a48-47ac-a496-3ce33cd936e4",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Check if this is an error from the database\nif (input.code || input.message) {\n  // Check if it's a duplicate key error (unique constraint violation)\n  if (input.code === '23505' || (input.message && input.message.includes('duplicate key'))) {\n    return [{\n      json: {\n        statusCode: 409,\n        error: \"A use case with this name already exists\"\n      }\n    }];\n  }\n  \n  // Other database errors\n  return [{\n    json: {\n      statusCode: 500,\n      error: \"Failed to create use case: \" + (input.message || \"Unknown error\")\n    }\n  }];\n}\n\n// Success case - format the successful insert result\nreturn [{\n  json: {\n    statusCode: 201,\n    message: \"Use case created successfully\",\n    data: {\n      usecaseId: input.usecase_id,\n      name: input.name,\n      description: input.description\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -256
      ],
      "id": "1b6d8f30-5664-40e3-8fbb-6c7b1c523232",
      "name": "format response6",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -256
      ],
      "id": "a187f825-e5c0-4a8a-8ac9-9f17a5bdeda7",
      "name": "create use case",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst name = body.name?.trim();\nconst description = body.description?.trim() || null;\n\n// Validate name is required\nif (!name) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name is required\"\n    }\n  }];\n}\n\n// Validate name length (max 50 chars per your DB schema)\nif (name.length > 50) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name must be 50 characters or less\"\n    }\n  }];\n}\n\n// Return clean parameters\nreturn [{\n  json: {\n    name: name,\n    description: description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -256
      ],
      "id": "58efec9b-a167-4430-8ee4-d2cfecc4a73d",
      "name": "extract and validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"UseCase\" (name, description) \nVALUES ('{{ $json.name }}', '{{ $json.description }}')\nRETURNING usecase_id, name, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        96,
        -256
      ],
      "id": "3f6c3983-5abc-4289-afac-4010a78f5651",
      "name": "insert use case",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        -256
      ],
      "id": "f039dbb4-24e6-449d-954e-65418986dbdc",
      "name": "Respond to Webhook create usecase"
    },
    {
      "parameters": {
        "content": "## Check connection\ncurl -X POST http://localhost:5678/webhook-test/check-connection",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -80
      ],
      "typeVersion": 1,
      "id": "bb7557ff-3bf1-4b88-b4c2-cba4916d0395",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -992
      ],
      "id": "e32b8437-74f7-4e4e-b340-09c6bba17d3f",
      "name": "Respond to Webhook Get monitoring config"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        112,
        -752
      ],
      "id": "ddb35cc9-db74-40e8-bf5d-235f3506e061",
      "name": "Respond to Webhook Set monitoring type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-connection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1169258-d56f-4e81-a739-42c84ba23e2f",
      "name": "Check Connection",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -48
      ],
      "webhookId": "a9d1958f-39d3-46b3-b200-f5979feacf97"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "4d391799-72e8-4e27-b4f5-669b3100a503",
      "name": "Respond to Webhook Check Connection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        -48
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-rules",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1552,
        -2112
      ],
      "id": "1a89fa9f-311e-49b9-8463-2a95ab5c066d",
      "name": "add Mapping",
      "webhookId": "9d253cce-73cb-4598-a738-2f8e053a8309"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "name": "Split Array (If List)",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        1792,
        -2112
      ],
      "notesInFlow": true,
      "id": "7cc387a3-a4c2-452d-8635-62fb233beed1",
      "typeVersion": 3.1,
      "notes": "Ensures n8n loops through each rule if Java sends a List<SensorRuleConfig>"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n    type, \n    minvalue, maxvalue, \n    minpulses, maxpulses, \n    minintensity, maxintensity, \n    minduration, maxduration, \n    mininterval, maxinterval, \n    active\n) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n);",
        "options": {
          "queryReplacement": "={{ $json[\"0\"].type }}, {{ $json[\"0\"].minvalue }}, {{ $json[\"0\"].maxvalue }},{{ $json[\"0\"].minpulses }}, {{ $json[\"0\"].maxpulses }}, {{ $json[\"0\"].minintensity }}, {{ $json[\"0\"].maxintensity }},{{ $json[\"0\"].minduration }},{{ $json[\"0\"].maxduration }},{{ $json[\"0\"].mininterval }},{{ $json[\"0\"].maxinterval }},{{ $json[\"0\"].active }}"
        }
      },
      "name": "DB: Upsert Rule",
      "type": "n8n-nodes-base.postgres",
      "position": [
        2000,
        -2112
      ],
      "id": "4c4249cf-8fbb-4c80-84bd-d9e170c7e876",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "Check what we should do when having duplicate data"
    },
    {
      "parameters": {
        "content": "## generic add mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -2144
      ],
      "typeVersion": 1,
      "id": "eb9744b9-17a8-4476-922d-9c4da1ec5789",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst mappingId = parseInt(body.mappingId);\n\nif (!mappingId || isNaN(mappingId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid mappingId\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    mappingId: mappingId\n  }\n}];"
      },
      "id": "f4b53ca3-137a-48e4-9c75-778ad6bdacf3",
      "name": "Extract Mapping ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -1776
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules \nSET active = false \nWHERE id = $1\nRETURNING id, active, type;",
        "options": {
          "queryReplacement": "={{ [$json.mappingId] }}"
        }
      },
      "id": "417dcab7-788d-448f-a2c0-ef83367a4096",
      "name": "Postgres: Deactivate Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        -1776
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || Object.keys(result).length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"Mapping ID not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Mapping deactivated successfully\",\n    data: {\n      mappingId: result.id,\n      sensor: result.sensorname,\n      active: result.isactive\n    }\n  }\n}];"
      },
      "id": "4f2e0cc4-34aa-443b-8755-6b970c6b3c3c",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -1776
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deactivate-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b75dc9f2-166b-41e5-96aa-afbd29f22048",
      "name": "Deactivate Mapping",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1552,
        -1776
      ],
      "webhookId": "9c75af57-eec3-458e-8ee5-d541d853e577"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "04276418-6ed2-482f-9930-6f8f0a7c7e09",
      "name": "Respond to Webhook deactivated mapping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2432,
        -1776
      ]
    },
    {
      "parameters": {
        "content": "## generic deactivate mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1248,
        -1808
      ],
      "typeVersion": 1,
      "id": "fb686221-492a-4828-917b-9ca34eb5db37",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "get-use-case-params",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a8c9e51c-e103-4139-a556-e88bece2ed11",
      "name": "Webhook: Get Parameters",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3936,
        -1904
      ],
      "webhookId": "2bfcdf3f-96a0-4dd1-9bfe-e0079c55f95c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM public.\"UseCaseDictionary\" WHERE usecase_name = '{{ $json.query.usecase_name }}';",
        "options": {}
      },
      "id": "f343c0d5-fb7a-4294-8665-e37abf6add0f",
      "name": "DB: Fetch Parameters",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        -1904
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "a230fafd-107c-4454-9476-36167e003bff",
      "name": "Respond with Params",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4384,
        -1904
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-use-case",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "32c077d3-9eca-477a-bb06-e15a780e084a",
      "name": "Webhook: Add Use Case",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3936,
        -2080
      ],
      "webhookId": "39bb5e0b-da2e-43e1-9a7a-cebab0e42b37"
    },
    {
      "parameters": {
        "jsCode": "const usecase = items[0].json.usecase_name;\nconst params = items[0].json.parameters;\n\nreturn params.map(p => ({\n  json: {\n    usecase_name: usecase,\n    parameter_name: p.parameter_name,\n    parameter_format: p.parameter_format,\n    is_required: p.is_required !== undefined ? p.is_required : true,\n    description: p.description || ''\n  }\n}));"
      },
      "id": "a5bff605-aae9-472b-9e2a-0f2316be5929",
      "name": "Format Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4160,
        -2080
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO public.\"UseCaseDictionary\" \n  (usecase_name, parameter_name, parameter_format, is_required, description) \nVALUES \n  ('{{ $json.usecase_name }}', '{{ $json.parameter_name }}', '{{ $json.parameter_format }}', {{ $json.is_required }}, '{{ $json.description }}')\nON CONFLICT (usecase_name, parameter_name) \nDO UPDATE SET \n  parameter_format = EXCLUDED.parameter_format,\n  is_required = EXCLUDED.is_required,\n  description = EXCLUDED.description;",
        "options": {}
      },
      "id": "cc17d3c7-4273-49d5-8a49-d4b111348193",
      "name": "DB: SQL Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4384,
        -2080
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 201
        }
      },
      "id": "14b74f4a-2404-49a7-bf59-57b034b1d812",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        4608,
        -2080
      ]
    },
    {
      "parameters": {
        "content": "## Use-case dictionary"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3600,
        -2080
      ],
      "typeVersion": 1,
      "id": "154e62c6-1cef-4fcb-a53f-627b8b0fbb4e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -1216
      ],
      "id": "d72b1221-cfe3-4f70-ab7f-14942e49c6ff",
      "name": "Get usecases",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT usecase_id AS sensorid, name FROM \"UseCase\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -128,
        -1216
      ],
      "id": "1a7bda50-7cdd-49cc-b646-5b235f304123",
      "name": "get usecase query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get monitoring config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook Set monitoring type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assign usecase to user": {
      "main": [
        [
          {
            "node": "extract parameters for users and usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract parameters for users and usecase": {
      "main": [
        [
          {
            "node": "update user usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update user usecase": {
      "main": [
        [
          {
            "node": "format response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response5": {
      "main": [
        [
          {
            "node": "Respond to Webhook assign usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response6": {
      "main": [
        [
          {
            "node": "Respond to Webhook create usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create use case": {
      "main": [
        [
          {
            "node": "extract and validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract and validate": {
      "main": [
        [
          {
            "node": "insert use case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert use case": {
      "main": [
        [
          {
            "node": "format response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection": {
      "main": [
        [
          {
            "node": "Respond to Webhook Check Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add Mapping": {
      "main": [
        [
          {
            "node": "Split Array (If List)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array (If List)": {
      "main": [
        [
          {
            "node": "DB: Upsert Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Mapping ID": {
      "main": [
        [
          {
            "node": "Postgres: Deactivate Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Deactivate Rule": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook deactivated mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Mapping": {
      "main": [
        [
          {
            "node": "Extract Mapping ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Get Parameters": {
      "main": [
        [
          {
            "node": "DB: Fetch Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: Fetch Parameters": {
      "main": [
        [
          {
            "node": "Respond with Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Add Use Case": {
      "main": [
        [
          {
            "node": "Format Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Parameters": {
      "main": [
        [
          {
            "node": "DB: SQL Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB: SQL Insert": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get usecases": {
      "main": [
        [
          {
            "node": "get usecase query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get usecase query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd682b60-c279-4da8-823e-bdc1a1dd9590",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "nFeUS2F9bOFH6AUd",
  "tags": []
}