DB Manager.json
{
  "name": "DB Manager",
  "nodes": [
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        1104
      ],
      "id": "3dca93b3-dc49-4c39-9cce-e69710198d0c",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5680,
        1104
      ],
      "id": "0cb12807-fa53-4c12-a349-e77c80fe4fb3",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        1328
      ],
      "id": "41a896da-6494-4608-b964-26c8dbfe1f48",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5440,
        1328
      ],
      "id": "b52c079d-5aeb-4ebb-bcd7-3079bf6d03af",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5216,
        1104
      ],
      "id": "e1b7469a-02a3-4162-914d-f9bbc276136e",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        1648
      ],
      "id": "81834f46-7a8b-4928-bc8a-03604a8168a3",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4768,
        1552
      ],
      "id": "80b0de44-417d-4392-a94f-cfc792c1e077",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse sensor data request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5216,
        1744
      ],
      "id": "513b618c-0313-4586-be46-f98f96388290",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5440,
        1968
      ],
      "id": "4c962c45-8e87-4345-b50f-ba46b62b362d",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        2192
      ],
      "id": "67ea2b37-7b4c-47f5-a2a2-4e99e089cbea",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        2432
      ],
      "id": "032ad1f9-9e3c-4e82-8b31-7b01506b5831",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "content": "## SET MONITORING TYPE\nAssigns a monitoring type (usecase) to a specific user.\nEach user can now have a different monitoring type.",
        "height": 208,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4832,
        2384
      ],
      "typeVersion": 1,
      "id": "87782067-5c01-4a0e-9856-a3bf5f5c7b3d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        1632
      ],
      "typeVersion": 1,
      "id": "d6c10bbe-feb6-4f5f-b87d-ffd5a5d2fe26",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        1056
      ],
      "typeVersion": 1,
      "id": "6f0c5daf-5f1e-4066-8c78-308324f82b0e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        1280
      ],
      "typeVersion": 1,
      "id": "d14f88df-e167-4137-9f44-053d013a689d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.userid,\n    u.fname,\n    u.lname,\n    u.lastrequest,\n    u.active_usecase_id,\n    uc.name as usecase_name,\n    uc.description as usecase_description\nFROM \"User\" u\nLEFT JOIN \"UseCase\" uc ON u.active_usecase_id = uc.usecase_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5680,
        1328
      ],
      "id": "63b675a5-ab0c-475e-bd0a-6fc0a5a40a32",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5216,
        1552
      ],
      "id": "39f13fea-530e-4ee5-8909-dcfdc7f637e9",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"userId\\\": 100, \\\"monitoringType\\\": \\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        2384
      ],
      "typeVersion": 1,
      "id": "78f0d054-0c28-43f3-9acf-6aecd8a63c49",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        2160
      ],
      "typeVersion": 1,
      "id": "07e7a364-0da5-47bb-804d-46a75d052113",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        2192
      ],
      "id": "82b1eb28-5bd9-4e0d-80da-dccd995e4981",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        1936
      ],
      "typeVersion": 1,
      "id": "a3eb3204-6ece-4417-af30-6ea2e2fbf701",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/assign-usecase -H \"Content-Type: application/json\" -d \"{\\\"userId\\\": 100, \\\"usecaseId\\\": 3}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        2656
      ],
      "typeVersion": 1,
      "id": "1b0ae8e2-bba2-46d8-b1d1-afbc72967bf5",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        2704
      ],
      "id": "3e119af1-80d2-4865-a9a9-6fbac17b7b5f",
      "name": "assign usecase to user",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst userId = parseInt(body.userId);\nconst usecaseId = parseInt(body.usecaseId);\n\n// Validate inputs\nif (!userId || isNaN(userId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid userId\"\n    }\n  }];\n}\n\nif (!usecaseId || isNaN(usecaseId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid usecaseId\"\n    }\n  }];\n}\n\n// Return clean parameters for the database query\nreturn [{\n  json: {\n    userId: userId,\n    usecaseId: usecaseId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        2704
      ],
      "id": "1fcfa058-d13c-4d59-b75b-b2b04e93fe91",
      "name": "extract parameters for users and usecase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" \nSET active_usecase_id = $2 \nWHERE userid = $1\nRETURNING userid, active_usecase_id;",
        "options": {
          "queryReplacement": "={{ [$json.userId, $json.usecaseId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5456,
        2704
      ],
      "id": "588522f4-3878-478a-b4b8-c2455a3e2675",
      "name": "update user usecase",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5056,
        2704
      ],
      "id": "35e01975-d6ef-4959-b871-3c7c5e4770f1",
      "name": "Respond to Webhook assign usecase"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/create-usecase -H \"Content-Type: application/json\" -d \"{\\\"name\\\": \\\"HeartRate\\\", \\\"description\\\": \\\"Duplicate test\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        2880
      ],
      "typeVersion": 1,
      "id": "7c3a3dda-5aa6-4201-9b4b-ec584417677c",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        2928
      ],
      "id": "62d864f6-1e1e-484b-9c6a-5381fd7df795",
      "name": "create use case",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst name = body.name?.trim();\nconst description = body.description?.trim() || null;\n\n// Validate name is required\nif (!name) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name is required\"\n    }\n  }];\n}\n\n// Validate name length (max 50 chars per your DB schema)\nif (name.length > 50) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name must be 50 characters or less\"\n    }\n  }];\n}\n\n// Return clean parameters\nreturn [{\n  json: {\n    name: name,\n    description: description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        2928
      ],
      "id": "e83fb123-cd30-4bc5-81a6-7fc8ded2592c",
      "name": "extract and validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"UseCase\" (name, description) \nVALUES ('{{ $json.name }}', '{{ $json.description }}')\nRETURNING usecase_id, name, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5456,
        2928
      ],
      "id": "ad3b36ad-459a-46cb-95fa-c3519aeb01e2",
      "name": "insert use case",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5056,
        2928
      ],
      "id": "bbadeb22-f3ee-45ef-9373-b64c26e4c7cf",
      "name": "Respond to Webhook create usecase"
    },
    {
      "parameters": {
        "content": "## Check connection\ncurl -X POST http://localhost:5678/webhook-test/check-connection",
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6176,
        3120
      ],
      "typeVersion": 1,
      "id": "69375629-47e4-4a24-b446-132b474671ce",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5440,
        2192
      ],
      "id": "4847a7b5-d47e-44f3-af6a-2d583e7116c7",
      "name": "Respond to Webhook Get monitoring config"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" \nSET active_usecase_id = (SELECT usecase_id FROM \"UseCase\" WHERE name = $2)\nWHERE userid = $1\nRETURNING userid, active_usecase_id;",
        "options": {
          "queryReplacement": "={{ [$json.userId, $json.monitoringType] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5456,
        2432
      ],
      "id": "f2a2af74-5a06-45fb-8c40-380f69981409",
      "name": "update user monitoring type",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      payload: { error: \"User or monitoring type not found\" }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    payload: {\n      status: \"success\",\n      data: {\n        userId: result.userid,\n        activeUsecaseId: result.active_usecase_id\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5264,
        2432
      ],
      "id": "121c78f7-5927-4dbb-b6a5-462eee35890d",
      "name": "format response set monitoring type"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5056,
        2432
      ],
      "id": "e2495ba1-7d2e-43a5-8a37-42a4f5c2bba3",
      "name": "Respond to Webhook Set monitoring type"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-connection",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0121ed7b-5d81-49c7-878d-c048ccce8bbd",
      "name": "Check Connection",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        3152
      ],
      "webhookId": "a9d1958f-39d3-46b3-b200-f5979feacf97"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "id": "63fafdcc-49a7-47f3-9292-89589a8bb026",
      "name": "Respond to Webhook Check Connection",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5680,
        3152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-rules",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4000,
        1072
      ],
      "id": "489841dd-e333-4fef-b8ea-471bfec99bd6",
      "name": "add Mapping",
      "webhookId": "9d253cce-73cb-4598-a738-2f8e053a8309"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n    type, \n    minvalue, maxvalue, \n    minpulses, maxpulses, \n    minintensity, maxintensity, \n    minduration, maxduration, \n    mininterval, maxinterval, \n    active\n) VALUES (\n    $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n);",
        "options": {
          "queryReplacement": "={{ $json[\"0\"].type }}, {{ $json[\"0\"].minvalue }}, {{ $json[\"0\"].maxvalue }},{{ $json[\"0\"].minpulses }}, {{ $json[\"0\"].maxpulses }}, {{ $json[\"0\"].minintensity }}, {{ $json[\"0\"].maxintensity }},{{ $json[\"0\"].minduration }},{{ $json[\"0\"].maxduration }},{{ $json[\"0\"].mininterval }},{{ $json[\"0\"].maxinterval }},{{ $json[\"0\"].active }}"
        }
      },
      "name": "DB: Upsert Rule",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3552,
        1072
      ],
      "id": "717dee2d-9078-4029-bcc7-77c15de14601",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "Check what we should do when having duplicate data"
    },
    {
      "parameters": {
        "content": "## generic add mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4304,
        1040
      ],
      "typeVersion": 1,
      "id": "5627dcd8-7b22-4a96-b1c7-b8fe538c1422",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst mappingId = parseInt(body.mappingId);\n\nif (!mappingId || isNaN(mappingId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid mappingId\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    mappingId: mappingId\n  }\n}];"
      },
      "id": "70349522-31e9-4e1f-b427-61b1186890c2",
      "name": "Extract Mapping ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3776,
        1408
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules \nSET active = false \nWHERE id = $1\nRETURNING id, active, type;",
        "options": {
          "queryReplacement": "={{ [$json.mappingId] }}"
        }
      },
      "id": "8acddc57-60b1-4120-b4e8-719876c0a2b1",
      "name": "Postgres: Deactivate Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3552,
        1408
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "deactivate-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b15736c8-503e-42e3-8f30-1e67d2f510b0",
      "name": "Deactivate Mapping",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4000,
        1408
      ],
      "webhookId": "9c75af57-eec3-458e-8ee5-d541d853e577"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "6da0c544-8675-42bd-95ac-60ac0a1c384a",
      "name": "Respond to Webhook deactivated mapping",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3104,
        1408
      ]
    },
    {
      "parameters": {
        "content": "## generic deactivate mapping flow"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4304,
        1376
      ],
      "typeVersion": 1,
      "id": "82cd77ef-b6b5-4646-bcd7-3349734fa542",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -5904,
        1968
      ],
      "id": "bad662ac-bcfb-4eec-addc-615edbd4bb52",
      "name": "Get usecases",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"UseCase\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5680,
        1968
      ],
      "id": "456aa590-ad3b-4a66-9522-e9843014dd21",
      "name": "get usecase query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Heart Rate Personalization"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2656,
        1056
      ],
      "typeVersion": 1,
      "id": "27b24f55-8779-453d-96cd-d1adbbd8deaf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "1 0 * * *"
            }
          ]
        }
      },
      "id": "12c1bab6-6953-4a25-a72b-68fa6ff7dd64",
      "name": "Daily Trigger (00:01)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -2320,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM user_schedules WHERE next_run_date <= CURRENT_DATE and active = TRUE;",
        "options": {}
      },
      "id": "ab62d016-6c3a-4d79-b087-664c398c5286",
      "name": "Get Due Schedules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -2112,
        1040
      ],
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, active FROM feedback_config_rules WHERE type = $1 AND minvalue = $2 AND maxvalue = $3 LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.type, $json.minvalue, $json.maxvalue] }}"
        }
      },
      "id": "f6d13192-f302-4862-97ab-8e35e5247038",
      "name": "Search for Existing Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -816,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (type, active, minvalue, maxvalue, minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval) \nVALUES ('HeartRate', true, $1, $2, 5, 8, 200, 255, 400, 600, 50, 100);",
        "options": {
          "queryReplacement": "={{ [$node[\"Calculate new rule Parameters\"].json.minvalue, $node[\"Calculate new rule Parameters\"].json.maxvalue] }}"
        }
      },
      "id": "c8cd8504-fb36-49f5-8d08-4a6c0fa1eee0",
      "name": "Create New Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -448,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules SET active = true WHERE id = $1;",
        "options": {
          "queryReplacement": "={{ [$json.id] }}"
        }
      },
      "id": "a379be0e-0006-4c86-bbeb-ded3b08b9dc1",
      "name": "Activate Existing Rule",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -336,
        1024
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_schedules \nSET next_run_date = CURRENT_DATE + ($2 || ' days')::interval \nWHERE user_id = $1;",
        "options": {
          "queryReplacement": "={{ [$node[\"Calculate new rule Parameters\"].json.user_id, $node[\"Calculate new rule Parameters\"].json.interval_days] }}"
        }
      },
      "id": "348bbde5-fe52-47d3-97ed-ae49215018a4",
      "name": "Update Next Run Date",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        112,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isEmpty"
            }
          ]
        }
      },
      "id": "d14fd785-587a-4b4a-83b7-37601843709e",
      "name": "Rule Doesn't Exist?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -624,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ecbd92ee-0e17-4467-93ac-759fcfce8971",
              "leftValue": "={{ $json.schedule_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        1040
      ],
      "id": "03be700d-30e2-4012-9d58-9fa9a765b9f9",
      "name": "If schedule is due"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1760,
        1024
      ],
      "id": "165c016c-9035-4647-9675-90df0ba39aed",
      "name": "Loop Over Schedules"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.active }}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "061f85cc-cc99-4d63-825d-61bcccb20c55",
      "name": "Is the rule found Inactive?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -496,
        1200
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1648,
        1264
      ],
      "id": "d99ecd7d-156a-4eaa-acf5-6329867c67c3",
      "name": "No schedules to examine"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ROUND(AVG(value)) as measure FROM \"SensorData\" WHERE userID = $1 AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "68a76818-034a-4ef5-b695-9f8cd7cf44e1",
      "name": "Get User Baselines avg",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -1280,
        848
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    ROUND(\n        percentile_cont(0.5) WITHIN GROUP (ORDER BY value)::numeric\n    ) as measure\nFROM \"SensorData\"\nWHERE userID = $1 \n  AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "d55eb644-152e-4d46-996c-c3629a780e51",
      "name": "Get User Baselines median",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -1280,
        1040
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    mode() WITHIN GROUP (ORDER BY value) as measure\nFROM \"SensorData\"\nWHERE userID = $1 \n  AND time > NOW() - ($2 || ' days')::interval;",
        "options": {
          "queryReplacement": "={{ [$json.user_id, $json.interval_days] }}"
        }
      },
      "id": "d9add84e-5fbd-4209-9464-1a0bc72407b5",
      "name": "Get User Baselines mode",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -1280,
        1280
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nreturn [\n  {\n    json: {\n      rows\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5440,
        1104
      ],
      "id": "9708774f-bac3-407b-8296-66ac13b7ae9f",
      "name": "Setting up configutations response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\nconst startDateRaw = q.start_date;\nconst endDateRaw = q.end_date;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\nlet dateTo = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  case \"custom\":\n  case \"Custom Date Range\":\n  case \"Custom+Date+Range\":\n    // Parse custom date range\n    if (startDateRaw) {\n      dateFrom = new Date(startDateRaw + \"T00:00:00\");\n    }\n    if (endDateRaw) {\n      // Set to end of day (23:59:59)\n      dateTo = new Date(endDateRaw + \"T23:59:59\");\n    }\n    break;\n  default:\n    dateFrom = null;\n    dateTo = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.usecase_id,\n         a.vibration_reason AS reason\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter - start date\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// time filter - end date (for custom range)\nif (dateTo) {\n  where.push(`sd.time <= $${p++}`);\n  params.push(dateTo.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.usecase_id = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\", dateFrom, dateTo }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        1648
      ],
      "id": "58e86c15-58fd-4ec7-bdae-02871a38d03d",
      "name": "parse sensor data request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5440,
        1648
      ],
      "id": "6f6210ad-bfe7-451f-9121-b0980c629963",
      "name": "If sensor database not empty"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4992,
        1552
      ],
      "id": "12f77937-efc2-4b20-b944-ce0075c75e4a",
      "name": "check if sensor data query empty"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"User not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Use case assigned successfully\",\n    data: {\n      userId: result.userid,\n      activeUsecaseId: result.active_usecase_id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5264,
        2704
      ],
      "id": "1b319d96-3e55-4b0c-a1f0-c985132660cb",
      "name": "format response assign usecase to user"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Check if this is an error from the database\nif (input.code || input.message) {\n  // Check if it's a duplicate key error (unique constraint violation)\n  if (input.code === '23505' || (input.message && input.message.includes('duplicate key'))) {\n    return [{\n      json: {\n        statusCode: 409,\n        error: \"A use case with this name already exists\"\n      }\n    }];\n  }\n  \n  // Other database errors\n  return [{\n    json: {\n      statusCode: 500,\n      error: \"Failed to create use case: \" + (input.message || \"Unknown error\")\n    }\n  }];\n}\n\n// Success case - format the successful insert result\nreturn [{\n  json: {\n    statusCode: 201,\n    message: \"Use case created successfully\",\n    data: {\n      usecaseId: input.usecase_id,\n      name: input.name,\n      description: input.description\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        2928
      ],
      "id": "8b789a76-72c9-42d5-9c01-32ce015686d7",
      "name": "format response insert usecase",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body",
        "options": {}
      },
      "name": "Split Array of mapping (If List)",
      "type": "n8n-nodes-base.itemLists",
      "position": [
        -3760,
        1072
      ],
      "notesInFlow": true,
      "id": "a9fecf67-6ec9-463b-bb06-0df58c5a7904",
      "typeVersion": 3.1,
      "notes": "Ensures n8n loops through each rule if Java sends a List<SensorRuleConfig>"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || Object.keys(result).length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"Mapping ID not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Mapping deactivated successfully\",\n    data: {\n      mappingId: result.id,\n      sensor: result.sensorname,\n      active: result.isactive\n    }\n  }\n}];"
      },
      "id": "ea6caa08-4aee-4438-9770-81a3b65a1b12",
      "name": "Format Final Response deactivate mapping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3328,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const baseline = $input.first().json.measure;\nconst schedule = $('Get Due Schedules').first().json;\n\n// Tracking object for performance monitoring\nconst tracking = {\n  user_id: schedule.user_id,\n  interval_days: schedule.interval_days || 7,\n  processed_at: new Date().toISOString(),\n  status: 'calculated'\n};\n\nif (!baseline) {\n  return [{ json: { ...tracking, status: 'skipped', reason: 'No sensor data' } }];\n}\n\nconst minVal = Math.round(baseline * (1+0.01*$('Get Due Schedules').first().json.trigger_percentage));\nconst maxVal = minVal + 20;\n\nreturn [{\n  json: {\n    ...tracking,\n    minvalue: minVal,\n    maxvalue: maxVal,\n    type: 'HeartRate'\n  }\n}];"
      },
      "id": "e500f6d7-b0de-4468-955c-75b7dee4c094",
      "name": "Calculate new rule Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        1040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "=average",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1e3e5652-6ee2-443c-ab64-62a264a7bd67"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd2f1132-5731-4f01-92d4-fe27c2acdd86",
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "median",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08df6d97-9ae0-4878-9a79-c0da9c2f7c05",
                    "leftValue": "={{ $json.measure_type }}",
                    "rightValue": "mode",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1568,
        1024
      ],
      "id": "cd61bb4d-6d5f-4bed-a02e-522a5a6a940f",
      "name": "Switch between measures"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst usecaseId = parseInt(body.usecase_id, 10);\nconst interval = body.interval;\n\nif (!usecaseId || isNaN(usecaseId) || !interval) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid input\"\n    }\n  }];\n}\n\nif (!/^\\d+(\\.\\d+)?\\s+(second|seconds|minute|minutes|hour|hours|day|days)$/i.test(interval)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Invalid interval format. Use values like '30 seconds', '1 minute', '2 hours'\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    usecaseId,\n    interval\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        1760
      ],
      "id": "08e0d871-a8d2-41c8-ab0c-6cf85bac41ea",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"UseCase\"\nSET log_interval = $2::interval\nWHERE usecase_id = $1\nRETURNING usecase_id, log_interval;",
        "options": {
          "queryReplacement": "={{ [$json.usecaseId, $json.interval] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3568,
        1760
      ],
      "id": "87784db3-9227-450a-9fc1-3012e80f772e",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-logging-interval",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4016,
        1760
      ],
      "id": "2131f711-6bb2-4a52-9439-a37777f99c2c",
      "name": "set Logging Interval",
      "webhookId": "568708b2-aae2-4fc5-bd57-a815f86c9dfd"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || Object.keys(result).length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"UseCase not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Logging interval updated successfully\",\n    data: {\n      usecaseId: result.usecase_id,\n      logInterval: result.log_interval\n    }\n  }\n}];"
      },
      "id": "2f9818e3-b814-45d5-b851-76584991c5cd",
      "name": "Format Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        1760
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "id": "b2233c63-365b-421a-9f71-b32d1636c25f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3120,
        1760
      ]
    },
    {
      "parameters": {
        "content": "## edit logging interval for use cases\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4320,
        1744
      ],
      "typeVersion": 1,
      "id": "0be4aee5-854f-4b9e-abc2-610d9c1937a0",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## edit users info"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4320,
        2096
      ],
      "typeVersion": 1,
      "id": "203716f2-a5e6-4853-aa0d-9645f9b05559",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edit-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4016,
        2128
      ],
      "id": "f6ac614e-9364-4fdb-b6d6-8b2935f74bda",
      "name": "edit users",
      "webhookId": "ac4ac46a-8d37-4510-bd78-070d23d78298"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst fName = body.fName;\nconst lName = body.lName;\nconst id = Number(body.userId);\n\nif (!fName || !lName || !id || isNaN(id)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid mappingId\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    fName: fName,\n    lName: lName, \n    id: id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3792,
        2128
      ],
      "id": "a667c2a0-43a6-48c8-a35f-ac2296273a75",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET fname = $1, lname = $2\nWHERE userid = $3\nRETURNING userid;",
        "options": {
          "queryReplacement": "={{ [$json.fName, $json.lName, $json.id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3568,
        2128
      ],
      "id": "158334e5-0b96-47b9-9fb7-55fa07920e62",
      "name": "edit names query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || Object.keys(result).length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"User not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"User name updated successfully\",\n    data: {\n      userId: result.userid\n    }\n  }\n}];"
      },
      "id": "3b42837f-9695-47d6-96cc-76d08b3efccc",
      "name": "Format Final Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        2128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3120,
        2128
      ],
      "id": "483e912b-770a-4022-a1d6-c7fe60dcf4c8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\n// Webhook v2.1 sometimes nests under .body, sometimes puts it at root\nconst body = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\n\nconst userId = parseInt(body.userId);\nconst monitoringType = body.monitoringType?.trim();\n\nif (!userId || isNaN(userId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      payload: { error: \"Missing or invalid userId\" }\n    }\n  }];\n}\n\nif (!monitoringType) {\n  return [{\n    json: {\n      statusCode: 400,\n      payload: { error: \"Missing monitoringType\" }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    userId: userId,\n    monitoringType: monitoringType\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        2432
      ],
      "id": "1d574c86-72e6-40fb-9802-e6ed3ed07853",
      "name": "extract and validate parameters"
    }
  ],
  "pinData": {},
  "connections": {
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up configutations response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse sensor data request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "extract and validate parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if sensor data query empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get monitoring config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assign usecase to user": {
      "main": [
        [
          {
            "node": "extract parameters for users and usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract parameters for users and usecase": {
      "main": [
        [
          {
            "node": "update user usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update user usecase": {
      "main": [
        [
          {
            "node": "format response assign usecase to user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create use case": {
      "main": [
        [
          {
            "node": "extract and validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract and validate": {
      "main": [
        [
          {
            "node": "insert use case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert use case": {
      "main": [
        [
          {
            "node": "format response insert usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection": {
      "main": [
        [
          {
            "node": "Respond to Webhook Check Connection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add Mapping": {
      "main": [
        [
          {
            "node": "Split Array of mapping (If List)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Mapping ID": {
      "main": [
        [
          {
            "node": "Postgres: Deactivate Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Deactivate Rule": {
      "main": [
        [
          {
            "node": "Format Final Response deactivate mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deactivate Mapping": {
      "main": [
        [
          {
            "node": "Extract Mapping ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get usecases": {
      "main": [
        [
          {
            "node": "get usecase query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get usecase query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (00:01)": {
      "main": [
        [
          {
            "node": "Get Due Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Schedules": {
      "main": [
        [
          {
            "node": "If schedule is due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search for Existing Rule": {
      "main": [
        [
          {
            "node": "Rule Doesn't Exist?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Rule": {
      "main": [
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Activate Existing Rule": {
      "main": [
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Doesn't Exist?": {
      "main": [
        [
          {
            "node": "Create New Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is the rule found Inactive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If schedule is due": {
      "main": [
        [
          {
            "node": "Loop Over Schedules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No schedules to examine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Schedules": {
      "main": [
        [
          {
            "node": "No schedules to examine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch between measures",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is the rule found Inactive?": {
      "main": [
        [
          {
            "node": "Activate Existing Rule",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Next Run Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines avg": {
      "main": [
        [
          {
            "node": "Calculate new rule Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines median": {
      "main": [
        [
          {
            "node": "Calculate new rule Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Baselines mode": {
      "main": [
        [
          {
            "node": "Calculate new rule Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up configutations response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse sensor data request": {
      "main": [
        [
          {
            "node": "If sensor database not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If sensor database not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if sensor data query empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update user monitoring type": {
      "main": [
        [
          {
            "node": "format response set monitoring type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response set monitoring type": {
      "main": [
        [
          {
            "node": "Respond to Webhook Set monitoring type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response assign usecase to user": {
      "main": [
        [
          {
            "node": "Respond to Webhook assign usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response insert usecase": {
      "main": [
        [
          {
            "node": "Respond to Webhook create usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Array of mapping (If List)": {
      "main": [
        [
          {
            "node": "DB: Upsert Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response deactivate mapping": {
      "main": [
        [
          {
            "node": "Respond to Webhook deactivated mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate new rule Parameters": {
      "main": [
        [
          {
            "node": "Search for Existing Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch between measures": {
      "main": [
        [
          {
            "node": "Get User Baselines avg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Baselines median",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get User Baselines mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Format Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set Logging Interval": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit users": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "edit names query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "edit names query": {
      "main": [
        [
          {
            "node": "Format Final Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract and validate parameters": {
      "main": [
        [
          {
            "node": "update user monitoring type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b96d210e-21c7-4ce6-bde0-b654a08bf37c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "nFeUS2F9bOFH6AUd",
  "tags": [
    {
      "updatedAt": "2026-03-12T19:23:21.502Z",
      "createdAt": "2026-03-12T19:23:21.502Z",
      "id": "uAeTbJge557CUxYQ",
      "name": "main"
    }
  ]
}