Knowledge Agent.json
{
  "name": "Knowledge Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"usecase_name\": \"HeartRate\",\n  \"session_id\": \"00000000-0000-0000-0000-000000000001\",\n  \"message\": \"How does vibrotactile feedback work?\"\n}"
      },
      "id": "2f2287c6-5d3a-4612-829a-fcb0635e0fd2",
      "typeVersion": 1.1,
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \n\"You are an expert research assistant specializing in haptic feedback and sensory substitution.\\n\\n\" +\n\"The researcher is currently working on the following experiment:\\n\" +\n\"Usecase: \" + $input.first().json.usecase_name + \"\\n\\n\" +\n\"Active feedback mappings for this experiment:\\n\" +\nJSON.stringify($input.first().json.global_mappings ?? [], null, 2) + \"\\n\\n\" +\n\"Answer the following question thoroughly and accurately. Where relevant, connect your answer to the current experiment context above. Cite relevant concepts from the literature where appropriate.\\n\\n\" +\n\"Question: \" + $input.first().json.message\n}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        528,
        112
      ],
      "id": "9d150c38-84de-46cd-8288-b923ad077cc3",
      "name": "GPT - Knowledge"
    },
    {
      "parameters": {
        "content": "**It's possible to add specific sources that the model could reference in this node** ",
        "height": 80,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "486a271e-b004-45b1-b992-6ada8dbf9c3c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const reply = $input.first().json.text ?? '';\nconst session_id = $('Execute Workflow Trigger').first().json.session_id;\nreturn [{ json: { reply, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        112
      ],
      "id": "ec6ee564-1b1a-468e-a47f-a31752df574a",
      "name": "Format - response"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        528,
        304
      ],
      "id": "93aedf5f-9158-4778-9c87-4a26a640c30e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PZrrVTzGmheg0FUW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, minvalue, maxvalue, minpulses, maxpulses,\n       minintensity, maxintensity, minduration, maxduration,\n       mininterval, maxinterval\nFROM feedback_config_rules\nWHERE type = $1 AND active = true\nORDER BY minvalue ASC NULLS FIRST;",
        "options": {
          "queryReplacement": "=={{ $input.first().json.usecase_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        32,
        112
      ],
      "id": "07f1879d-a302-4d01-9c54-85f569c9ce67",
      "name": "DB - fetch mappings",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst trigger = $('Execute Workflow Trigger').first().json;\nreturn [{ json: {\n  usecase_name:    trigger.usecase_name,\n  session_id:      trigger.session_id,\n  message:         trigger.message,\n  global_mappings: rows\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        112
      ],
      "id": "6f6cde92-1831-45e1-832f-539d6c1d0ec8",
      "name": "Package mappings"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "DB - fetch mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT - Knowledge": {
      "main": [
        [
          {
            "node": "Format - response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GPT - Knowledge",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DB - fetch mappings": {
      "main": [
        [
          {
            "node": "Package mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package mappings": {
      "main": [
        [
          {
            "node": "GPT - Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c3e4c1ea-20c1-4580-af70-3571f19243d6",
  "meta": {
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "NBGENe1uYYpTnN5l",
  "tags": []
}