Mapping Manager.json
{
  "name": "Mapping Manager",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "835ac3f8-4018-4cc6-bc70-ae6c2568c409"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f50aef44-2d69-4332-b369-0cf90e48a670",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "498cda09-85f6-4013-951c-03776bb23271",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "remove",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "609e5416-413d-4c76-a513-67c3d8f6a300",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "brainstorm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -208,
        160
      ],
      "id": "fc84048a-15fb-44ee-a706-2a342ee2d5ea",
      "name": "Switch on action"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, minvalue, maxvalue, minpulses, maxpulses,\n       minintensity, maxintensity, minduration, maxduration,\n       mininterval, maxinterval, active\nFROM feedback_config_rules\nWHERE type = $1 AND active = true\nORDER BY minvalue ASC NULLS FIRST;",
        "options": {
          "queryReplacement": "=={{ $json.usecase_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "5064e461-4b7b-4278-b3a2-a98a6c21ef3e",
      "name": "DB - list mappings",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst name = $('Execute Workflow Trigger').first().json.usecase_name;\nconst session_id = $('Execute Workflow Trigger').first().json.session_id;\n\nif (rows.length === 0) {\n  return [{ json: {\n    reply: `No active mappings found for ${name}.`,\n    session_id\n  }}];\n}\n\nconst lines = rows.map(r =>\n  `• ID ${r.id}: value ${r.minvalue ?? '—'}–${r.maxvalue ?? '—'} → ` +\n  `pulses ${r.minpulses}–${r.maxpulses}, ` +\n  `intensity ${r.minintensity}–${r.maxintensity}, ` +\n  `duration ${r.minduration}–${r.maxduration}ms, ` +\n  `interval ${r.mininterval}–${r.maxinterval}ms`\n).join('\\n');\n\nreturn [{ json: {\n  reply: `Active mappings for ${name} (${rows.length} total):\\n\\n${lines}`,\n  session_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "d7cb9dfa-9610-4a6a-a88d-df2c91d45dff",
      "name": "Format - list"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst p = typeof input.params === 'string' \n  ? JSON.parse(input.params) \n  : (input.params ?? {});\nconst session_id = input.session_id;\nconst usecase_name = input.usecase_name;\n\nconst required = ['minvalue','maxvalue','minpulses','maxpulses',\n                  'minintensity','maxintensity','minduration',\n                  'maxduration','mininterval','maxinterval'];\n\nconst missing = required.filter(k => p[k] === undefined || p[k] === null);\n\nif (missing.length > 0) {\n  return [{ json: {\n    valid: false,\n    reply: `I need a few more details to add this mapping. Please provide: ${missing.join(', ')}.`,\n    session_id\n  }}];\n}\n\nreturn [{ json: {\n  valid: true,\n  session_id,\n  usecase_name,\n  minvalue:     p.minvalue,\n  maxvalue:     p.maxvalue,\n  minpulses:    p.minpulses,\n  maxpulses:    p.maxpulses,\n  minintensity: p.minintensity,\n  maxintensity: p.maxintensity,\n  minduration:  p.minduration,\n  maxduration:  p.maxduration,\n  mininterval:  p.mininterval,\n  maxinterval:  p.maxinterval,\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "eeebe00c-59f4-4869-9758-92807a1782fc",
      "name": "Validate - add params"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules\n  (type, active, minvalue, maxvalue, minpulses, maxpulses,\n   minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval)\nVALUES ($1, true, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11)\nON CONFLICT ON CONSTRAINT feedback_config_mapped_minpulses_maxpulses_minintensity_max_key\nDO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "=={{ $json.usecase_name }},={{ $json.minvalue }},={{ $json.maxvalue }},={{ $json.minpulses }},={{ $json.maxpulses }},={{ $json.minintensity }},={{ $json.maxintensity }},={{ $json.minduration }},={{ $json.maxduration }},={{ $json.mininterval }},={{ $json.maxinterval }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        176
      ],
      "id": "23196662-904c-4b64-982e-5ebc1496c2c0",
      "name": "DB - insert mapping",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst session_id = $('Validate - add params').first().json.session_id;\n\nif (rows.length === 0 || !rows[0].json.id) {\n  return [{ json: {\n    reply: `A mapping with those exact values already exists and is active. Use \"list mappings\" to see current IDs.`,\n    session_id\n  }}];\n}\n\nreturn [{ json: {\n  reply: `Done. New mapping added with ID ${rows[0].json.id}.`,\n  session_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        176
      ],
      "id": "83ad702f-bc31-46d7-aa76-5d8aefabd952",
      "name": "Format - add success"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE feedback_config_rules\nSET active = false\nWHERE id = $1 AND type = $2\nRETURNING id;",
        "options": {
          "queryReplacement": "=={{ $json.mapping_id }},={{ $json.usecase_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        384
      ],
      "id": "5ce105b9-5963-45d2-b1d7-5c2ed8521dfc",
      "name": "DB - deactivate mapping",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst session_id = $('Execute Workflow Trigger').first().json.session_id;\n\nif (rows.length === 0 || !rows[0].json.id) {\n  return [{ json: {\n    reply: `No active mapping found with that ID for this usecase. Use \"list mappings\" to see current IDs.`,\n    session_id\n  }}];\n}\n\nreturn [{ json: {\n  reply: `Mapping ID ${rows[0].json.id} has been deactivated.`,\n  session_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        384
      ],
      "id": "ce31c1a9-21da-482e-a1a0-2299076aa20c",
      "name": "Format - remove"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  ROUND(MIN(sd.value)::numeric, 2) AS min_seen,\n  ROUND(MAX(sd.value)::numeric, 2) AS max_seen,\n  ROUND(AVG(sd.value)::numeric, 2) AS avg_seen,\n  COUNT(*) AS total_readings\nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorid = st.sensorid\nWHERE st.name = $1\n  AND sd.time > NOW() - INTERVAL '30 days';",
        "options": {
          "queryReplacement": "=={{ $json.usecase_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        576
      ],
      "id": "3f66db5f-d263-44f5-8277-420a8e7e81b3",
      "name": "DB - historical range",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ \n\"You are an expert in haptic feedback parameter design.\\n\\n\" +\n\"Usecase: \" + $input.first().json.usecase_name + \"\\n\\n\" +\n\"Existing active mappings:\\n\" + JSON.stringify($input.first().json.current_mappings ?? [], null, 2) + \"\\n\\n\" +\n\"Historical sensor data (last 30 days):\\n\" +\n\"Min: \" + $input.first().json.min_seen + \", Max: \" + $input.first().json.max_seen + \", Avg: \" + $input.first().json.avg_seen + \", Readings: \" + $input.first().json.total_readings + \"\\n\\n\" +\n\"Suggest 3 new mapping ranges that improve granularity or cover gaps in the existing mappings. For each suggestion, explain WHY it improves the current set and what sensor value range it targets.\\n\" +\n\"Format your response as plain readable text, not JSON.\"\n}}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        768,
        576
      ],
      "id": "bf66ea1f-fb6c-4d18-b3b7-8e2b35d86300",
      "name": "GPT - Brainstorm"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        752
      ],
      "id": "1fe9ff3a-b6d3-4bea-8d38-12dc82ab5a70",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "C6PPGVshBukmGMJ7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"action\":       \"={{ $json.payload.action }}\",\n  \"params\":       \"={{ $json.payload.params }}\",\n  \"session_id\":   \"={{ $json.session_id }}\",\n  \"usecase_id\":   \"={{ $json.usecase_id }}\",\n  \"usecase_name\": \"={{ $json.usecase_name }}\",\n  \"message\":      \"={{ $json.message }}\"\n}"
      },
      "id": "500ff4a3-e553-4c1a-880b-413d72f794d9",
      "typeVersion": 1.1,
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -576,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const reply = $input.first().json.text ?? '';\nconst session_id = $('Execute Workflow Trigger').first().json.session_id;\nreturn [{ json: { reply, session_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        576
      ],
      "id": "5fbd9743-0a8b-4cac-81c4-affbd6525187",
      "name": "Format - brainstorm"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1248,
        160
      ],
      "id": "0bad3ff7-df97-408d-88ac-d3902f0bfc36",
      "name": "Merge all branches"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst params = typeof input.params === 'string'\n  ? JSON.parse(input.params)\n  : (input.params ?? {});\n\nconst session_id = input.session_id;\nconst usecase_name = input.usecase_name;\n\nif (!params.id) {\n  return [{ json: {\n    skip: true,\n    reply: `Please specify which mapping ID to remove. Use \"list mappings\" to see current IDs.`,\n    session_id\n  }}];\n}\n\nreturn [{ json: {\n  mapping_id:   parseInt(params.id),\n  usecase_name,\n  session_id\n}}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        368
      ],
      "id": "24a214dd-88b7-4bfc-aa1a-2b48d7c11196",
      "name": "Validate - remove params"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet action = (input.action ?? '').toString().trim();\nconst msg = (input.message ?? '').toLowerCase();\n\nif (!action) {\n  if (msg.includes('suggest') || msg.includes('brainstorm') || msg.includes('idea') || msg.includes('recommend')) {\n    action = 'brainstorm';\n  } else if (msg.includes('remove') || msg.includes('delete') || msg.includes('deactivate')) {\n    action = 'remove';\n  } else if (msg.includes('add') || msg.includes('create') || msg.includes('insert') || msg.includes('new mapping')) {\n    action = 'add';\n  } else {\n    action = 'list';\n  }\n}\n\n// Parse params safely\nlet params = {};\ntry {\n  params = typeof input.params === 'string' ? JSON.parse(input.params) : (input.params ?? {});\n} catch(e) {\n  params = {};\n}\n\n// If add action but params are empty, extract numbers from the message\nif (action === 'add' && Object.keys(params).length === 0) {\n  const nums = (input.message ?? '').match(/-?\\d+(\\.\\d+)?/g)?.map(Number) ?? [];\n  if (nums.length >= 10) {\n    params = {\n      minvalue:     nums[0], maxvalue:     nums[1],\n      minpulses:    nums[2], maxpulses:    nums[3],\n      minintensity: nums[4], maxintensity: nums[5],\n      minduration:  nums[6], maxduration:  nums[7],\n      mininterval:  nums[8], maxinterval:  nums[9]\n    };\n  }\n}\n\nreturn [{ json: {\n  action,\n  params,\n  session_id:   input.session_id,\n  usecase_id:   input.usecase_id,\n  usecase_name: input.usecase_name,\n  message:      input.message\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        192
      ],
      "id": "109d4a03-8f0d-41e9-9850-0b2b87b1c06f",
      "name": "Parse incoming"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, minvalue, maxvalue, minpulses, maxpulses,\n       minintensity, maxintensity, minduration, maxduration,\n       mininterval, maxinterval\nFROM feedback_config_rules\nWHERE type = $1 AND active = true\nORDER BY minvalue ASC NULLS FIRST;",
        "options": {
          "queryReplacement": "=={{ $json.usecase_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        576
      ],
      "id": "a4269197-2688-4821-b087-8541b422da69",
      "name": "DB - current mappings for brainstorm",
      "credentials": {
        "postgres": {
          "id": "SxQ8vRANzWTnEuGI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst trigger = $('Execute Workflow Trigger').first().json;\nreturn [{ json: {\n  usecase_name:     trigger.usecase_name,\n  session_id:       trigger.session_id,\n  current_mappings: rows\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        576
      ],
      "id": "c486e065-74eb-4dbf-9629-b81e3ecc1cba",
      "name": "Package mappings"
    },
    {
      "parameters": {
        "jsCode": "const historical = $input.first().json;\nconst mappings = $('Package mappings').first().json.current_mappings;\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nreturn [{ json: {\n  min_seen:         historical.min_seen,\n  max_seen:         historical.max_seen,\n  avg_seen:         historical.avg_seen,\n  total_readings:   historical.total_readings,\n  current_mappings: mappings,\n  usecase_name:     trigger.usecase_name,\n  session_id:       trigger.session_id\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        576
      ],
      "id": "06d86349-9535-4484-9384-7b1b8b212919",
      "name": "Combine brainstorm data"
    },
    {
      "parameters": {
        "content": "## ^^^^^^^^CHANGE THE MODEL OUTPUT HERE"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        896
      ],
      "id": "ea79328f-0d00-4433-a2b2-2ba5f1e50115",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbbcefc6-4bac-4ed1-aa16-6b22715d1554",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        176
      ],
      "id": "39f212a9-b469-4f07-937d-28d00a66cdee",
      "name": "If added parameters are valid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fbbcefc6-4bac-4ed1-aa16-6b22715d1554",
              "leftValue": "={{ $json.skip }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        368
      ],
      "id": "cd677d3f-9fe7-4137-8b99-f655e0b04f85",
      "name": "If removed parameters are not valid"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch on action": {
      "main": [
        [
          {
            "node": "DB - list mappings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate - add params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate - remove params",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB - current mappings for brainstorm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - list mappings": {
      "main": [
        [
          {
            "node": "Format - list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - list": {
      "main": [
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate - add params": {
      "main": [
        [
          {
            "node": "If added parameters are valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - insert mapping": {
      "main": [
        [
          {
            "node": "Format - add success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - add success": {
      "main": [
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DB - deactivate mapping": {
      "main": [
        [
          {
            "node": "Format - remove",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - historical range": {
      "main": [
        [
          {
            "node": "Combine brainstorm data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "GPT - Brainstorm",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse incoming",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT - Brainstorm": {
      "main": [
        [
          {
            "node": "Format - brainstorm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format - brainstorm": {
      "main": [
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Format - remove": {
      "main": [
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Validate - remove params": {
      "main": [
        [
          {
            "node": "If removed parameters are not valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse incoming": {
      "main": [
        [
          {
            "node": "Switch on action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - current mappings for brainstorm": {
      "main": [
        [
          {
            "node": "Package mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Package mappings": {
      "main": [
        [
          {
            "node": "DB - historical range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine brainstorm data": {
      "main": [
        [
          {
            "node": "GPT - Brainstorm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If added parameters are valid": {
      "main": [
        [
          {
            "node": "DB - insert mapping",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "If removed parameters are not valid": {
      "main": [
        [
          {
            "node": "Merge all branches",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "DB - deactivate mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f8852359-e86c-40d7-9bef-278569653d39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bb0aad79dd248c2481ecedc24aee38491247ebd354850a1c5b87cae205699cce"
  },
  "id": "pBa7G9TGnaWdUxoj",
  "tags": []
}