Smartwatch Haptic Backend - 5 Mins.json
{
  "name": "Smartwatch Haptic Backend",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT value \nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorID = st.sensorID\nWHERE sd.userID = {{ $('Webhook heart rate').item.json.body.UserID }}\nAND sd.watchID = {{ $('Webhook heart rate').item.json.body.SmartWatchID }}\nAND sd.phoneID = {{ $('Webhook heart rate').item.json.body.AndroidID }}\nAND st.name = 'HeartRate'\nORDER BY time DESC\nLIMIT 10;",
        "additionalFields": {}
      },
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5408,
        -1248
      ],
      "id": "c879a136-dcb0-426f-be8d-559eddb4cc9c",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = true;",
        "additionalFields": {}
      },
      "name": "Get Config Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4832,
        -1248
      ],
      "id": "c19dd705-7a6d-4f65-b15a-60b196311f06",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const heartRate = $('Data Cleaning1').first().json.heartRate;\nconst userID = $('Webhook heart rate').first().json.body.UserID\nconst SmartWatchID = $('Webhook heart rate').first().json.body.SmartWatchID\nconst AndroidID = $('Webhook heart rate').first().json.body.AndroidID\nconst mappings = items.map(i => i.json); // Get all rules\n\n// Map function for proportional mapping\nfunction map(value, inMin, inMax, outMin, outMax) {\n    if (inMin === inMax) return outMin;\n    return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nlet feedback = {\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    monitoringType: \"HeartRate\",\n    userID: userID,\n    SmartWatchID: SmartWatchID,\n    AndroidID: AndroidID\n\n};\n\nif (mappings == null) {\n  return [\n  {\n    json: feedback\n  }\n]; \n}\n\nfor (const m of mappings) {\n    const minHR = parseFloat(m.minvalue);\n    const maxHR = parseFloat(m.maxvalue);\n\n    if (heartRate >= minHR && heartRate <= maxHR) {\n        feedback.intensity = Math.round(map(heartRate, minHR, maxHR, m.minintensity, m.maxintensity));\n        feedback.pulses = 10;\n        feedback.duration = Math.round(map(heartRate, minHR, maxHR, m.minduration, m.maxduration));\n      const totalCycleTimeMs = 60000 / heartRate;\n        feedback.interval = Math.round(totalCycleTimeMs - feedback.duration);\n        feedback.fbRangeID = parseInt(m.id);\n        feedback.alertGiven = feedback.pulses > 0 ? \"yes\" : \"no\";\n        break;\n    }\n}\nreturn [\n  {\n    json: feedback\n  }\n];"
      },
      "name": "Check Feedback Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4608,
        -1248
      ],
      "id": "5186e244-bd0e-4176-ade9-cc14a880c5d6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4288,
        -1280
      ],
      "id": "8ba49c7d-e7ad-4527-a5a5-5e8bf7dc6b6d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'HeartRate',\n  '{{ $json.alertGiven }}',\n{{$('Data Cleaning1').first().json.rawValue}},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }}\n);",
        "additionalFields": {}
      },
      "name": "Insert Data Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4384,
        -1152
      ],
      "id": "b4d4d961-b4e2-4334-8efe-e053e52dd62b",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\n// These are ordered by time DESC (Index 0 is the most recent DB entry)\nconst readings = items.map(item => parseFloat(item.json.value)).filter(v => !isNaN(v));\n\n// Extract raw sensor input from Webhook\nconst rawValue = parseFloat($('Webhook heart rate').item.json.body.Value || 0);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid (for logic consistency)\nif (!isOutlier(rawValue)) {\n    readings.push(rawValue); \n}\n\n// LOWER the alpha to make smoothing stronger against vibration noise\n// 0.1 means \"Trust the history 90%, trust the new value 10%\"\nconst alpha = 0.1; \n\nlet smoothed = rawValue; // Default if no history\n\nif (readings.length > 0) {\n    // FIX: Use readings[0] because your SQL sorts by DESC (Newest First)\n    // This gets the most recent saved value from the database\n    const prev = readings[0]; \n    smoothed = alpha * rawValue + (1 - alpha) * prev;\n}\n\nreturn [\n  {\n    json: {\n      heartRate: Math.round(smoothed),\n      rawValue: rawValue\n    }\n  }\n];"
      },
      "name": "Data Cleaning1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5056,
        -1248
      ],
      "id": "917b280f-0700-40f8-ba78-18cb89ed49be"
    },
    {
      "parameters": {
        "content": "Change heart rate feedback interval between 2 notifications",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6432,
        -1264
      ],
      "id": "7f06421e-919d-4ef1-8cc2-8ec81928b616",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM to insert new mappings",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7712,
        -1264
      ],
      "typeVersion": 1,
      "id": "1c8f35aa-a771-4c83-b18c-f224f4a10abc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -1184
      ],
      "id": "780c9c51-613e-4b14-bd80-5b805220f34f",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -1184
      ],
      "id": "e0ad8ff9-0b15-4d90-9589-3985409deb66",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "GET Queries",
        "height": 80,
        "width": 1622,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1376
      ],
      "typeVersion": 1,
      "id": "db240755-17d8-4f35-a130-4b3230a433ce",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -960
      ],
      "id": "9a178be9-4cd3-4e50-8b4a-6a05894c4919",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -960
      ],
      "id": "20496c83-c87a-4ce7-af6b-cd9dce366f40",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8592,
        -1184
      ],
      "id": "cc306317-2834-44aa-aa4f-43da8a1ff372",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -640
      ],
      "id": "de325a54-d0bf-434e-8aac-62f9c39fd577",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8368,
        -736
      ],
      "id": "de5976e8-421b-42f9-836d-ca8be85d69e8",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8144,
        -736
      ],
      "id": "fe4c11c8-2bf4-4a11-a7e1-72cf78d7ae8f",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8592,
        -544
      ],
      "id": "8d1005ed-24d0-4e46-8a93-29d5627a029c",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -320
      ],
      "id": "af639b11-71d1-4ac4-941a-6696a60c85ad",
      "name": "Get sensor types",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -320
      ],
      "id": "02e3dc09-fba6-4c9d-809e-85318bc6de5d",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -96
      ],
      "id": "b5864cd6-7f60-4c84-b979-c6c41c508c25",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -96
      ],
      "id": "e9af0ee5-1810-49a3-9cc5-92189bb3f0dc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        144
      ],
      "id": "8cc636c1-205d-41c2-84a2-1f945097a935",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        144
      ],
      "id": "718989c5-b6b9-4ef3-a5f8-1a682f022692",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "--IMPORTANT--\nIn order for the monitoring config and monitoring type nodes to run: \n1. Set the workflow to active\n2. Set both nodes to production URL\n3. first run set and then get",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8608,
        -112
      ],
      "typeVersion": 1,
      "id": "c1fb6647-46bf-4680-a154-77d3716078f5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -656
      ],
      "typeVersion": 1,
      "id": "f5b28331-4de0-43c2-8d84-972f2c644dc4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1232
      ],
      "typeVersion": 1,
      "id": "11666211-e7a8-4672-b762-cd4347287964",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1008
      ],
      "typeVersion": 1,
      "id": "07541e0f-1b20-480a-9f3c-94b02ba73f96",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"User\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -960
      ],
      "id": "385501c9-d59f-44b4-aa09-65293390d330",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  default:\n    dateFrom = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.sensorid\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.sensorid = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\" }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        -640
      ],
      "id": "ff492b38-5120-40cd-97fe-b16ee487ef92",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8816,
        -640
      ],
      "id": "ebccab53-a694-4873-b7f4-ef2f8676b26e",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8592,
        -736
      ],
      "id": "998cb4fc-4c48-414a-8491-7f0219d7b7e8",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sensorid, name FROM \"SensorType\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -320
      ],
      "id": "3921002a-775d-468b-9124-d2812ecae771",
      "name": "get sensir type query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        96
      ],
      "typeVersion": 1,
      "id": "287f2614-ef77-4bc8-b0e7-cfba98091fc2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -128
      ],
      "typeVersion": 1,
      "id": "24d300f0-2c4d-45cc-88d7-b2b5311c0a27",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        -96
      ],
      "id": "42653200-801a-4d30-911c-82fd5bed150f",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        144
      ],
      "id": "ff39a7f3-cc33-4e2c-9d3e-34f33310b359",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -352
      ],
      "typeVersion": 1,
      "id": "22824a05-6152-446a-8652-90f9f1827a1f",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "EDIT MAPPING RULES",
        "height": 80,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7744,
        -1376
      ],
      "typeVersion": 1,
      "id": "a1bc32b0-7e9b-43f6-9739-212764bc3a73",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-sun-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        -736
      ],
      "id": "01858d87-1207-4b52-8a62-7c07f9fb98c3",
      "name": "set sun azimuth threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.sunAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'sunAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"SunAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        -736
      ],
      "id": "f362f62d-16fb-42c6-9bff-25214f9c76d9",
      "name": "UpdatingChangedValuesIfExist"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        -832
      ],
      "id": "52f11b28-ded9-49c2-a077-2804f6ab8ddb",
      "name": "Execute sun mapping query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        -832
      ],
      "id": "fb7869cf-7ee3-4c54-8c95-ff6578a6a5e7",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        -736
      ],
      "id": "e13f2cdb-89f0-4eb9-8577-f542cf840505",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        -640
      ],
      "id": "f4e1aa56-88a2-44f2-b943-44e66c312d83",
      "name": "Respond to Webhook on error"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.moonAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"MoonAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        -320
      ],
      "id": "526e1ebc-a24f-43a9-9216-ed31d9640e96",
      "name": "UpdatingChangedValuesIfExist1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        -416
      ],
      "id": "92d51f69-db32-4f81-8bdc-455cce277cc6",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        -320
      ],
      "id": "2024d3ca-ac83-478f-b370-a993beb35d77",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist1').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist1').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        -224
      ],
      "id": "0d5c1853-4552-4848-82a3-b095220fd005",
      "name": "Respond to Webhook on error1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-moon-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        -320
      ],
      "id": "eae203a2-42bf-43c0-8e8b-fb287cc1ca7d",
      "name": "set moon azimuth threshold1",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.thresholds\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"HeartRate\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        112
      ],
      "id": "a037185a-eac4-44f8-8a43-09423f97c728",
      "name": "UpdatingChangedValuesIfExist2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        16
      ],
      "id": "16cf90d9-48d2-4907-afa7-3d4cd070477d",
      "name": "Execute sun mapping query2",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        16
      ],
      "id": "271194ce-2d52-4f7a-986d-0d345f02affe",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        112
      ],
      "id": "5da09eb8-4d8c-458e-823f-cba54d31cc95",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist2').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist2').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        208
      ],
      "id": "1f47f5e0-49c4-4115-8b66-051b9dacfeef",
      "name": "Respond to Webhook on error2"
    },
    {
      "parameters": {
        "content": "Checking Rules & API Requests & Sending Appropriate FeedBack",
        "height": 80,
        "width": 2640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6224,
        -1376
      ],
      "typeVersion": 1,
      "id": "304a975a-8a16-4194-a47c-540c7bb5517c",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE FUNCTION insert_sensor_data(\n    _userID INT,\n    _watchID INT,\n    _phoneID INT,\n    _sensorName VARCHAR,\n    _alertGiven VARCHAR,\n    _value FLOAT,\n    _pulses INT,\n    _intensity INT,\n    _duration INT,\n    _interval INT,\n    _fbRangeID INT\n) RETURNS VOID AS $$\nDECLARE\n    _sensorID INT;\n    _alertID INT;\nBEGIN\n    -- Insert users/devices if they don't exist\n    INSERT INTO \"User\"(userID) SELECT _userID WHERE NOT EXISTS (SELECT 1 FROM \"User\" WHERE userID = _userID);\n    INSERT INTO \"Watch\"(watchID) SELECT _watchID WHERE NOT EXISTS (SELECT 1 FROM \"Watch\" WHERE watchID = _watchID);\n    INSERT INTO \"AndroidPhone\"(phoneID) SELECT _phoneID WHERE NOT EXISTS (SELECT 1 FROM \"AndroidPhone\" WHERE phoneID = _phoneID);\n\n    INSERT INTO \"WatchAndroidPhone\"(watchID, phoneID)\n    SELECT _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"WatchAndroidPhone\" WHERE watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"UserWatchAndroidPhone\"(userID, watchID, phoneID)\n    SELECT _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"UserWatchAndroidPhone\"\n        WHERE userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"SensorType\"(name)\n    SELECT _sensorName\n    WHERE NOT EXISTS (SELECT 1 FROM \"SensorType\" WHERE name = _sensorName);\n\n    SELECT sensorID INTO _sensorID FROM \"SensorType\" WHERE name = _sensorName;\n\n    -- 🔁 Insert into Alert with fbRangeID instead of minvalue/maxvalue\n    INSERT INTO \"Alert\"(\n        alertGiven, pulses, intensity, duration, interval, type, fbRangeID\n    )\n    VALUES (\n        _alertGiven, _pulses, _intensity, _duration, _interval, _sensorName, _fbRangeID\n    )\n    RETURNING alertID INTO _alertID;\n\n    -- DeviceSensor mapping\n    INSERT INTO \"DeviceSensor\"(sensorID, userID, watchID, phoneID)\n    SELECT _sensorID, _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"DeviceSensor\"\n        WHERE sensorID = _sensorID AND userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    -- Final insert to SensorData\n    INSERT INTO \"SensorData\"(sensorID, userID, watchID, phoneID, alertID, value, time)\n    VALUES (_sensorID, _userID, _watchID, _phoneID, _alertID, _value, CURRENT_TIMESTAMP);\nEND;\n$$ LANGUAGE plpgsql;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7088,
        -1632
      ],
      "id": "fe5fb8f1-3001-4013-b666-d3f0bdb39c78",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "-NOTE-\nTo create the DB tables and insert data, run this only once before starting anything else",
        "height": 240,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7344,
        -1744
      ],
      "typeVersion": 1,
      "id": "678f08a0-6463-4250-a96d-49184e9de573",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7296,
        -1632
      ],
      "id": "95fd2443-e314-4f7e-a032-5fd201c774b0",
      "name": "Build Database",
      "executeOnce": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heartRate",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook heart rate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6368,
        -1088
      ],
      "id": "cc7e994b-c77a-4090-a4af-18d39a3f2c3f",
      "webhookId": "ab04974b-c683-4224-90a1-cae7a4139bdc"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6160,
        -704
      ],
      "id": "10045911-f096-49e0-ab2f-5050c3acac7a",
      "name": "Webhook sun data",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body ?? req;\n\nconst userId = body.UserID ?? body.userid ?? body.userId;\nif (!userId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing UserID\" } } }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    userId,\n    query: 'SELECT \"lastrequest\" FROM public.\"User\" WHERE \"userid\" = $1',\n    params: [userId],\n    // keep original request for later\n    body,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5936,
        -704
      ],
      "id": "24f89180-2c0d-42bc-b6dd-a51ba5d1b708",
      "name": "prepare Delay Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b22a2d03-b418-45a2-a6cc-d0678f0ce3a8",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5712,
        -704
      ],
      "id": "e9fc42ca-20e4-46ce-a1e3-e168c09b16ec",
      "name": "If status 400"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5472,
        -768
      ],
      "id": "2306484d-84f4-4c91-96d7-cce0d8473e93",
      "name": "Respond to Webhook on code 400"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5488,
        -608
      ],
      "id": "ca1b3df1-d572-4ca4-98fa-9f20dbe96fcd",
      "name": "SELECT lastRequest",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bring forward the original data from the previous node (PrepareLastRequestQuery)\nconst prev = $('prepare Delay Query').first().json;\nconst userId = $('prepare Delay Query').first().json.body.UserID;\nconst body = $('prepare Delay Query').first().json.body;\n\n// Postgres results are in `items` for THIS node\nconst pgRows = $input.first().json;\nconst lastRequestRaw = pgRows[0]?.lastrequest\n  ?? pgRows[0]?.lastRequest\n  ?? null;\n\n// Decide delay policy (pick something sensible)\nconst cooldownMs = 60_000;\n\nlet shouldWait = false;\nlet waitSeconds = 0;\n\nif (lastRequestRaw) {\n  const last = new Date(lastRequestRaw).getTime();\n  const now = Date.now();\n  const elapsed = now - last;\n\n  if (elapsed < cooldownMs) {\n    shouldWait = true;\n    waitSeconds = Math.max(1, Math.ceil((cooldownMs - elapsed) / 1000));\n  }\n}\n\nreturn [{\n  json: {\n    userId,\n    body,\n    shouldWait,\n    waitSeconds,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5264,
        -608
      ],
      "id": "8212a5c8-6f99-4de1-b199-6b4dfc762e76",
      "name": "Check If Delay Necessary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edd11ae0-8357-422f-b359-ad2dae566889",
              "leftValue": "={{$json.shouldWait}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5104,
        -704
      ],
      "id": "c4357e6b-072a-4531-90d5-d972a9ae29fc",
      "name": "if should wait"
    },
    {
      "parameters": {
        "amount": "={{$json.waitSeconds}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4880,
        -784
      ],
      "id": "13913f5c-03bb-4d39-bee7-39e809bb158d",
      "name": "Wait",
      "webhookId": "99ae071e-7ab4-4d91-9677-810632db319c"
    },
    {
      "parameters": {
        "jsCode": "const userId = $input.first().json.userId;\n\nreturn [{\n  json: {\n    userId,\n    body: $input.first().json.body,\n    query: 'UPDATE public.\"User\" SET \"lastrequest\" = NOW() WHERE \"userid\" = $1',\n    params: [userId],\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4656,
        -704
      ],
      "id": "d050caf4-5a2b-4250-989f-9bb3a47cf4be",
      "name": "Build Update Last Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4432,
        -704
      ],
      "id": "eda927ba-e649-4c9f-8c1d-4ef2ec00def0",
      "name": "Execute UPDATE",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nconst lat = body.lat ?? 32.794;\nconst lon = body.lon ?? 34.989;\n\n// Same API, same key usage as Node-RED\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\n\n// Example: if Node-RED used query param\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4208,
        -704
      ],
      "id": "a52a02d0-a31b-4beb-86b5-056c6f213e27",
      "name": "Construct Sun Api Request"
    },
    {
      "parameters": {
        "jsCode": "// Keep whatever you already had from earlier nodes (webhook body, etc.)\nconst originalPayload = $input.first().json.originalPayload ?? $input.first().json;\n\n// The HTTP response body\nconst api = $input.first().json;\n\n// Try common shapes \nconst currentAzimuth =\n  api?.sun_azimuth ??\n  api?.sun?.azimuth ??\n  api?.data?.sun_azimuth ??\n  api?.data?.sun?.azimuth;\n\nif (currentAzimuth === undefined || currentAzimuth === null) {\n  return [{ json: { statusCode: 500, payload: { error: \"Sun azimuth missing from API response\", api } } }];\n}\n\n// Preserve original input + attach computed value\noriginalPayload.sun_azimuth = Number(currentAzimuth);\n\n// Put the “main payload” as originalPayload (this is what Node-RED effectively does)\nreturn [{ json: { ...originalPayload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        -704
      ],
      "id": "2f3f35be-8680-4628-b923-21ca940280f2",
      "name": "Extract Sun Azimuth And Preserve Original Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = 'SunAzimuth'\nORDER BY minvalue, maxvalue;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4656,
        -512
      ],
      "id": "9f39bddf-76a5-4ac3-a09b-75389c7c37e5",
      "name": "Query To Fetch Current Sun Rules From DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extract Sun Azimuth And Preserve Original Payload').first().json;\nconst rules = $input.all().map(i => i.json);\nconst az = $('Extract Sun Azimuth And Preserve Original Payload').first().json.sun_azimuth;\n\nlet chosen = null;\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n  if (az >= minV && az <= maxV) { chosen = r; break; }\n}\n\n\n// Defaults when no match \nlet pulses = 0, intensity = 0, duration = 0, interval = 0, fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\n// Attach vibration params for DB insert\nreturn [{\n  json: {\n    ...original,\n    monitoringType: \"SunAzimuth\",\n    alertGiven: chosen ? \"yes\" : \"no\",\n    pulses, intensity, duration, interval,\n    fbRangeID\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -512
      ],
      "id": "9c4b37f3-77f9-4181-a055-ea69058b51e6",
      "name": "Checks FeedBack Rules"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\n\nconst userId  = parseInt($('Webhook sun data').first().json.body.UserID);\nconst watchId = parseInt($('Webhook sun data').first().json.body.SmartWatchID);\nconst phoneId = parseInt($('Webhook sun data').first().json.body.AndroidID);\n\nconst sensorName = $input.first().json.type || \"SunAzimuth\";\nconst alertGiven = $input.first().json.alertGiven || p.alertGiven || \"no\";\nconst value = parseFloat($('HTTP sun API Request').first().json.sun_azimuth || 0);\n\nconst pulses = $input.first().json.pulses || 0;\nconst intensity = $input.first().json.intensity || 0;\nconst duration = $input.first().json.duration || 0;\nconst interval = $input.first().json.interval || 0;\nconst fbRangeID = $input.first().json.fbRangeID || 0;\n\nif (!userId || !watchId || !phoneId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing ids (userId/watchId/phoneId)\", got: { userId, watchId, phoneId } } } }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [userId, watchId, phoneId, sensorName, alertGiven, value, pulses, intensity, duration, interval, fbRangeID]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4208,
        -512
      ],
      "id": "237c5968-1d8e-4855-aa45-ef2ceab417d5",
      "name": "Setup Parameters For Sun Queries"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3984,
        -512
      ],
      "id": "6eb42df6-a48b-403a-a0d6-ce8f0ff2b4c8",
      "name": "Execute insert_sensor_data",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3760,
        -512
      ],
      "id": "9ba98bbf-01ab-483e-9b1a-123b6c992310",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/sun-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "height": 96,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6192,
        -560
      ],
      "typeVersion": 1,
      "id": "eb732cc3-5957-4215-a16c-43e936e7abca",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "this is GET /sensor-data on node-red",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        -688
      ],
      "typeVersion": 1,
      "id": "e0e1e6aa-9251-4082-b023-46e8fcc7988a",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "this is GET /get-sensortypes on node-red",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9248,
        -384
      ],
      "typeVersion": 1,
      "id": "ea24fc17-17a9-421f-a947-9c55e615f327",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "this is GET /get-monitoring-config on node-red",
        "height": 80,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        -144
      ],
      "typeVersion": 1,
      "id": "b40c0981-c022-4e2e-8b12-b7d622de0006",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-heart-rate-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        112
      ],
      "id": "f1968a66-2630-45b7-a016-01a825e65b1b",
      "name": "set heart rate threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        -416
      ],
      "id": "8bc7d955-116b-4d6d-87b0-b0c544678f54",
      "name": "Execute moon mapping query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nconst sunAzimuthRanges = [];\nconst heartRateMappings = [];\nconst moonAzimuthRanges = [];\n\nfor (const row of rows) {\n  if (row.type === \"SunAzimuth\") sunAzimuthRanges.push(row);\n  else if (row.type === \"HeartRate\") heartRateMappings.push(row);\n  else if (row.type === \"MoonAzimuth\") moonAzimuthRanges.push(row);\n}\n\nreturn [\n  {\n    json: {\n      sunAzimuthRanges,\n      heartRateMappings,\n      moonAzimuthRanges,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8816,
        -1184
      ],
      "id": "4871829d-04e7-4d6d-80fa-8bc09349bf3d",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3984,
        -704
      ],
      "id": "f5a8b3f3-3d7b-4171-b6e2-367ee3a61ce6",
      "name": "HTTP sun API Request"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7504,
        -944
      ],
      "id": "42a1ab7a-d146-438a-8180-ecc06b4db0eb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "0uPFXhDmV9wFsbyW",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config-old",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -7712,
        -1168
      ],
      "id": "2f942a88-b20d-48ed-b42d-22d4ae730f7f",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a strict JSON data extraction engine. Your ONLY job is to convert natural language commands into a structured JSON object for a database configuration.\n\n### Database Schema (Output Fields):\n- type: 'HeartRate', 'SunAzimuth', or 'MoonAzimuth' (Required)\n- active: boolean (Always true for new rules)\n- minvalue: number (The lower threshold. If user says \"above 120\", min=120, max=220)\n- maxvalue: number (The upper threshold. If user says \"below 60\", min=30, max=60)\n- minpulses, maxpulses: number (Vibration count. Low=1, Medium=3, High=5. Default=3)\n- minintensity, maxintensity: number (Vibration strength 0-255. Weak=50, Strong=255. Default=150)\n- minduration, maxduration: number (Pulse duration in ms. Short=100, Long=500. Default=200)\n- mininterval, maxinterval: number (Pause between pulses in ms. Default=100)\n\n### Strict Output Rules:\n1. Return ONLY the JSON object.\n2. Do NOT write \"Here is the JSON\".\n3. Do NOT wrap the output in markdown blocks (no ```json ... ```).\n4. If a value is missing, use reasonable defaults based on the context.\n5. Make sure all output fields are populated\n\n### Example Output:\n{ \"type\": \"HeartRate\", \"active\": true, \"minvalue\": 120, \"maxvalue\": 220, \"minpulses\": 3, \"maxpulses\": 5, \"minintensity\": 200, \"maxintensity\": 255, \"minduration\": 200, \"maxduration\": 400, \"mininterval\": 100, \"maxinterval\": 200 }"
            }
          ]
        }
      },
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -7504,
        -1168
      ],
      "id": "b8faea87-4909-4848-9b75-fe415aca577e"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text from the AI (it might be in .output or .text)\nconst aiOutput = $input.first().json.output || $input.first().json.text || \"\";\n\n// 1. If it's already an object, return it directly\nif (typeof aiOutput === 'object') {\n  return [{ json: aiOutput }];\n}\n\n// 2. If it's a string, use Regex to find the JSON object inside it\n// This ignores text like \"Here is your JSON:\"\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in AI response. Raw output: \" + aiOutput);\n}\n\ntry {\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  throw new Error(\"Found JSON-like text but failed to parse: \" + jsonMatch[0]);\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7168,
        -1168
      ],
      "id": "6be8f41f-3ecb-4574-b6ba-2a7d46641a22"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Rule created successfully\",\n  \"ruleId\": {{ $json.id }}\n}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -6720,
        -1168
      ],
      "id": "ba2c8ef0-1c02-4462-9bb4-ecaccb17324a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [ \n  $json.type, \n  true, \n  $json.minvalue, \n  $json.maxvalue, \n  $json.minpulses, \n  $json.maxpulses, \n  $json.minintensity, \n  $json.maxintensity, \n  $json.minduration, \n  $json.maxduration, \n  $json.mininterval, \n  $json.maxinterval\n].join(',') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6944,
        -1168
      ],
      "id": "984e4279-9700-4467-86ee-8466288dce3c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook-test/chat-config -H \"Content-Type: application/json\" -d \"{\\\"message\\\":\\\"Vibrate softly if sun azimuth is at 150 \\\"}\"\n\nor your own message after {\\\"message\\\":\\ ",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7824,
        -1008
      ],
      "typeVersion": 1,
      "id": "71bd9b21-8ca1-4371-9877-d80595722d93",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"lastrequest\", \"userid\"\nFROM \"User\" \nWHERE \"userid\" = {{ $json.body.UserID }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5952,
        -320
      ],
      "id": "43179226-76c5-43c7-8609-96216a6e0305",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastRequest = $input.first().json.lastrequest;\nconst userid = $input.first().json.userid\nconst now = new Date();\nconst dynamicDelay = 10000; // 10 seconds\n\nlet shouldWait = false;\n\nif (lastRequest) {\n  const elapsed = now.getTime() - new Date(lastRequest).getTime();\n  if (elapsed < dynamicDelay) {\n    shouldWait = true;\n  }\n}\n\nreturn [\n  {\n    json: {\n      userid,\n      shouldWait: shouldWait\n    }\n  }\n];"
      },
      "name": "Check Delay Logic1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5744,
        -320
      ],
      "id": "8d74acf1-9c79-4ecf-a098-a2d4edb49835"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"shouldWait\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Wait Needed1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -5552,
        -320
      ],
      "id": "311c9e84-79b5-4fcf-8f2b-5f34b92ed872"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -5328,
        -400
      ],
      "id": "08c88325-91dd-4d9a-b92f-685e7397ff3d",
      "webhookId": "bad4a52f-ae34-4d95-a5e7-90a02cdb0d40"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\";",
        "additionalFields": {
          "queryParams": "={{ $json.userid.toString() }}"
        }
      },
      "name": "Update Last Request1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5104,
        -320
      ],
      "id": "90d22597-f649-4733-80bc-695c948253a6",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3920,
        -112
      ],
      "id": "6f0a6d30-eea5-4ffa-8bba-46f9c44d2f75",
      "name": "Execute insert_sensor_data1",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3728,
        -112
      ],
      "id": "344f5c9c-29f4-4db5-9c4d-79505beaf0dd",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nconst lat = body.lat ?? 32.794;\nconst lon = body.lon ?? 34.989;\n\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4880,
        -320
      ],
      "id": "71a6f55f-6ec9-4476-9b69-5e6e84168cb7",
      "name": "Construct Moon APi Request"
    },
    {
      "parameters": {
        "jsCode": "// Keep whatever you already had from earlier nodes (webhook body, etc.)\nconst originalPayload = $input.first().json.originalPayload ?? $input.first().json;\n\n// The HTTP response body\nconst api = $input.first().json;\n\n// Try common shapes \nconst currentAzimuth =\n  api?.moon_azimuth ??\n  api?.moon?.azimuth ??\n  api?.data?.moon_azimuth ??\n  api?.data?.moon?.azimuth;\n\nif (currentAzimuth === undefined || currentAzimuth === null) {\n  return [{ json: { statusCode: 500, payload: { error: \"Moon azimuth missing from API response\", api } } }];\n}\n\n// Preserve original input + attach computed value\noriginalPayload.moon_azimuth = Number(currentAzimuth);\n\n// Put the “main payload” as originalPayload\nreturn [{ json: { ...originalPayload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4432,
        -320
      ],
      "id": "edf86c66-b3c5-482e-8e62-a5ec62ce1ba2",
      "name": "Extract Moon Azimuth And Preserve Original Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = 'MoonAzimuth'\nORDER BY minvalue, maxvalue;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4208,
        -320
      ],
      "id": "857a7765-bdf0-4945-a52a-c2c3388f2307",
      "name": "Query To Fetch Current Moon Rules From DB",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extract Moon Azimuth And Preserve Original Payload').first().json;\nconst rules = $input.all().map(i => i.json);\nconst az = $('Extract Moon Azimuth And Preserve Original Payload').first().json.sun_azimuth;\n\nlet chosen = null;\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n  if (az >= minV && az <= maxV) { chosen = r; break; }\n}\n\n\n// Defaults when no match \nlet pulses = 0, intensity = 0, duration = 0, interval = 0, fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\n// Attach vibration params for DB insert\nreturn [{\n  json: {\n    ...original,\n    monitoringType: \"MoonAzimuth\",\n    alertGiven: chosen ? \"yes\" : \"no\",\n    pulses, intensity, duration, interval,\n    fbRangeID\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3984,
        -320
      ],
      "id": "b042977f-595f-4372-99dd-89805fa1722d",
      "name": "Checks FeedBack Rules1"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\n\nconst userId  = parseInt($('Webhook moon data').first().json.body.UserID);\nconst watchId = parseInt($('Webhook moon data').first().json.body.SmartWatchID);\nconst phoneId = parseInt($('Webhook moon data').first().json.body.AndroidID);\n\nconst sensorName = $input.first().json.type || \"MoonAzimuth\";\nconst alertGiven = $input.first().json.alertGiven || p.alertGiven || \"no\";\nconst value = parseFloat($('HTTP Moon Request').first().json.moon_azimuth || 0);\n\nconst pulses = $input.first().json.pulses || 0;\nconst intensity = $input.first().json.intensity || 0;\nconst duration = $input.first().json.duration || 0;\nconst interval = $input.first().json.interval || 0;\nconst fbRangeID = $input.first().json.fbRangeID || null;\n\nif (!userId || !watchId || !phoneId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing ids (userId/watchId/phoneId)\", got: { userId, watchId, phoneId } } } }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [userId, watchId, phoneId, sensorName, alertGiven, value, pulses, intensity, duration, interval, fbRangeID]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        -320
      ],
      "id": "daac9163-024b-49c4-ba4f-7a2b33fdcb97",
      "name": "Setup Parameters For Moon Queries"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4656,
        -320
      ],
      "id": "e13ecb9f-1414-4625-8c93-681e101bd20b",
      "name": "HTTP Moon Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6160,
        -320
      ],
      "id": "8267eab6-77fc-496e-8cf4-a2a1659dfa88",
      "name": "Webhook moon data",
      "webhookId": "3a44de6f-0d6f-4e5c-ae4f-c28a63514782"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";\n",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID, '5 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5696,
        -1088
      ],
      "id": "3f63ed00-3ae5-4f9c-aae8-58962f82d6f7",
      "name": "Try Claim Slot",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//this should  send empty vibration if its not been 5 minutes\nconst userID = $('Webhook heart rate').first().json.body.UserID;\nconst SmartWatchID = $('Webhook heart rate').first().json.body.SmartWatchID;\nconst AndroidID = $('Webhook heart rate').first().json.body.AndroidID;\nconst rawValue = $('Webhook heart rate').first().json.body.Value;\n\nreturn [\n  {\n    json: {\n      monitoringType: 'HeartRate',\n      userID,\n      SmartWatchID,\n      AndroidID,\n      alertGiven: 'no',\n      pulses: 0,\n      intensity: 0,\n      duration: 0,\n      interval: 0,\n      fbRangeID: null,\n      reason: 'rate_limited',\n      rawValue\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5296,
        -1008
      ],
      "id": "20fac939-3faa-466e-98fc-e719784352c1",
      "name": "Build Rate-Limited Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5056,
        -1072
      ],
      "id": "a0302564-874e-4db7-bb4d-254656498b9c",
      "name": "Empty Respond to Webhook8\\"
    },
    {
      "parameters": {
        "content": "^ delay time is ^ hard-coded here",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5840,
        -928
      ],
      "id": "f5be7527-92cf-4fa1-8bb7-0e3dfa0c70d6",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'HeartRate',\n  '{{ $json.alertGiven }}',\n{{ $('Webhook heart rate').item.json.body.Value }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 9999 }}\n);",
        "additionalFields": {}
      },
      "name": "Insert Data Log1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5056,
        -912
      ],
      "id": "5255b107-bd06-4335-b67f-17e8c59d4e22",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6368,
        -1712
      ],
      "id": "e8dec2cd-6e74-427f-b518-ab54ad4d294f",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.message } }}",
        "options": {}
      },
      "name": "Respond Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4960,
        -1536
      ],
      "id": "1650d478-8d6b-4547-9840-633d7cbbf006"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== PRIORITY INSTRUCTIONS ===\nYou are a Haptic Research Assistant. Follow these steps in order for every user request:\n\nSTEP 1: Check for Confirmation. \nIf the user says \"Yes\", \"Go ahead\", \"Save\", \"No\", or \"Cancel\", you MUST set db_action to 'EXECUTE'. \nIn the 'message' field, say: \"Understood. Processing your choice now.\"\n\nSTEP 2: Check for General Chat. \nIf the user says \"Hi\", \"Hello\", or asks a question not about a specific rule, set db_action to 'NONE'. \nIf the topic is NOT haptics/sensors/vibration, say you can only discuss Haptic Feedback.\n\nSTEP 3: Check for Rule Description. \nIf the user describes a vibration or rule, set db_action to 'PROPOSAL'. \nYou MUST list these 11 parameters as bullets: Type, MinValue, MaxValue, MinPulses, MaxPulses, MinIntensity, MaxIntensity, MinDuration, MaxDuration, MinInterval, MaxInterval.\nEnd with: \"Shall I save this mapping?\"\n\n=== NO HARDWARE QUESTIONS ===\nNever ask for sensor types like ECG or PPG. They are irrelevant to the database.\n\n=== OUTPUT JSON FORMAT ===\nRespond ONLY with this JSON structure:\n{\n  \"message\": \"Your response text\",\n  \"db_action\": \"EXECUTE\" | \"PROPOSAL\" | \"NONE\",\n  \"payload\": { \"type\": \"HeartRate\", ...all 11 fields... }\n}\n\n=== USER REQUEST ===\n{{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -5936,
        -1744
      ],
      "id": "d36fd488-887b-48e9-9472-aa27dcd654d8",
      "name": "AI Agent2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5872,
        -1488
      ],
      "id": "2eac2b99-fe86-43c1-85a3-6583b5070b9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "EXECUTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19dc73ae-028c-4c8a-8e65-2a317f32502a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d87e74c-ab72-411a-8265-5e10deff1abf",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "PROPOSAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bcafd9fc-dc49-4cea-b841-2b5c79bff50a",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -5392,
        -1744
      ],
      "id": "95b52690-b3f5-4dc8-a3fc-33c7a4865bac",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text from the AI Agent\nconst rawOutput = $json.output || \"\";\n\n// 2. Use a Regular Expression to find the first '{' and the last '}'\n// This ignores any \"Okay, sure!\" text outside the brackets\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  // If no JSON is found, return the message as \"NONE\" so the flow doesn't crash\n  return [{ \n    json: { \n      message: rawOutput, \n      db_action: \"NONE\", \n      payload: null \n    } \n  }];\n}\n\ntry {\n  // 3. Parse only the part inside the curly braces\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  // 4. Fallback if the AI generates broken JSON\n  return [{ \n    json: { \n      message: \"The AI generated a malformed response. Raw: \" + rawOutput, \n      db_action: \"NONE\", \n      payload: null \n    } \n  }];\n}"
      },
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5584,
        -1744
      ],
      "id": "7bc962d3-fa73-447f-aa0a-605ce514c93c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5184,
        -1808
      ],
      "id": "ecd92a72-6468-4fdc-9820-abd484d27879",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"Rule successfully saved to the research database!\"\n}",
        "options": {}
      },
      "name": "Respond Success2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4976,
        -1808
      ],
      "id": "7892ac0e-2b57-4694-bea2-3e78a3780d77"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6032,
        -1536
      ],
      "id": "961f2856-c59b-4107-ba63-fede9eb3c228",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "0uPFXhDmV9wFsbyW",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "404a2c44-4a55-41d9-a543-12c7e8c92679",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "bb921885-90aa-4ad1-9023-55de92a7653b",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 220,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6192,
        -1088
      ],
      "id": "11bbf997-647e-40c5-9cc0-1b576ab7136f",
      "name": "If3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5952,
        -1264
      ],
      "id": "fc96071d-51a7-4fcc-8752-56f13d8356cc",
      "name": "Empty Respond to Webhook8\\1"
    },
    {
      "parameters": {
        "jsCode": "// Access global workflow memory\nconst staticData = $getWorkflowStaticData('global');\n\n// Get current sensor data\nconst currentHR = parseFloat($('Webhook heart rate').item.json.body.Value); \nconst currentTime = new Date().getTime();\n\nlet trendTrigger = false;\n\n// Initialize snapshot if it doesn't exist yet\nif (staticData.snapshotHR == null) {\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\n// Calculate time since last snapshot\nconst timeDiff = currentTime - staticData.snapshotTime;\n\n// Check if 0.5 minutes have passed\nif (timeDiff >= 30000) {\n    // 1. Compare Current vs Snapshot\n    const pastHR = parseFloat(staticData.snapshotHR);\n    \n    // Check for 15 BPM difference (Absolute value handles up or down)\n    if (Math.abs(currentHR - pastHR) >= 15) {\n        trendTrigger = true;\n    }\n\n    // 2. UPDATE the snapshot for the next minute comparison\n    // We update this regardless of whether we triggered or not\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\n// Output the flag so the next node can see it\nreturn [\n  {\n    json: {\n      ...items[0].json, \n      trendTrigger: trendTrigger\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6000,
        -1088
      ],
      "id": "44066fae-5844-4913-aa5b-4e806d9c1040",
      "name": "Calculate Trend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5da5823-dd44-44a4-8a96-279bc92c1580",
              "leftValue": "={{ $json.trendTrigger }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5856,
        -1088
      ],
      "id": "8c92f2a6-1785-4ffa-a28b-9d9eec54da8a",
      "name": "if trend detected"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5680,
        -1264
      ],
      "id": "fcdc5ead-2cab-457b-b248-870d00d982b9",
      "name": "Force Update Slot",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d616b709-a66d-4e0b-91d1-cf2508fdbcfa",
              "leftValue": "={{ $json.userid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5552,
        -1024
      ],
      "id": "3c8fcdb2-8ea3-4e1f-aaf6-83c2ac7e7bc5",
      "name": "Did timer expire?"
    }
  ],
  "pinData": {
    "set moon azimuth threshold1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "moonAzimuthRanges": [
              {
                "id": 0,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "Webhook sun data": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "73"
          },
          "params": {},
          "query": {},
          "body": {
            "UserID": 100,
            "SmartWatchID": 200,
            "AndroidID": 2,
            "lat": 32.794,
            "lon": 34.989
          },
          "webhookUrl": "http://localhost:5678/webhook-test/sun-data",
          "executionMode": "test"
        }
      }
    ],
    "set heart rate threshold": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "heartRateAzimuthRanges": [
              {
                "id": 148,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "set sun azimuth threshold": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "Java/19.0.2",
            "host": "localhost:5678",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "157"
          },
          "params": {},
          "query": {},
          "body": {
            "sunAzimuthRanges": [
              {
                "id": 0,
                "minAzimuth": 122,
                "maxAzimuth": 222,
                "pulses": 2,
                "intensity": 2,
                "duration": 22,
                "interval": 22,
                "active": true
              }
            ],
            "moonAzimuthRanges": null
          },
          "webhookUrl": "http://localhost:5678/webhook/set-sun-azimuth-threshold",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Fetch History": {
      "main": [
        [
          {
            "node": "Data Cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config Rules": {
      "main": [
        [
          {
            "node": "Check Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Rules": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning1": {
      "main": [
        [
          {
            "node": "Get Config Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor types": {
      "main": [
        [
          {
            "node": "get sensir type query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sensir type query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set sun azimuth threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute sun mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute moon mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set moon azimuth threshold1": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute sun mapping query2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Database": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook heart rate": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook sun data": {
      "main": [
        [
          {
            "node": "prepare Delay Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare Delay Query": {
      "main": [
        [
          {
            "node": "If status 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status 400": {
      "main": [
        [
          {
            "node": "Respond to Webhook on code 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT lastRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT lastRequest": {
      "main": [
        [
          {
            "node": "Check If Delay Necessary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Delay Necessary": {
      "main": [
        [
          {
            "node": "if should wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if should wait": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Last Request": {
      "main": [
        [
          {
            "node": "Execute UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute UPDATE": {
      "main": [
        [
          {
            "node": "Construct Sun Api Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Sun Api Request": {
      "main": [
        [
          {
            "node": "HTTP sun API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sun Azimuth And Preserve Original Payload": {
      "main": [
        [
          {
            "node": "Query To Fetch Current Sun Rules From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query To Fetch Current Sun Rules From DB": {
      "main": [
        [
          {
            "node": "Checks FeedBack Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks FeedBack Rules": {
      "main": [
        [
          {
            "node": "Setup Parameters For Sun Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Sun Queries": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute insert_sensor_data": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set heart rate threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute moon mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP sun API Request": {
      "main": [
        [
          {
            "node": "Extract Sun Azimuth And Preserve Original Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Check Delay Logic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wait Needed1": {
      "main": [
        [
          {
            "node": "Wait 5s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s1": {
      "main": [
        [
          {
            "node": "Update Last Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delay Logic1": {
      "main": [
        [
          {
            "node": "If Wait Needed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Request1": {
      "main": [
        [
          {
            "node": "Construct Moon APi Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute insert_sensor_data1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Moon APi Request": {
      "main": [
        [
          {
            "node": "HTTP Moon Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Moon Azimuth And Preserve Original Payload": {
      "main": [
        [
          {
            "node": "Query To Fetch Current Moon Rules From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query To Fetch Current Moon Rules From DB": {
      "main": [
        [
          {
            "node": "Checks FeedBack Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks FeedBack Rules1": {
      "main": [
        [
          {
            "node": "Setup Parameters For Moon Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Moon Queries": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Moon Request": {
      "main": [
        [
          {
            "node": "Extract Moon Azimuth And Preserve Original Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook moon data": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Claim Slot": {
      "main": [
        [
          {
            "node": "Did timer expire?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response": {
      "main": [
        [
          {
            "node": "Insert Data Log1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Empty Respond to Webhook8\\",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Respond Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Empty Respond to Webhook8\\1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Trend": {
      "main": [
        [
          {
            "node": "if trend detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if trend detected": {
      "main": [
        [
          {
            "node": "Force Update Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Claim Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Force Update Slot": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did timer expire?": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0837d6e1-d176-42ce-b98a-995081b96664",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "vfZIfwL7CbYY3Zwi",
  "tags": []
}