Smartwatch Haptic Backend.json
{
  "name": "Smartwatch Haptic Backend",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT value \nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorID = st.sensorID\nWHERE sd.userID = {{ $('Webhook heart rate').item.json.body.UserID }}\nAND sd.watchID = {{ $('Webhook heart rate').item.json.body.SmartWatchID }}\nAND sd.phoneID = {{ $('Webhook heart rate').item.json.body.AndroidID }}\nAND st.name = 'HeartRate'\nORDER BY time DESC\nLIMIT 10;",
        "additionalFields": {}
      },
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4832,
        -1200
      ],
      "id": "c879a136-dcb0-426f-be8d-559eddb4cc9c",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = true;",
        "additionalFields": {}
      },
      "name": "Get Config Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4432,
        -1200
      ],
      "id": "c19dd705-7a6d-4f65-b15a-60b196311f06",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const heartRate = $node[\"Data Cleaning1\"].json.heartRate;\n\nconst userID = $node[\"Webhook heart rate\"].json.body.UserID;\nconst SmartWatchID = $node[\"Webhook heart rate\"].json.body.SmartWatchID;\nconst AndroidID = $node[\"Webhook heart rate\"].json.body.AndroidID;\n\nconst mappings = items.map(i => i.json);\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nlet feedback = {\n  intensity: 0,\n  pulses: 0,\n  duration: 0,\n  interval: 0,\n  alertGiven: \"no\",\n  fbRangeID: null,\n  monitoringType: \"HeartRate\",\n  userID,\n  SmartWatchID,\n  AndroidID,\n};\n\nif (!mappings || mappings.length === 0) {\n  return [{ json: feedback }];\n}\n\nfor (const m of mappings) {\n  const minHR = parseFloat(m.minvalue);\n  const maxHR = parseFloat(m.maxvalue);\n\n  if (heartRate >= minHR && heartRate <= maxHR) {\n    feedback.intensity = Math.round(\n      map(heartRate, minHR, maxHR, Number(m.minintensity), Number(m.maxintensity))\n    );\n    feedback.pulses = 10;\n\n    feedback.duration = Math.round(\n      map(heartRate, minHR, maxHR, Number(m.minduration), Number(m.maxduration))\n    );\n\n    const totalCycleTimeMs = 60000 / heartRate;\n    feedback.interval = Math.max(0, Math.round(totalCycleTimeMs - feedback.duration));\n\n    feedback.fbRangeID = parseInt(m.id);\n    feedback.alertGiven = feedback.pulses > 0 ? \"yes\" : \"no\";\n    break;\n  }\n}\n\nreturn [{ json: feedback }];\n"
      },
      "name": "Check Feedback Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4256,
        -1200
      ],
      "id": "5186e244-bd0e-4176-ade9-cc14a880c5d6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -3744,
        -1232
      ],
      "id": "8ba49c7d-e7ad-4527-a5a5-5e8bf7dc6b6d"
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\n// These are ordered by time DESC (Index 0 is the most recent DB entry)\nconst readings = items.map(item => parseFloat(item.json.value)).filter(v => !isNaN(v));\n\n// Extract raw sensor input from Webhook\nconst rawValue = parseFloat($('Webhook heart rate').item.json.body.Value || 0);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid (for logic consistency)\nif (!isOutlier(rawValue)) {\n    readings.push(rawValue); \n}\n\n// LOWER the alpha to make smoothing stronger against vibration noise\n// 0.1 means \"Trust the history 90%, trust the new value 10%\"\nconst alpha = 0.1; \n\nlet smoothed = rawValue; // Default if no history\n\nif (readings.length > 0) {\n    // FIX: Use readings[0] because your SQL sorts by DESC (Newest First)\n    // This gets the most recent saved value from the database\n    const prev = readings[0]; \n    smoothed = alpha * rawValue + (1 - alpha) * prev;\n}\n\nreturn [\n  {\n    json: {\n      heartRate: Math.round(smoothed),\n      rawValue: rawValue\n    }\n  }\n];"
      },
      "name": "Data Cleaning1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -4624,
        -1200
      ],
      "id": "917b280f-0700-40f8-ba78-18cb89ed49be"
    },
    {
      "parameters": {
        "content": "Change heart rate feedback interval between 2 notifications",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6224,
        -1200
      ],
      "id": "7f06421e-919d-4ef1-8cc2-8ec81928b616",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM to insert new mappings",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7712,
        -1264
      ],
      "typeVersion": 1,
      "id": "1c8f35aa-a771-4c83-b18c-f224f4a10abc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -1184
      ],
      "id": "780c9c51-613e-4b14-bd80-5b805220f34f",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -1184
      ],
      "id": "e0ad8ff9-0b15-4d90-9589-3985409deb66",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "GET Queries",
        "height": 80,
        "width": 1622,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1376
      ],
      "typeVersion": 1,
      "id": "db240755-17d8-4f35-a130-4b3230a433ce",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -960
      ],
      "id": "9a178be9-4cd3-4e50-8b4a-6a05894c4919",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -960
      ],
      "id": "20496c83-c87a-4ce7-af6b-cd9dce366f40",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8592,
        -1184
      ],
      "id": "cc306317-2834-44aa-aa4f-43da8a1ff372",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -640
      ],
      "id": "de325a54-d0bf-434e-8aac-62f9c39fd577",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8368,
        -736
      ],
      "id": "de5976e8-421b-42f9-836d-ca8be85d69e8",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8144,
        -736
      ],
      "id": "fe4c11c8-2bf4-4a11-a7e1-72cf78d7ae8f",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8592,
        -544
      ],
      "id": "8d1005ed-24d0-4e46-8a93-29d5627a029c",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -320
      ],
      "id": "af639b11-71d1-4ac4-941a-6696a60c85ad",
      "name": "Get sensor types",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -320
      ],
      "id": "02e3dc09-fba6-4c9d-809e-85318bc6de5d",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        -96
      ],
      "id": "b5864cd6-7f60-4c84-b979-c6c41c508c25",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        -96
      ],
      "id": "e9af0ee5-1810-49a3-9cc5-92189bb3f0dc",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        144
      ],
      "id": "8cc636c1-205d-41c2-84a2-1f945097a935",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8816,
        144
      ],
      "id": "718989c5-b6b9-4ef3-a5f8-1a682f022692",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "--IMPORTANT--\nIn order for the monitoring config and monitoring type nodes to run: \n1. Set the workflow to active\n2. Set both nodes to production URL\n3. first run set and then get",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8608,
        -112
      ],
      "typeVersion": 1,
      "id": "c1fb6647-46bf-4680-a154-77d3716078f5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -656
      ],
      "typeVersion": 1,
      "id": "f5b28331-4de0-43c2-8d84-972f2c644dc4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1232
      ],
      "typeVersion": 1,
      "id": "11666211-e7a8-4672-b762-cd4347287964",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -1008
      ],
      "typeVersion": 1,
      "id": "07541e0f-1b20-480a-9f3c-94b02ba73f96",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.userid,\n    u.fname,\n    u.lname,\n    u.lastrequest,\n    u.active_usecase_id,\n    uc.name as usecase_name,\n    uc.description as usecase_description\nFROM \"User\" u\nLEFT JOIN \"UseCase\" uc ON u.active_usecase_id = uc.usecase_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -960
      ],
      "id": "385501c9-d59f-44b4-aa09-65293390d330",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  default:\n    dateFrom = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.sensorid\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.sensorid = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\" }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        -640
      ],
      "id": "ff492b38-5120-40cd-97fe-b16ee487ef92",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8816,
        -640
      ],
      "id": "ebccab53-a694-4873-b7f4-ef2f8676b26e",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8592,
        -736
      ],
      "id": "998cb4fc-4c48-414a-8491-7f0219d7b7e8",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sensorid, name FROM \"SensorType\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        -320
      ],
      "id": "3921002a-775d-468b-9124-d2812ecae771",
      "name": "get sensir type query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        96
      ],
      "typeVersion": 1,
      "id": "287f2614-ef77-4bc8-b0e7-cfba98091fc2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -128
      ],
      "typeVersion": 1,
      "id": "24d300f0-2c4d-45cc-88d7-b2b5311c0a27",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        -96
      ],
      "id": "42653200-801a-4d30-911c-82fd5bed150f",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        144
      ],
      "id": "ff39a7f3-cc33-4e2c-9d3e-34f33310b359",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        -352
      ],
      "typeVersion": 1,
      "id": "22824a05-6152-446a-8652-90f9f1827a1f",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "EDIT MAPPING RULES",
        "height": 80,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7744,
        -1376
      ],
      "typeVersion": 1,
      "id": "a1bc32b0-7e9b-43f6-9739-212764bc3a73",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-sun-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        -736
      ],
      "id": "01858d87-1207-4b52-8a62-7c07f9fb98c3",
      "name": "set sun azimuth threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.sunAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'sunAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"SunAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        -736
      ],
      "id": "f362f62d-16fb-42c6-9bff-25214f9c76d9",
      "name": "UpdatingChangedValuesIfExist"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        -832
      ],
      "id": "52f11b28-ded9-49c2-a077-2804f6ab8ddb",
      "name": "Execute sun mapping query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        -832
      ],
      "id": "fb7869cf-7ee3-4c54-8c95-ff6578a6a5e7",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        -736
      ],
      "id": "e13f2cdb-89f0-4eb9-8577-f542cf840505",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        -640
      ],
      "id": "f4e1aa56-88a2-44f2-b943-44e66c312d83",
      "name": "Respond to Webhook on error"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.moonAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"MoonAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        -320
      ],
      "id": "526e1ebc-a24f-43a9-9216-ed31d9640e96",
      "name": "UpdatingChangedValuesIfExist1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        -416
      ],
      "id": "92d51f69-db32-4f81-8bdc-455cce277cc6",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        -320
      ],
      "id": "2024d3ca-ac83-478f-b370-a993beb35d77",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist1').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist1').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        -224
      ],
      "id": "0d5c1853-4552-4848-82a3-b095220fd005",
      "name": "Respond to Webhook on error1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-moon-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        -320
      ],
      "id": "eae203a2-42bf-43c0-8e8b-fb287cc1ca7d",
      "name": "set moon azimuth threshold1",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.thresholds\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"HeartRate\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7472,
        112
      ],
      "id": "a037185a-eac4-44f8-8a43-09423f97c728",
      "name": "UpdatingChangedValuesIfExist2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        16
      ],
      "id": "16cf90d9-48d2-4907-afa7-3d4cd070477d",
      "name": "Execute sun mapping query2",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6800,
        16
      ],
      "id": "271194ce-2d52-4f7a-986d-0d345f02affe",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -7248,
        112
      ],
      "id": "5da09eb8-4d8c-458e-823f-cba54d31cc95",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist2').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist2').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -7024,
        208
      ],
      "id": "1f47f5e0-49c4-4115-8b66-051b9dacfeef",
      "name": "Respond to Webhook on error2"
    },
    {
      "parameters": {
        "content": "Checking Rules & API Requests & Sending Appropriate FeedBack",
        "height": 96,
        "width": 2640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6224,
        -1376
      ],
      "typeVersion": 1,
      "id": "304a975a-8a16-4194-a47c-540c7bb5517c",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "-NOTE-\nTo create the DB tables and insert data, run this only once before starting anything else",
        "height": 240,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7344,
        -1744
      ],
      "typeVersion": 1,
      "id": "678f08a0-6463-4250-a96d-49184e9de573",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -7296,
        -1632
      ],
      "id": "95fd2443-e314-4f7e-a032-5fd201c774b0",
      "name": "Build Database",
      "executeOnce": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heartRate",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook heart rate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6160,
        -1024
      ],
      "id": "cc7e994b-c77a-4090-a4af-18d39a3f2c3f",
      "webhookId": "ab04974b-c683-4224-90a1-cae7a4139bdc"
    },
    {
      "parameters": {
        "content": "this is GET /sensor-data on node-red",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        -688
      ],
      "typeVersion": 1,
      "id": "e0e1e6aa-9251-4082-b023-46e8fcc7988a",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "this is GET /get-sensortypes on node-red",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9248,
        -384
      ],
      "typeVersion": 1,
      "id": "ea24fc17-17a9-421f-a947-9c55e615f327",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "this is GET /get-monitoring-config on node-red",
        "height": 80,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9264,
        -144
      ],
      "typeVersion": 1,
      "id": "b40c0981-c022-4e2e-8b12-b7d622de0006",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-heart-rate-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7696,
        112
      ],
      "id": "f1968a66-2630-45b7-a016-01a825e65b1b",
      "name": "set heart rate threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7024,
        -416
      ],
      "id": "8bc7d955-116b-4d6d-87b0-b0c544678f54",
      "name": "Execute moon mapping query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nconst sunAzimuthRanges = [];\nconst heartRateMappings = [];\nconst moonAzimuthRanges = [];\n\nfor (const row of rows) {\n  if (row.type === \"SunAzimuth\") sunAzimuthRanges.push(row);\n  else if (row.type === \"HeartRate\") heartRateMappings.push(row);\n  else if (row.type === \"MoonAzimuth\") moonAzimuthRanges.push(row);\n}\n\nreturn [\n  {\n    json: {\n      sunAzimuthRanges,\n      heartRateMappings,\n      moonAzimuthRanges,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8816,
        -1184
      ],
      "id": "4871829d-04e7-4d6d-80fa-8bc09349bf3d",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -7504,
        -944
      ],
      "id": "42a1ab7a-d146-438a-8180-ecc06b4db0eb",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "0uPFXhDmV9wFsbyW",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config-old",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -7712,
        -1168
      ],
      "id": "2f942a88-b20d-48ed-b42d-22d4ae730f7f",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a strict JSON data extraction engine. Your ONLY job is to convert natural language commands into a structured JSON object for a database configuration.\n\n### Database Schema (Output Fields):\n- type: 'HeartRate', 'SunAzimuth', or 'MoonAzimuth' (Required)\n- active: boolean (Always true for new rules)\n- minvalue: number (The lower threshold. If user says \"above 120\", min=120, max=220)\n- maxvalue: number (The upper threshold. If user says \"below 60\", min=30, max=60)\n- minpulses, maxpulses: number (Vibration count. Low=1, Medium=3, High=5. Default=3)\n- minintensity, maxintensity: number (Vibration strength 0-255. Weak=50, Strong=255. Default=150)\n- minduration, maxduration: number (Pulse duration in ms. Short=100, Long=500. Default=200)\n- mininterval, maxinterval: number (Pause between pulses in ms. Default=100)\n\n### Strict Output Rules:\n1. Return ONLY the JSON object.\n2. Do NOT write \"Here is the JSON\".\n3. Do NOT wrap the output in markdown blocks (no ```json ... ```).\n4. If a value is missing, use reasonable defaults based on the context.\n5. Make sure all output fields are populated\n\n### Example Output:\n{ \"type\": \"HeartRate\", \"active\": true, \"minvalue\": 120, \"maxvalue\": 220, \"minpulses\": 3, \"maxpulses\": 5, \"minintensity\": 200, \"maxintensity\": 255, \"minduration\": 200, \"maxduration\": 400, \"mininterval\": 100, \"maxinterval\": 200 }"
            }
          ]
        }
      },
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -7504,
        -1168
      ],
      "id": "b8faea87-4909-4848-9b75-fe415aca577e"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text from the AI (it might be in .output or .text)\nconst aiOutput = $input.first().json.output || $input.first().json.text || \"\";\n\n// 1. If it's already an object, return it directly\nif (typeof aiOutput === 'object') {\n  return [{ json: aiOutput }];\n}\n\n// 2. If it's a string, use Regex to find the JSON object inside it\n// This ignores text like \"Here is your JSON:\"\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in AI response. Raw output: \" + aiOutput);\n}\n\ntry {\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  throw new Error(\"Found JSON-like text but failed to parse: \" + jsonMatch[0]);\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7168,
        -1168
      ],
      "id": "6be8f41f-3ecb-4574-b6ba-2a7d46641a22"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Rule created successfully\",\n  \"ruleId\": {{ $json.id }}\n}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -6720,
        -1168
      ],
      "id": "ba2c8ef0-1c02-4462-9bb4-ecaccb17324a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [ \n  $json.type, \n  true, \n  $json.minvalue, \n  $json.maxvalue, \n  $json.minpulses, \n  $json.maxpulses, \n  $json.minintensity, \n  $json.maxintensity, \n  $json.minduration, \n  $json.maxduration, \n  $json.mininterval, \n  $json.maxinterval\n].join(',') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6944,
        -1168
      ],
      "id": "984e4279-9700-4467-86ee-8466288dce3c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook-test/chat-config -H \"Content-Type: application/json\" -d \"{\\\"message\\\":\\\"Vibrate softly if sun azimuth is at 150 \\\"}\"\n\nor your own message after {\\\"message\\\":\\ ",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7824,
        -1008
      ],
      "typeVersion": 1,
      "id": "71bd9b21-8ca1-4371-9877-d80595722d93",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";\n",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5488,
        -1024
      ],
      "id": "3f63ed00-3ae5-4f9c-aae8-58962f82d6f7",
      "name": "Try Claim Slot",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//this should send empty vibration if its not been 5 minutes\nconst userID = parseInt($('Webhook heart rate').first().json.body.UserID);\nconst SmartWatchID = parseInt($('Webhook heart rate').first().json.body.SmartWatchID);\nconst AndroidID = parseInt($('Webhook heart rate').first().json.body.AndroidID);\nconst rawValue = parseFloat($('Webhook heart rate').first().json.body.Value);\n\nreturn [\n  {\n    json: {\n      monitoringType: 'HeartRate',\n      userID,\n      SmartWatchID,\n      AndroidID,\n      alertGiven: 'no',\n      pulses: 0,\n      intensity: 0,\n      duration: 0,\n      interval: 0,\n      fbRangeID: 9999,\n      reason: 'rate_limited',\n      rawValue,\n      vibrationReason: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5088,
        -832
      ],
      "id": "20fac939-3faa-466e-98fc-e719784352c1",
      "name": "Build Rate-Limited Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4848,
        -928
      ],
      "id": "a0302564-874e-4db7-bb4d-254656498b9c",
      "name": "Empty Respond to Webhook8\\"
    },
    {
      "parameters": {
        "content": "^ delay time is ^ hard-coded here",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5520,
        -864
      ],
      "id": "f5be7527-92cf-4fa1-8bb7-0e3dfa0c70d6",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6368,
        -1712
      ],
      "id": "e8dec2cd-6e74-427f-b518-ab54ad4d294f",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.message } }}",
        "options": {}
      },
      "name": "Respond Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4960,
        -1536
      ],
      "id": "1650d478-8d6b-4547-9840-633d7cbbf006"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== PRIORITY INSTRUCTIONS ===\nYou are a Haptic Research Assistant. Follow these steps in order for every user request:\n\nSTEP 1: Check for Confirmation. \nIf the user says \"Yes\", \"Go ahead\", \"Save\", \"No\", or \"Cancel\", you MUST set db_action to 'EXECUTE'. \nIn the 'message' field, say: \"Understood. Processing your choice now.\"\n\nSTEP 2: Check for General Chat. \nIf the user says \"Hi\", \"Hello\", or asks a question not about a specific rule, set db_action to 'NONE'. \nIf the topic is NOT haptics/sensors/vibration, say you can only discuss Haptic Feedback.\n\nSTEP 3: Check for Rule Description. \nIf the user describes a vibration or rule, set db_action to 'PROPOSAL'. \nYou MUST list these 11 parameters as bullets: Type, MinValue, MaxValue, MinPulses, MaxPulses, MinIntensity, MaxIntensity, MinDuration, MaxDuration, MinInterval, MaxInterval.\nEnd with: \"Shall I save this mapping?\"\n\n=== NO HARDWARE QUESTIONS ===\nNever ask for sensor types like ECG or PPG. They are irrelevant to the database.\n\n=== OUTPUT JSON FORMAT ===\nRespond ONLY with this JSON structure:\n{\n  \"message\": \"Your response text\",\n  \"db_action\": \"EXECUTE\" | \"PROPOSAL\" | \"NONE\",\n  \"payload\": { \"type\": \"HeartRate\", ...all 11 fields... }\n}\n\n=== USER REQUEST ===\n{{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -5936,
        -1744
      ],
      "id": "d36fd488-887b-48e9-9472-aa27dcd654d8",
      "name": "AI Agent2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -5872,
        -1488
      ],
      "id": "2eac2b99-fe86-43c1-85a3-6583b5070b9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "EXECUTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19dc73ae-028c-4c8a-8e65-2a317f32502a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d87e74c-ab72-411a-8265-5e10deff1abf",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "PROPOSAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bcafd9fc-dc49-4cea-b841-2b5c79bff50a",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -5392,
        -1744
      ],
      "id": "95b52690-b3f5-4dc8-a3fc-33c7a4865bac",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw text from the AI Agent\nconst rawOutput = $json.output || \"\";\n\n// 2. Use a Regular Expression to find the first '{' and the last '}'\n// This ignores any \"Okay, sure!\" text outside the brackets\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  // If no JSON is found, return the message as \"NONE\" so the flow doesn't crash\n  return [{ \n    json: { \n      message: rawOutput, \n      db_action: \"NONE\", \n      payload: null \n    } \n  }];\n}\n\ntry {\n  // 3. Parse only the part inside the curly braces\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  // 4. Fallback if the AI generates broken JSON\n  return [{ \n    json: { \n      message: \"The AI generated a malformed response. Raw: \" + rawOutput, \n      db_action: \"NONE\", \n      payload: null \n    } \n  }];\n}"
      },
      "name": "Parse AI Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5584,
        -1744
      ],
      "id": "7bc962d3-fa73-447f-aa0a-605ce514c93c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5184,
        -1808
      ],
      "id": "ecd92a72-6468-4fdc-9820-abd484d27879",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": \"Rule successfully saved to the research database!\"\n}",
        "options": {}
      },
      "name": "Respond Success2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4976,
        -1808
      ],
      "id": "7892ac0e-2b57-4694-bea2-3e78a3780d77"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -6032,
        -1536
      ],
      "id": "961f2856-c59b-4107-ba63-fede9eb3c228",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "0uPFXhDmV9wFsbyW",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "404a2c44-4a55-41d9-a543-12c7e8c92679",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "bb921885-90aa-4ad1-9023-55de92a7653b",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 220,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5984,
        -1024
      ],
      "id": "11bbf997-647e-40c5-9cc0-1b576ab7136f",
      "name": "If3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5744,
        -1200
      ],
      "id": "fc96071d-51a7-4fcc-8752-56f13d8356cc",
      "name": "Empty Respond to Webhook8\\1"
    },
    {
      "parameters": {
        "jsCode": "// Access global workflow memory\nconst staticData = $getWorkflowStaticData('global');\n\n// Get current sensor data\nconst currentHR = parseFloat($('Webhook heart rate').item.json.body.Value); \nconst currentTime = new Date().getTime();\n\nlet trendTrigger = false;\n\n// Initialize snapshot if it doesn't exist yet\nif (staticData.snapshotHR == null) {\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\n// Calculate time since last snapshot\nconst timeDiff = currentTime - staticData.snapshotTime;\n\n// Check if 0.5 minutes have passed\nif (timeDiff >= 30000) {\n    // 1. Compare Current vs Snapshot\n    const pastHR = parseFloat(staticData.snapshotHR);\n    \n    // Check for 15 BPM difference (Absolute value handles up or down)\n    if (Math.abs(currentHR - pastHR) >= 15) {\n        trendTrigger = true;\n    }\n\n    // 2. UPDATE the snapshot for the next minute comparison\n    // We update this regardless of whether we triggered or not\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\nconst diff = staticData.snapshotHR == null ? 0 : Math.abs(currentHR - staticData.snapshotHR);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    trendTrigger,\n    debug_timeDiffMs: timeDiff,\n    debug_diff: diff,\n    debug_snapshotHR: staticData.snapshotHR,\n    debug_currentHR: currentHR\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5792,
        -1024
      ],
      "id": "44066fae-5844-4913-aa5b-4e806d9c1040",
      "name": "Calculate Trend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5da5823-dd44-44a4-8a96-279bc92c1580",
              "leftValue": "={{ $json.trendTrigger }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5648,
        -1024
      ],
      "id": "8c92f2a6-1785-4ffa-a28b-9d9eec54da8a",
      "name": "if trend detected"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5472,
        -1200
      ],
      "id": "fcdc5ead-2cab-457b-b248-870d00d982b9",
      "name": "Force Update Slot",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d616b709-a66d-4e0b-91d1-cf2508fdbcfa",
              "leftValue": "={{ $json.userid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5344,
        -960
      ],
      "id": "3c8fcdb2-8ea3-4e1f-aaf6-83c2ac7e7bc5",
      "name": "Did timer expire?"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0ACXKM7QJJ",
          "mode": "list",
          "cachedResultName": "all-hapticfeedback-test"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -4608,
        -1776
      ],
      "id": "676014b9-15d1-4151-a2eb-42e90a313acd",
      "name": "Slack Trigger",
      "webhookId": "301e0b4f-23c6-4f06-b201-ca4dbda2648f",
      "credentials": {
        "slackApi": {
          "id": "BkhtLo1f0VTLR3WM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==== PRIORITY INSTRUCTIONS ===\nYou are a Haptic Research Assistant. Follow these steps in order for every user request:\n\nSTEP 1: Check for Confirmation. \nIf the user says \"Yes\", \"Go ahead\", \"Save\", \"No\", or \"Cancel\", you MUST set db_action to 'EXECUTE'. \nIn the 'message' field, say: \"Understood. Processing your choice now.\"\n\nSTEP 2: Check for General Chat. \nIf the user says \"Hi\", \"Hello\", or asks a question not about a specific rule, set db_action to 'NONE'. \nIf the topic is NOT haptics/sensors/vibration, say you can only discuss Haptic Feedback.\n\nSTEP 3: Check for Rule Description. \nIf the user describes a vibration or rule, set db_action to 'PROPOSAL'. \nYou MUST list these 11 parameters as bullets: Type, MinValue, MaxValue, MinPulses, MaxPulses, MinIntensity, MaxIntensity, MinDuration, MaxDuration, MinInterval, MaxInterval.\nEnd with: \"Shall I save this mapping?\"\n\n=== NO HARDWARE QUESTIONS ===\nNever ask for sensor types like ECG or PPG. They are irrelevant to the database.\n\n=== OUTPUT JSON FORMAT ===\nRespond ONLY with this JSON structure:\n{\n  \"message\": \"Your response text\",\n  \"db_action\": \"EXECUTE\" | \"PROPOSAL\" | \"NONE\",\n  \"payload\": { \"type\": \"HeartRate\", ...all 11 fields... }\n}\n\n=== USER REQUEST ===\n{{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4176,
        -1776
      ],
      "id": "9e152f23-cef0-48eb-81ef-b8c8eaff8977",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4112,
        -1520
      ],
      "id": "39417ab7-5196-4950-ba44-63fa05baa744",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "EXECUTE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "19dc73ae-028c-4c8a-8e65-2a317f32502a"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5d87e74c-ab72-411a-8265-5e10deff1abf",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "PROPOSAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bcafd9fc-dc49-4cea-b841-2b5c79bff50a",
                    "leftValue": "={{ $json.db_action.toUpperCase() }}",
                    "rightValue": "NONE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -3632,
        -1776
      ],
      "id": "db3e7238-18df-488e-81ec-e4b69713bcb0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get raw AI output\nconst rawOutput = $json.output || \"\";\n\n// 2. Parse JSON (existing logic)\nconst jsonMatch = rawOutput.match(/\\{[\\s\\S]*\\}/);\nlet parsedData;\n\nif (!jsonMatch) {\n  parsedData = { \n    message: rawOutput, \n    db_action: \"NONE\", \n    payload: null \n  };\n} else {\n  try {\n    parsedData = JSON.parse(jsonMatch[0]);\n  } catch (e) {\n    parsedData = { \n      message: \"AI response error: \" + rawOutput, \n      db_action: \"NONE\", \n      payload: null \n    };\n  }\n}\n\n// 3. BULLETPROOF CHANNEL - Direct from Trigger\nparsedData.channel = $input.first().json.event?.channel || \n                     $('Slack Trigger').all()[0]?.json.event?.channel || \n                     \"C0ACXKM7QJJ\";\n\nreturn [{ json: parsedData }];\n"
      },
      "name": "Parse AI Response2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3824,
        -1776
      ],
      "id": "db9fc609-90cc-477d-b893-0277e0725d34"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3424,
        -1840
      ],
      "id": "0c39be08-a069-4644-90e2-d8c99afbc3c2",
      "name": "Execute a SQL query4",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4288,
        -1568
      ],
      "id": "f12bbc7f-1924-4e4f-804a-420c895ff8fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0uPFXhDmV9wFsbyW",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79bda370-dd93-44d7-ba4d-a6b6b81ad6b7",
              "name": "chatInput",
              "value": "={{ $json.event.text }}",
              "type": "string"
            },
            {
              "id": "6f88ca88-078b-4fda-a070-867ee730551b",
              "name": "sessionId",
              "value": "={{ $json.event.user }}",
              "type": "string"
            },
            {
              "id": "641e7f56-4f09-41fb-b045-e80b1d06d631",
              "name": "channel",
              "value": "={{ $json.event.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4416,
        -1776
      ],
      "id": "c552774c-d3d6-4fb7-86f3-7c5cec5f397c",
      "name": "Map Slack Payload"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "messageType": "block",
        "blocksUi": "=[\n  {\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Saved:* {{ $json.output }}\"}}\n]\n",
        "text": "={{ $json.message || $json.output || \"Rule saved! ✅\" }}",
        "otherOptions": {
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $('Slack Trigger').item.json.event.ts }}\n"
            }
          },
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3216,
        -1840
      ],
      "id": "05cdb073-65a8-4e23-92c5-f92818e1d088",
      "name": "Send a message",
      "webhookId": "399892ad-48f0-402c-bceb-1aaf82b22d15",
      "credentials": {
        "slackApi": {
          "id": "BkhtLo1f0VTLR3WM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.message || $json.output || \"Rule saved! ✅\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -3216,
        -1648
      ],
      "id": "468902fc-d6ac-400a-8af0-1635e5e3654d",
      "name": "Send a message1",
      "webhookId": "399892ad-48f0-402c-bceb-1aaf82b22d15",
      "credentials": {
        "slackApi": {
          "id": "BkhtLo1f0VTLR3WM",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "content": "SLACK AGENT",
        "height": 80,
        "width": 2640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3232,
        -1376
      ],
      "typeVersion": 1,
      "id": "141b997a-7e0c-4bef-b1d1-1f491c3c2162",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/get-readings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -1216
      ],
      "id": "4739919d-61ea-452a-b9fe-573454f29c76",
      "name": "get-readings",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "jsCode": "const { user_id, sensor_type, time_range, start_date, end_date } = $input.item.json.body;\n   \n   let timeFilter;\n   if (time_range === '24h') {\n     timeFilter = \"sd.time >= NOW() - INTERVAL '24 hours'\";\n   } else if (time_range === '7d') {\n     timeFilter = \"sd.time >= NOW() - INTERVAL '7 days'\";\n   } else if (time_range === '30d') {\n     timeFilter = \"sd.time >= NOW() - INTERVAL '30 days'\";\n   } else if (time_range === 'custom' && start_date && end_date) {\n     timeFilter = `sd.time BETWEEN '${start_date}' AND '${end_date}'`;\n   } else {\n     timeFilter = \"sd.time >= NOW() - INTERVAL '24 hours'\";\n   }\n   \n   return [{\n     json: {\n       user_id,\n       sensor_type,\n       timeFilter\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        -1216
      ],
      "id": "d21a804f-ad27-46eb-b47c-9a9b8e55877c",
      "name": "Parse Time Range"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n     sd.value,\n     sd.time,\n     a.intensity,\n     a.pulses,\n     a.duration,\n     a.interval,\n     a.alertgiven\n   FROM \"SensorData\" sd\n   JOIN \"SensorType\" st ON sd.sensorid = st.sensorid\n   LEFT JOIN \"Alert\" a ON sd.alertid = a.alertid\n   WHERE sd.userid = {{ $json.user_id }}\n   AND st.name = '{{ $json.sensor_type }}'\n   AND {{ $json.timeFilter }}\n   ORDER BY sd.time ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -1216
      ],
      "id": "23240724-77ec-45fc-b7aa-de17b5f088e4",
      "name": "fetch readings",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(item => ({\n     value: item.json.value,\n     time: item.json.time,\n     intensity: item.json.intensity,\n     pulses: item.json.pulses,\n     duration: item.json.duration,\n     interval: item.json.interval,\n     alertgiven: item.json.alertgiven\n   }));\n   \n   return [{\n     json: {\n       success: true,\n       data: data\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -1216
      ],
      "id": "34be395f-072f-4a4f-b532-ac97a44e1cf0",
      "name": "format response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2400,
        -1216
      ],
      "id": "bba79e52-a2e0-4a6d-8d31-8c9bbe69e021",
      "name": "output readings"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n     sd.value,\n     sd.time,\n     a.intensity,\n     a.pulses,\n     a.duration,\n     a.interval,\n     a.alertgiven\n   FROM \"SensorData\" sd\n   JOIN \"SensorType\" st ON sd.sensorid = st.sensorid\n   LEFT JOIN \"Alert\" a ON sd.alertid = a.alertid\n   WHERE sd.userid = {{ $json.user_id }}\n   AND st.name = '{{ $json.sensor_type }}'\n   AND {{ $json.timeFilter }}\n   ORDER BY sd.time ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -960
      ],
      "id": "659945fd-2800-433e-bce9-3fcb27e2d359",
      "name": "fetch readings1",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/slack/get-mappings",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -960
      ],
      "id": "29689489-6d14-4035-88dd-6e958f4efa73",
      "name": "get-mappings",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "content": "*Difference from current-configurtations* - this one can filter by sensor type",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3520,
        -960
      ],
      "typeVersion": 1,
      "id": "6c5bbbad-35c5-4119-8f75-cc14b8dadc0b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "jsCode": "const { sensor_type } = $input.item.json.body || {};\n   \n   return [{\n     json: {\n       sensor_type: sensor_type || null,\n       hasFilter: !!sensor_type\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        -960
      ],
      "id": "e10e7116-b327-4690-93e2-92880c46a464",
      "name": "check for filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e06a154-0a8a-4b94-992e-55c267ed3811",
              "leftValue": "={{ $json.hasFilter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        -960
      ],
      "id": "968da3ab-358f-4593-bf49-8d7ad53a6d99",
      "name": "filter?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules \n   WHERE type = '{{ $json.sensor_type }}' \n   AND active = true\n   ORDER BY minvalue ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2400,
        -1040
      ],
      "id": "589daf2d-4bff-4397-8062-4165eeb1d386",
      "name": "get filtered",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules \n   WHERE active = true\n   ORDER BY type, minvalue ASC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2400,
        -848
      ],
      "id": "125372c4-b464-4545-97c9-9c16962eb2c7",
      "name": "get all",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n     json: {\n       success: true,\n       data: items.map(i => i.json)\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        -976
      ],
      "id": "752ce811-de1b-4d98-89a8-3da0431cfe34",
      "name": "format mappings"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "name": "show mappings",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1952,
        -976
      ],
      "id": "d769eb43-6fd2-47b0-993c-e411b7a8dc61"
    },
    {
      "parameters": {
        "jsCode": "return [{\n     json: {\n       success: true,\n       data: $input.item.json\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -640
      ],
      "id": "26060711-e8a2-491f-8d78-856907518e95",
      "name": "format response1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/add-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -640
      ],
      "id": "0170295e-cb5f-43eb-b9f1-bfbf0c785026",
      "name": "add-mapping",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "jsCode": "const {\n     sensor_type,\n     min_val,\n     max_val,\n     min_intensity,\n     max_intensity,\n     min_duration,\n     max_duration,\n     min_pulses = 1,\n     max_pulses = 10,\n     min_interval = 100,\n     max_interval = 1000,\n     active = true\n   } = $input.item.json.body;\n   \n   return [{\n     json: {\n       sensor_type,\n       min_val,\n       max_val,\n       min_intensity,\n       max_intensity,\n       min_duration,\n       max_duration,\n       min_pulses,\n       max_pulses,\n       min_interval,\n       max_interval,\n       active\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        -640
      ],
      "id": "7fcebfad-b43f-4416-9b3f-74d8ad8df7d0",
      "name": "extract parameters"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules \n   (minvalue, maxvalue, type, active, minpulses, maxpulses, \n    minintensity, maxintensity, minduration, maxduration, \n    mininterval, maxinterval)\n   VALUES (\n     {{ $json.min_val }},\n     {{ $json.max_val }},\n     '{{ $json.sensor_type }}',\n     {{ $json.active }},\n     {{ $json.min_pulses }},\n     {{ $json.max_pulses }},\n     {{ $json.min_intensity }},\n     {{ $json.max_intensity }},\n     {{ $json.min_duration }},\n     {{ $json.max_duration }},\n     {{ $json.min_interval }},\n     {{ $json.max_interval }}\n   )\n   RETURNING *",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -640
      ],
      "id": "0f172abd-72e6-45f8-a182-fd8772010ef6",
      "name": "insert mapping",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2400,
        -640
      ],
      "id": "921a0ad9-904b-4cbf-ac73-cc4883814cbb",
      "name": "new mapping in db"
    },
    {
      "parameters": {
        "jsCode": "return [{\n     json: {\n       success: true,\n       data: $input.item.json\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        -432
      ],
      "id": "8fde680b-7506-4e7a-bbbb-8c03b5add3cc",
      "name": "format response2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/update-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -432
      ],
      "id": "4460b076-6e95-43ef-896a-6726c06b3695",
      "name": "update-mapping",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body;\n   const mappingId = body.mapping_id;\n   \n   // Remove mapping_id from update fields\n   const updateFields = { ...body };\n   delete updateFields.mapping_id;\n   \n   // Build SET clauses dynamically\n   const setClauses = [];\n   for (const [key, value] of Object.entries(updateFields)) {\n     if (value !== undefined && value !== null) {\n       if (typeof value === 'string') {\n         setClauses.push(`${key} = '${value}'`);\n       } else if (typeof value === 'boolean') {\n         setClauses.push(`${key} = ${value}`);\n       } else {\n         setClauses.push(`${key} = ${value}`);\n       }\n     }\n   }\n   \n   const query = `UPDATE feedback_config_rules \n                  SET ${setClauses.join(', ')} \n                  WHERE id = ${mappingId} \n                  RETURNING *`;\n   \n   return [{\n     json: {\n       query: query\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        -432
      ],
      "id": "0fd28d95-19d1-4970-9ef2-1d36222551db",
      "name": "build dynamic UPDATE query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -432
      ],
      "id": "61157299-d530-49b6-9a9b-4ca1d6348db9",
      "name": "execute update",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n     json: {\n       success: true,\n       deleted: true\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -224
      ],
      "id": "50a29b0f-b016-4653-9dfc-884bd381b450",
      "name": "format response3"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2400,
        -432
      ],
      "id": "95defe53-29fe-4fef-b810-be2f652442d9",
      "name": "updated db"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/delete-mapping",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -224
      ],
      "id": "a7df5e7a-5c0c-4976-88a1-f8be114308b6",
      "name": "delete-mapping",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM feedback_config_rules \n   WHERE id = {{ $json.body.mapping_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3008,
        -224
      ],
      "id": "a7c5caee-90b7-46ea-ab36-c1a7ec0d08ce",
      "name": "delete mapping",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2608,
        -224
      ],
      "id": "b521b2b5-eda7-4f9d-be4b-67a036329c59",
      "name": "mapping deleted"
    },
    {
      "parameters": {
        "jsCode": "return [{\n     json: {\n       success: true,\n       data: $input.item.json\n     }\n   }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -16
      ],
      "id": "f8ce5ac6-33d5-4072-99d4-32fc9b1ea163",
      "name": "format response4"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2608,
        -16
      ],
      "id": "811157fd-6c38-48e7-9150-c329af19565e",
      "name": "mapping deleted1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack/get-stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3216,
        -16
      ],
      "id": "bed97b1b-0a4c-43c2-a644-139919c60412",
      "name": "get-stats",
      "webhookId": "e40273d6-97f1-4282-8370-f1d09ec8083d"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n     COUNT(*) as total_readings,\n     AVG(sd.value) as avg_value,\n     MIN(sd.value) as min_value,\n     MAX(sd.value) as max_value,\n     STDDEV(sd.value) as stddev_value,\n     SUM(CASE WHEN a.alertgiven = 'yes' THEN 1 ELSE 0 END) as alerts_given,\n     AVG(a.intensity) as avg_intensity,\n     AVG(a.duration) as avg_duration\n   FROM \"SensorData\" sd\n   JOIN \"SensorType\" st ON sd.sensorid = st.sensorid\n   LEFT JOIN \"Alert\" a ON sd.alertid = a.alertid\n   WHERE sd.userid = {{ $json.body.user_id }}\n   AND st.name = '{{ $json.body.sensor_type }}'\n   AND sd.time >= NOW() - INTERVAL '{{ $json.body.days }} days'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3008,
        -16
      ],
      "id": "81093189-7a3d-4ac4-a324-c222c02a9109",
      "name": "calculate statistics",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.waqi.info/feed/geo:{{ $json.body.lat }};{{ $json.body.lon }}/?token=e0d7d00db3bd0335708c7ac9343ec38db757a4e8",
        "options": {}
      },
      "id": "38e02e01-5c65-4fe4-b259-43631281e218",
      "name": "Fetch AQI Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -7392,
        912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'Pollution' AND active = true;",
        "options": {}
      },
      "id": "0eeb6b67-a2ba-48cf-98b9-94934323014c",
      "name": "Get Pollution Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -7184,
        912
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aqi = $('Fetch AQI Data').first().json.data.aqi;\nconst rules = $input.all().map(r => r.json);\n\nlet feedback = {\n    aqi: aqi,\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    userID: $('Webhook pollution data').first().json.body.UserID,\n    SmartWatchID:$('Webhook pollution data').first().json.body.SmartWatchID,\n    AndroidID:$('Webhook pollution data').first().json.body.AndroidID\n};\n\nfor (const rule of rules) {\n    if (aqi >= rule.minvalue && aqi <= rule.maxvalue) {\n        feedback.intensity = rule.minintensity || 150;\n        feedback.pulses = rule.minpulses || 3;\n        feedback.duration = rule.minduration || 200;\n        feedback.interval = rule.mininterval || 100;\n        feedback.fbRangeID = rule.id;\n        feedback.alertGiven = \"yes\";\n        break;\n    }\n}\n\nreturn [{ json: feedback }];"
      },
      "id": "cd07c5c0-1857-487b-abd2-d95cb041248e",
      "name": "Calculate Haptics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6960,
        912
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'Pollution',\n  '{{ $json.alertGiven }}',\n  {{ $json.aqi }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }}\n);",
        "options": {}
      },
      "id": "6ab18394-9f30-45fc-b18a-094d41344899",
      "name": "Log Pollution Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -6736,
        1024
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "0d5e179b-c6ce-4945-bcc8-581f86312430",
      "name": "Response to Watch",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -6736,
        800
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pollution-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7616,
        912
      ],
      "id": "56a6e917-fcc7-485b-8257-261faff737d2",
      "name": "Webhook pollution data",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/pollution\n-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7744,
        704
      ],
      "id": "4698fcc8-9fd9-4dd6-945d-d6ea387a3fff",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "https://aqicn.org/api/\nAPI for pollution\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7440,
        704
      ],
      "id": "5158434c-70a4-495a-bff2-1132405e6062",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "For this flow to trigger a vibration, you must add a pollution rule to your database. Run this SQL once:\nINSERT INTO feedback_config_rules (type, active, minvalue, maxvalue, minpulses, minintensity, minduration, mininterval)\nVALUES ('Pollution', true, 50, 500, 3, 200, 300, 150);\n",
        "height": 192,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7152,
        688
      ],
      "id": "0795b076-a8d8-4e89-8ee6-eafb10a856fa",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "path": "get-usecases",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        368
      ],
      "id": "902d2590-fe9b-4f5f-9048-e6bef2c53d4c",
      "name": "get usecases",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8832,
        368
      ],
      "id": "f53e835f-c10b-4ae1-9c20-6efc8577fe6c",
      "name": "Respond to Webhook get usecases"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/get-usecases\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        336
      ],
      "typeVersion": 1,
      "id": "40ef3d92-a37b-405c-b63e-61b5401eb4d3",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"UseCase\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9040,
        368
      ],
      "id": "93ff2325-3af9-4bf0-9ee8-fafa08a49c32",
      "name": "get usecases query",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/assign-usecase -H \"Content-Type: application/json\" -d \"{\\\"userId\\\": 100, \\\"usecaseId\\\": 3}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        560
      ],
      "typeVersion": 1,
      "id": "62a5ecbd-cef4-4b4a-a9fa-c4c7a48197dd",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assign-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        608
      ],
      "id": "ee5e7851-1112-470b-b431-bf9144a1f35f",
      "name": "assign usecase to user",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst userId = parseInt(body.userId);\nconst usecaseId = parseInt(body.usecaseId);\n\n// Validate inputs\nif (!userId || isNaN(userId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid userId\"\n    }\n  }];\n}\n\nif (!usecaseId || isNaN(usecaseId)) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Missing or invalid usecaseId\"\n    }\n  }];\n}\n\n// Return clean parameters for the database query\nreturn [{\n  json: {\n    userId: userId,\n    usecaseId: usecaseId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        608
      ],
      "id": "381a0546-dff5-41de-a40b-205ff85b50ab",
      "name": "extract parameters for users and usecase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\" \nSET active_usecase_id = $2 \nWHERE userid = $1\nRETURNING userid, active_usecase_id;",
        "options": {
          "queryReplacement": "={{ [$json.userId, $json.usecaseId] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8832,
        608
      ],
      "id": "2002f498-e5db-4dd4-ba78-e22806c1020e",
      "name": "update user usecase",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nif (!result || result.length === 0) {\n  return [{\n    json: {\n      statusCode: 404,\n      message: \"User not found\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    message: \"Use case assigned successfully\",\n    data: {\n      userId: result.userid,\n      activeUsecaseId: result.active_usecase_id\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8640,
        608
      ],
      "id": "5e7d026f-eecc-478f-a77d-23a76acc2d5a",
      "name": "format response5"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8432,
        608
      ],
      "id": "b50bb5dc-f241-41ff-aefb-a8c468c7c6b3",
      "name": "Respond to Webhook assign usecase"
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook/create-usecase -H \"Content-Type: application/json\" -d \"{\\\"name\\\": \\\"HeartRate\\\", \\\"description\\\": \\\"Duplicate test\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9552,
        784
      ],
      "typeVersion": 1,
      "id": "e26e195f-37d1-4a27-8cc1-e8f505087eee",
      "name": "Sticky Note26"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Check if this is an error from the database\nif (input.code || input.message) {\n  // Check if it's a duplicate key error (unique constraint violation)\n  if (input.code === '23505' || (input.message && input.message.includes('duplicate key'))) {\n    return [{\n      json: {\n        statusCode: 409,\n        error: \"A use case with this name already exists\"\n      }\n    }];\n  }\n  \n  // Other database errors\n  return [{\n    json: {\n      statusCode: 500,\n      error: \"Failed to create use case: \" + (input.message || \"Unknown error\")\n    }\n  }];\n}\n\n// Success case - format the successful insert result\nreturn [{\n  json: {\n    statusCode: 201,\n    message: \"Use case created successfully\",\n    data: {\n      usecaseId: input.usecase_id,\n      name: input.name,\n      description: input.description\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8624,
        832
      ],
      "id": "af830581-92f9-4737-a2bc-1f3e2de7f31f",
      "name": "format response6",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-usecase",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -9264,
        832
      ],
      "id": "b19992b6-dc68-4ded-82d1-1f9b789cf568",
      "name": "create use case",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst name = body.name?.trim();\nconst description = body.description?.trim() || null;\n\n// Validate name is required\nif (!name) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name is required\"\n    }\n  }];\n}\n\n// Validate name length (max 50 chars per your DB schema)\nif (name.length > 50) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: \"Name must be 50 characters or less\"\n    }\n  }];\n}\n\n// Return clean parameters\nreturn [{\n  json: {\n    name: name,\n    description: description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9040,
        832
      ],
      "id": "4248a767-0ae4-47f7-901d-3e02661f01e1",
      "name": "extract and validate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO \"UseCase\" (name, description) \nVALUES ('{{ $json.name }}', '{{ $json.description }}')\nRETURNING usecase_id, name, description;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8832,
        832
      ],
      "id": "622c97b2-1d07-4762-92ce-b3fa51835c73",
      "name": "insert use case",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8432,
        832
      ],
      "id": "cdc54c64-a1b2-43ff-85d9-877561219527",
      "name": "Respond to Webhook create usecase"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE FUNCTION public.insert_sensor_data(\n    _userid integer, \n    _watchid integer, \n    _phoneid integer, \n    _sensorname character varying, \n    _alertgiven character varying, \n    _value double precision, \n    _pulses integer, \n    _intensity integer, \n    _duration integer, \n    _interval integer, \n    _fbrangeid integer,\n    _vibration_reason character varying DEFAULT NULL\n) \nRETURNS void\nLANGUAGE plpgsql\nAS $$\nDECLARE\n    _sensorID INT;\n    _alertID INT;\n    _assigned_usecase VARCHAR;\nBEGIN\n    SELECT uc.name INTO _assigned_usecase\n    FROM public.\"User\" u\n    JOIN public.\"UseCase\" uc ON u.active_usecase_id = uc.usecase_id\n    WHERE u.userid = _userid;\n\n    IF _assigned_usecase IS NULL OR _assigned_usecase != _sensorname THEN\n        RAISE NOTICE 'Rejected data for User %: Expected %, received %', _userid, _assigned_usecase, _sensorname;\n        RETURN; \n    END IF;\n\n    INSERT INTO \"User\"(userID) SELECT _userID WHERE NOT EXISTS (SELECT 1 FROM \"User\" WHERE userID = _userID);\n    INSERT INTO \"Watch\"(watchID) SELECT _watchID WHERE NOT EXISTS (SELECT 1 FROM \"Watch\" WHERE watchID = _watchID);\n    INSERT INTO \"AndroidPhone\"(phoneID) SELECT _phoneID WHERE NOT EXISTS (SELECT 1 FROM \"AndroidPhone\" WHERE phoneID = _phoneID);\n\n    INSERT INTO \"WatchAndroidPhone\"(watchID, phoneID)\n    SELECT _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"WatchAndroidPhone\" WHERE watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"UserWatchAndroidPhone\"(userID, watchID, phoneID)\n    SELECT _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"UserWatchAndroidPhone\"\n        WHERE userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"SensorType\"(name)\n    SELECT _sensorName\n    WHERE NOT EXISTS (SELECT 1 FROM \"SensorType\" WHERE name = _sensorName);\n\n    SELECT sensorID INTO _sensorID FROM \"SensorType\" WHERE name = _sensorName;\n\n    INSERT INTO \"Alert\"(\n        alertGiven, pulses, intensity, duration, interval, type, fbRangeID, vibration_reason\n    )\n    VALUES (\n        _alertGiven, _pulses, _intensity, _duration, _interval, _sensorName, _fbrangeid, _vibration_reason\n    )\n    RETURNING alertID INTO _alertID;\n\n    INSERT INTO \"DeviceSensor\"(sensorID, userID, watchID, phoneID)\n    SELECT _sensorID, _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"DeviceSensor\"\n        WHERE sensorID = _sensorID AND userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"SensorData\"(sensorID, userID, watchID, phoneID, alertID, value, time)\n    VALUES (_sensorID, _userID, _watchID, _phoneID, _alertID, _value, CURRENT_TIMESTAMP);\nEND;\n$$;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7088,
        -1632
      ],
      "id": "fe5fb8f1-3001-4013-b666-d3f0bdb39c78",
      "name": "run insert_sensor_data",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.vibrationReason = \"significant_change\";\n\nreturn [{\n  json: {\n    ...items[0].json,\n    vibrationReason: staticData.vibrationReason\n  }\n}];\n"
      },
      "name": "set significant change reason",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5280,
        -1200
      ],
      "id": "83deea1c-18b0-48f1-ba04-2aa465431b94"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.vibrationReason = \"time_interval\";\n\nreturn [{\n  json: {\n    ...items[0].json,\n    vibrationReason: staticData.vibrationReason\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5184,
        -1040
      ],
      "id": "d6208775-d200-42ee-9f5c-d32e9d9698bf",
      "name": "set timer interval reason"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insert_sensor_data($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12)",
        "options": {
          "queryReplacement": "={{ [$json.userID, $json.SmartWatchID, $json.AndroidID, 'HeartRate', $json.alertGiven, $json.rawValue, $json.pulses, $json.intensity, $json.duration, $json.interval, $json.fbRangeID, $json.vibrationReason] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4848,
        -768
      ],
      "id": "27b0833e-2386-487c-92ae-9a1b937b5f0d",
      "name": "Insert Data Log1",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insert_sensor_data($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12)",
        "options": {
          "queryReplacement": "={{ [$json.userID, $json.SmartWatchID, $json.AndroidID, 'HeartRate', $json.alertGiven, $node[\"Data Cleaning1\"].json.rawValue, $json.pulses, $json.intensity, $json.duration, $json.interval, $json.fbRangeID, $json.vibrationReason ?? null] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3744,
        -1040
      ],
      "id": "aafc4189-1602-489f-9393-d508c44324cc",
      "name": "Insert Data Log",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    userID: $node[\"Webhook heart rate\"].json.body.UserID,\n    SmartWatchID: $node[\"Webhook heart rate\"].json.body.SmartWatchID,\n    AndroidID: $node[\"Webhook heart rate\"].json.body.AndroidID,\n    vibrationReason: $json.vibrationReason\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        -1200
      ],
      "id": "9c83bec0-71d1-4c68-b58f-63925b1bfb0f",
      "name": "carry context"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4064,
        -1184
      ],
      "id": "8c4c1339-c462-4f03-81be-a2bbb07d30dc",
      "name": "merge reason + feedback"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "type",
              "value": "SunAzimuth"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -5984,
        -432
      ],
      "id": "f040c18f-b2b6-451a-a21f-b8f91dcb05b8",
      "name": "Set type SunAzimuth"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "type",
              "value": "MoonAzimuth"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -5984,
        -240
      ],
      "id": "dcf1b087-a6ea-4dbb-977c-9af14a340d1e",
      "name": "Set type MoonAzimuth"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\n\nif (body.UserID == null) throw new Error('Missing UserID');\nif (body.SmartWatchID == null) throw new Error('Missing SmartWatchID');\nif (body.AndroidID == null) throw new Error('Missing AndroidID');\nif (!$json.type) throw new Error('Missing type (should come from Set node)');\n\nreturn [{\n  json: {\n    userID: Number(body.UserID),\n    watchID: Number(body.SmartWatchID),\n    phoneID: Number(body.AndroidID),\n    type: String($json.type),\n    lat: body.lat ?? null,\n    lon: body.lon ?? null,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5760,
        -336
      ],
      "id": "3401464c-777a-42d9-ad43-bcecfc8e0161",
      "name": "Normalize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.claimUserid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5088,
        -336
      ],
      "id": "b2b2418c-70f7-4c33-9e38-c5668ccad6e6",
      "name": "Allowed (timer expired)?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4640,
        -240
      ],
      "id": "7c0b61c4-04a5-4916-a637-2692c8e5a76c",
      "name": "Respond (rate-limited)"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $json.userID, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5536,
        -336
      ],
      "id": "dce5a0a2-0a01-4cdd-9a67-9496b31b7dbf",
      "name": "Try Claim Slot1",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "change time interval here"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize').first().json;\n\nreturn [{\n  json: {\n    type: n.type,\n    userID: n.userID,\n    watchID: n.watchID,\n    phoneID: n.phoneID,\n    alertGiven: 'no',\n    pulses: 0,\n    intensity: 0,\n    duration: 0,\n    interval: 0,\n    fbRangeID: 9999,\n    reason: 'rate_limited',\n    azimuth: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4864,
        -240
      ],
      "id": "d7b374f5-2eb9-4166-990f-595b9ad2e53a",
      "name": "Build Rate-Limited Response1"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nif (body.lat == null || body.lon == null) {\n  return [{ json: { statusCode: 400, error: 'Missing lat/lon', got: { lat: body.lat, lon: body.lon }}}];\n}\n\nconst lat = body.lat;\nconst lon = body.lon;\n\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\n\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4864,
        -432
      ],
      "id": "d9afb09f-c6e5-4720-a782-477ea80e9a86",
      "name": "Construct API Request"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4640,
        -432
      ],
      "id": "d3dfa259-9a06-4be7-9aed-2c812f27256e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = $1\nORDER BY minvalue, maxvalue;",
        "options": {
          "queryReplacement": "={{ [ $json.type ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4192,
        -432
      ],
      "id": "8271374d-2146-42e3-ad3f-b19158c0b9b9",
      "name": "Fetch Active Rules",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Extract Azimuth').first().json;\nconst rules = $input.all().map(i => i.json);\n\nconst az = Number(normalized.azimuth);\nconst type = normalized.type;\n\nlet chosen = null;\n\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n\n  if (az >= minV && az <= maxV) {\n    chosen = r;\n    break;\n  }\n}\n\nlet pulses = 0;\nlet intensity = 0;\nlet duration = 0;\nlet interval = 0;\nlet fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    alertGiven: chosen ? 'yes' : 'no',\n    pulses,\n    intensity,\n    duration,\n    interval,\n    fbRangeID\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3968,
        -432
      ],
      "id": "fe1f2412-6072-4757-880f-f4e46345c275",
      "name": "Evaluate Feedback Rules"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nif (!p.userID || !p.watchID || !p.phoneID) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: 'Missing identifiers',\n      payload: p\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [\n      Number(p.userID),\n      Number(p.watchID),\n      Number(p.phoneID),\n      String(p.type),\n      String(p.alertGiven),\n      Number(p.azimuth),\n      Number(p.pulses),\n      Number(p.intensity),\n      Number(p.duration),\n      Number(p.interval),\n      Number(p.fbRangeID)\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3744,
        -528
      ],
      "id": "ab08204c-05e8-4353-9b75-0f0cce62e804",
      "name": "Build insert_sensor_data Query"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3520,
        -528
      ],
      "id": "0e7b38da-8f92-4ee2-8d04-0127685c76dc",
      "name": "Execute insert_sensor_data2",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  type: $json.type,\n  azimuth: $json.azimuth,\n  alertGiven: $json.alertGiven,\n  pulses: $json.pulses,\n  intensity: $json.intensity,\n  duration: $json.duration,\n  interval: $json.interval,\n  fbRangeID: $json.fbRangeID\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -3744,
        -336
      ],
      "id": "b8e24dc2-9dca-44a1-9ff3-f73cd91f65c3",
      "name": "Respond to Webhook8"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Merge Inputs').first().json;   // <-- the payload with type+body+ids\nconst type = normalized.type;\n\nconst api = $input.first().json;\n\nlet azimuth = null;\n\nif (type === 'SunAzimuth') {\n  azimuth = api?.sun_azimuth ?? api?.sun?.azimuth ?? api?.data?.sun_azimuth ?? api?.data?.sun?.azimuth;\n} else if (type === 'MoonAzimuth') {\n  azimuth = api?.moon_azimuth ?? api?.moon?.azimuth ?? api?.data?.moon_azimuth ?? api?.data?.moon?.azimuth;\n}\n\nif (azimuth == null) {\n  return [{\n    json: { statusCode: 500, error: `${type} azimuth missing`, rawApi: api }\n  }];\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    azimuth: Number(azimuth)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4416,
        -432
      ],
      "id": "19b50522-bc86-4bb0-bb22-83e6ef437642",
      "name": "Extract Azimuth"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize').first().json;\nconst claim = $json; // Try Claim Slot output\n\nreturn [{\n  json: {\n    ...n,\n    body: n.body,\n    claimUserid: claim.userid ?? null,\n    claimLastrequest: claim.lastrequest ?? null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5312,
        -336
      ],
      "id": "13272b55-1034-4cb0-a04d-763178884fa3",
      "name": "Merge Inputs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $json.body.UserID, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5984,
        368
      ],
      "id": "a1913322-fbe4-427f-9916-9db935696e9e",
      "name": "Try Claim Slot2",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "change time interval here"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.userid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5760,
        368
      ],
      "id": "924c9ca7-c9cb-4985-9875-5eddb4d194d1",
      "name": "Allowed (timer expired)?1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5312,
        464
      ],
      "id": "00caf5fe-87f4-4593-b566-207a601c2fac",
      "name": "Respond (rate-limited)1"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Webhook pollution data1').first().json;\n\nreturn [{\n  json: {\n    type: n.type,\n    userID: n.userID,\n    watchID: n.watchID,\n    phoneID: n.phoneID,\n    alertGiven: 'no',\n    pulses: 0,\n    intensity: 0,\n    duration: 0,\n    interval: 0,\n    fbRangeID: 9999,\n    reason: 'rate_limited',\n    value: 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5536,
        464
      ],
      "id": "1dc462aa-c302-4a32-b866-050908e4737b",
      "name": "Build Rate-Limited Response2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -5536,
        112
      ],
      "id": "43b2c292-05d0-43d9-9b22-c445cf75f2fe",
      "name": "Schedule Trigger",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (type, active, minvalue, maxvalue, minpulses, minintensity, minduration, mininterval)\nVALUES ('Pollution', true, 50, 500, 3, 200, 300, 150);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5280,
        112
      ],
      "id": "d9ec0086-b383-43f9-afe2-bc15dd57975f",
      "name": "insert pollution for testing",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/sun-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "height": 96,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -6224,
        -560
      ],
      "typeVersion": 1,
      "id": "9b2a355b-0d83-46ca-ab77-5d1204d7a648",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "url": "=https://api.waqi.info/feed/geo:{{ $json.body.lat }};{{ $json.body.lon }}/?token=e0d7d00db3bd0335708c7ac9343ec38db757a4e8",
        "options": {}
      },
      "id": "78a2b44d-9d10-43b2-8ecb-ecf04a2e961e",
      "name": "Fetch AQI Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -5536,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'Pollution' AND active = true;",
        "options": {}
      },
      "id": "982e3984-1c72-4ec9-99cc-c3f417b56170",
      "name": "Get Pollution Rules1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -5312,
        272
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aqi = $('Fetch AQI Data1').first().json.data.aqi;\nconst rules = $input.all().map(r => r.json);\n\nlet feedback = {\n    aqi: aqi,\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    userID: $('Webhook pollution data1').first().json.body.UserID,\n    SmartWatchID:$('Webhook pollution data1').first().json.body.SmartWatchID,\n    AndroidID:$('Webhook pollution data1').first().json.body.AndroidID\n};\n\nfor (const rule of rules) {\n    if (aqi >= rule.minvalue && aqi <= rule.maxvalue) {\n        feedback.intensity = rule.minintensity || 150;\n        feedback.pulses = rule.minpulses || 3;\n        feedback.duration = rule.minduration || 200;\n        feedback.interval = rule.mininterval || 100;\n        feedback.fbRangeID = rule.id;\n        feedback.alertGiven = \"yes\";\n        break;\n    }\n}\n\nreturn [{ json: feedback }];"
      },
      "id": "c0d50e16-b841-480a-b3c3-6895691f4df9",
      "name": "Calculate Haptics1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5088,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'Pollution',\n  '{{ $json.alertGiven }}',\n  {{ $json.aqi }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }}\n);",
        "options": {}
      },
      "id": "bce7f342-6081-4af9-8f46-e1cea8ebe32b",
      "name": "Log Pollution Event1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -4864,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "99ed7d6c-ff28-4de8-a0de-9e27e96dbdc5",
      "name": "Response to Watch1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4864,
        176
      ]
    },
    {
      "parameters": {
        "content": "https://aqicn.org/api/\nAPI for pollution\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5936,
        64
      ],
      "id": "a572e12c-9b2a-4973-a0eb-0ce95c198539",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "For this flow to trigger a vibration, you must add a pollution rule to your database. Run this SQL once:\nINSERT INTO feedback_config_rules (type, active, minvalue, maxvalue, minpulses, minintensity, minduration, mininterval)\nVALUES ('Pollution', true, 50, 500, 3, 200, 300, 150);\n",
        "height": 256,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5648,
        -16
      ],
      "id": "768c2ed3-9456-4ace-954d-6281b7537c02",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pollution-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6208,
        368
      ],
      "id": "88f8cb8f-df81-44c6-9ecd-703f90425f5c",
      "name": "Webhook pollution data1",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/pollution\n-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6240,
        64
      ],
      "id": "a9aec8de-3980-45cd-908e-03c78e3de438",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6208,
        -432
      ],
      "id": "f91f2b27-947d-4067-9b33-473971004269",
      "name": "Webhook sun data1",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6208,
        -240
      ],
      "id": "941defca-2dbf-4238-abc8-b4c9c9242ce3",
      "name": "Webhook moon data1",
      "webhookId": "228be428-5881-4c59-95ed-fe73e2872daf"
    }
  ],
  "pinData": {
    "set moon azimuth threshold1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "moonAzimuthRanges": [
              {
                "id": 0,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "set heart rate threshold": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "heartRateAzimuthRanges": [
              {
                "id": 148,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "set sun azimuth threshold": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "Java/19.0.2",
            "host": "localhost:5678",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "157"
          },
          "params": {},
          "query": {},
          "body": {
            "sunAzimuthRanges": [
              {
                "id": 0,
                "minAzimuth": 122,
                "maxAzimuth": 222,
                "pulses": 2,
                "intensity": 2,
                "duration": 22,
                "interval": 22,
                "active": true
              }
            ],
            "moonAzimuthRanges": null
          },
          "webhookUrl": "http://localhost:5678/webhook/set-sun-azimuth-threshold",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Fetch History": {
      "main": [
        [
          {
            "node": "Data Cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config Rules": {
      "main": [
        [
          {
            "node": "Check Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Rules": {
      "main": [
        [
          {
            "node": "merge reason + feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning1": {
      "main": [
        [
          {
            "node": "Get Config Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor types": {
      "main": [
        [
          {
            "node": "get sensir type query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sensir type query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set sun azimuth threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute sun mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute moon mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set moon azimuth threshold1": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute sun mapping query2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Database": {
      "main": [
        [
          {
            "node": "run insert_sensor_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook heart rate": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set heart rate threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute moon mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Claim Slot": {
      "main": [
        [
          {
            "node": "Did timer expire?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response": {
      "main": [
        [
          {
            "node": "Empty Respond to Webhook8\\",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Data Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Parse AI Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Respond Success2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Empty Respond to Webhook8\\1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Trend": {
      "main": [
        [
          {
            "node": "if trend detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if trend detected": {
      "main": [
        [
          {
            "node": "Force Update Slot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Claim Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Force Update Slot": {
      "main": [
        [
          {
            "node": "set significant change reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Did timer expire?": {
      "main": [
        [
          {
            "node": "set timer interval reason",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Map Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Slack Payload": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-readings": {
      "main": [
        [
          {
            "node": "Parse Time Range",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Time Range": {
      "main": [
        [
          {
            "node": "fetch readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch readings": {
      "main": [
        [
          {
            "node": "format response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response": {
      "main": [
        [
          {
            "node": "output readings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch readings1": {
      "main": [
        [
          {
            "node": "filter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-mappings": {
      "main": [
        [
          {
            "node": "check for filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check for filter": {
      "main": [
        [
          {
            "node": "fetch readings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter?": {
      "main": [
        [
          {
            "node": "get filtered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get all",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get filtered": {
      "main": [
        [
          {
            "node": "format mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get all": {
      "main": [
        [
          {
            "node": "format mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format mappings": {
      "main": [
        [
          {
            "node": "show mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response1": {
      "main": [
        [
          {
            "node": "new mapping in db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add-mapping": {
      "main": [
        [
          {
            "node": "extract parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract parameters": {
      "main": [
        [
          {
            "node": "insert mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert mapping": {
      "main": [
        [
          {
            "node": "format response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response2": {
      "main": [
        [
          {
            "node": "updated db",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update-mapping": {
      "main": [
        [
          {
            "node": "build dynamic UPDATE query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build dynamic UPDATE query": {
      "main": [
        [
          {
            "node": "execute update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "execute update": {
      "main": [
        [
          {
            "node": "format response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response3": {
      "main": [
        [
          {
            "node": "mapping deleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete-mapping": {
      "main": [
        [
          {
            "node": "delete mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete mapping": {
      "main": [
        [
          {
            "node": "format response3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response4": {
      "main": [
        [
          {
            "node": "mapping deleted1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-stats": {
      "main": [
        [
          {
            "node": "calculate statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate statistics": {
      "main": [
        [
          {
            "node": "format response4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AQI Data": {
      "main": [
        [
          {
            "node": "Get Pollution Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pollution Rules": {
      "main": [
        [
          {
            "node": "Calculate Haptics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Haptics": {
      "main": [
        [
          {
            "node": "Response to Watch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Pollution Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook pollution data": {
      "main": [
        [
          {
            "node": "Fetch AQI Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get usecases": {
      "main": [
        [
          {
            "node": "get usecases query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get usecases query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get usecases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assign usecase to user": {
      "main": [
        [
          {
            "node": "extract parameters for users and usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract parameters for users and usecase": {
      "main": [
        [
          {
            "node": "update user usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update user usecase": {
      "main": [
        [
          {
            "node": "format response5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response5": {
      "main": [
        [
          {
            "node": "Respond to Webhook assign usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format response6": {
      "main": [
        [
          {
            "node": "Respond to Webhook create usecase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create use case": {
      "main": [
        [
          {
            "node": "extract and validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract and validate": {
      "main": [
        [
          {
            "node": "insert use case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert use case": {
      "main": [
        [
          {
            "node": "format response6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set significant change reason": {
      "main": [
        [
          {
            "node": "carry context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set timer interval reason": {
      "main": [
        [
          {
            "node": "carry context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "carry context": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge reason + feedback",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge reason + feedback": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type SunAzimuth": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type MoonAzimuth": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Try Claim Slot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired)?": {
      "main": [
        [
          {
            "node": "Construct API Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Claim Slot1": {
      "main": [
        [
          {
            "node": "Merge Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response1": {
      "main": [
        [
          {
            "node": "Respond (rate-limited)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct API Request": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Rules": {
      "main": [
        [
          {
            "node": "Evaluate Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Feedback Rules": {
      "main": [
        [
          {
            "node": "Build insert_sensor_data Query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build insert_sensor_data Query": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Azimuth": {
      "main": [
        [
          {
            "node": "Fetch Active Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs": {
      "main": [
        [
          {
            "node": "Allowed (timer expired)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Try Claim Slot2": {
      "main": [
        [
          {
            "node": "Allowed (timer expired)?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired)?1": {
      "main": [
        [
          {
            "node": "Fetch AQI Data1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response2": {
      "main": [
        [
          {
            "node": "Respond (rate-limited)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "insert pollution for testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AQI Data1": {
      "main": [
        [
          {
            "node": "Get Pollution Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pollution Rules1": {
      "main": [
        [
          {
            "node": "Calculate Haptics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Haptics1": {
      "main": [
        [
          {
            "node": "Response to Watch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Pollution Event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook pollution data1": {
      "main": [
        [
          {
            "node": "Try Claim Slot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook sun data1": {
      "main": [
        [
          {
            "node": "Set type SunAzimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook moon data1": {
      "main": [
        [
          {
            "node": "Set type MoonAzimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "add5c913-6eb6-4463-b077-d86478c8c65a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "vfZIfwL7CbYY3Zwi",
  "tags": []
}