Smartwatch Haptic Backend.json
{
  "name": "Smartwatch Haptic Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "options": {}
      },
      "name": "Sun Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -13776,
        -928
      ],
      "webhookId": "sun-data-imported",
      "id": "564168ad-42ac-4ce9-93cf-af24853f4ee7",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -12192,
        -928
      ],
      "id": "25d13fdb-afbb-4787-a097-6737617cd627",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'SunAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "InsertSensorData (FN)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -12416,
        -928
      ],
      "id": "9a5a67cb-70dc-4dfb-8ece-95165364d7c7",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n Code node - SetupParametersForSunQueries\n// Mode: Run Once for All Items\n\n// 1. קלט מהאנדרואיד מגיע מה-webhook בתחילת ה-flow\nconst inputData = $node[\"Sun Data Webhook\"].json;\n\n// 2. ה-payload המעובד מגיע מה-node של ChecksFeedBackRules\nconst payload = $node[\"ChecksFeedBackRules\"].json.payload;\n\n// 3. חילוץ נתונים\nconst userId = Number(inputData.userId ?? 0);\nconst watchId = Number(inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.androidId ?? 0);\n\nconst sensorName = payload.monitoringType ?? \"Unknown\";\nconst alertGiven = payload.alertGiven ?? \"no\";\n\nconst value = Number(\n  payload.sun_azimuth ??\n  payload.heartRate ??\n  payload.Value ??\n  0\n);\n\nconst pulses = Number(payload.pulses ?? 0);\nconst intensity = Number(payload.intensity ?? 0);\nconst duration = Number(payload.duration ?? 0);\nconst interval = Number(payload.interval ?? 0);\n\n// feedback range ID from DB\nconst fbRangeID = Number(payload.fbRangeID ?? 0);\n\n// 4. בניית מערך פרמטרים עבור Postgres\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID\n];\n\n// 5. החזרת items בצורה ש-n8n רוצה\nreturn [\n  {\n    json: {\n      query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n      params\n    }\n  }\n];\n"
      },
      "name": "SetupParametersForSunQueries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12656,
        -928
      ],
      "id": "bf8ddfd9-e03e-4656-add8-30715d2403f4",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mode: Run Once for All Items\n\n// 1. Get all DB rows from previous Postgres node\nconst sunAzimuthRanges = $input.all().map(item => item.json);\n\n// 2. Get sun_azimuth from AssignPayloadToOriginalPayload node\nconst currentAzimuth =\n  $node[\"AssignPayloadToOriginalPayload\"].json.originalPayload.sun_azimuth;\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nconst payload = {\n  monitoringType: \"SunAzimuth\",\n  sun_azimuth: currentAzimuth,\n  pulses: 0,\n  intensity: 0,\n  duration: 0,\n  interval: 0,\n  fbRangeID: null,\n  alertGiven: \"no\",\n  message: \"\"\n};\n\nif (Array.isArray(sunAzimuthRanges) && sunAzimuthRanges.length > 0) {\n  let matched = false;\n\n  for (const range of sunAzimuthRanges) {\n    const minAz = Number(range.minvalue);\n    const maxAz = Number(range.maxvalue);\n\n    if (!Number.isFinite(minAz) || !Number.isFinite(maxAz)) continue;\n    if (currentAzimuth < minAz || currentAzimuth > maxAz) continue;\n\n    matched = true;\n\n    const minPulses = Number(range.minpulses ?? 0);\n    const maxPulses = Number(range.maxpulses ?? minPulses);\n    const minIntensity = Number(range.minintensity ?? 0);\n    const maxIntensity = Number(range.maxintensity ?? minIntensity);\n    const minDuration = Number(range.minduration ?? 0);\n    const maxDuration = Number(range.maxduration ?? minDuration);\n    const minInterval = Number(range.mininterval ?? 0);\n    const maxInterval = Number(range.maxinterval ?? minInterval);\n\n    payload.pulses = Math.round(\n      map(currentAzimuth, minAz, maxAz, minPulses, maxPulses)\n    );\n    payload.intensity = Math.round(\n      map(currentAzimuth, minAz, maxAz, minIntensity, maxIntensity)\n    );\n    payload.duration = Math.round(\n      map(currentAzimuth, minAz, maxAz, minDuration, maxDuration)\n    );\n    payload.interval = Math.round(\n      map(currentAzimuth, minAz, maxAz, minInterval, maxInterval)\n    );\n\n    payload.fbRangeID = Number(range.id);\n    payload.alertGiven = payload.pulses > 0 ? \"yes\" : \"no\";\n    payload.message =\n      \"✅ Mapped SunAzimuth range with proportional vibration settings.\";\n    break;\n  }\n\n  if (!matched) {\n    payload.message = \"⛔ No SunAzimuth match found in DB.\";\n  }\n} else {\n  payload.message = \"⚠️ No mappings retrieved from database for SunAzimuth.\";\n}\n\nconst originalPayload = {\n  sun_azimuth: currentAzimuth\n};\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload\n    }\n  }\n];\n"
      },
      "name": "ChecksFeedBackRules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12880,
        -928
      ],
      "id": "6d803252-27a8-45b8-8843-612c60ebc00d",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'SunAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "Load SunAzimuth Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -13104,
        -928
      ],
      "id": "63fd40b6-f426-4519-9149-3d853e8078c3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n expects an array of items: [{ json: {...} }, ...]\n// The previous HTTP Request node returned the astronomy API response in item.json.\n// Here we just copy it into originalPayload (and keep the fields themselves too).\n\nreturn items.map(item => {\n  const apiResponse = item.json;        // response from Astronomy API\n\n  return {\n    json: {\n      originalPayload: apiResponse,     // keep a copy under originalPayload\n      ...apiResponse                    // also keep the fields at the top level\n    }\n  };\n});\n"
      },
      "name": "AssignPayloadToOriginalPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13328,
        -928
      ],
      "id": "25394940-2213-441d-90d6-848210a4bb96",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.ipgeolocation.io/astronomy",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "apiKey",
              "value": "b2b40f0636bb42c78ab922b7ef5a90fd"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat ?? 32.794 }}\n"
            },
            {
              "name": "long",
              "value": "={{ $json.lon ?? $json.long ?? 34.989 }}\n"
            }
          ]
        }
      },
      "name": "Astronomy API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -13552,
        -928
      ],
      "id": "e962a0e4-fbae-49da-b8ca-5c3597c88616",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -12208,
        -688
      ],
      "id": "8571614c-f445-4555-8181-8d318dd7e341",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'MoonAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "InsertSensorData (FN)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -12432,
        -688
      ],
      "id": "6d88f9ba-2ba5-4d9a-99f3-3686d9fb8bcf",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n Code node - SetupParametersForSunQueries\n// Mode: Run Once for All Items\n\n// 1. קלט מהאנדרואיד מגיע מה-webhook בתחילת ה-flow\nconst inputData = $node[\"Moon Data Webhook\"].json;\n\n// 2. ה-payload המעובד מגיע מה-node של ChecksFeedBackRules\nconst payload = $node[\"ChecksFeedBackRules1\"].json.payload;\n\n// 3. חילוץ נתונים\nconst userId = Number(inputData.userId ?? 0);\nconst watchId = Number(inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.androidId ?? 0);\n\nconst sensorName = payload.monitoringType ?? \"Unknown\";\nconst alertGiven = payload.alertGiven ?? \"no\";\n\nconst value = Number(\n  payload.moon_azimuth ??\n  payload.heartRate ??\n  payload.Value ??\n  0\n);\n\nconst pulses = Number(payload.pulses ?? 0);\nconst intensity = Number(payload.intensity ?? 0);\nconst duration = Number(payload.duration ?? 0);\nconst interval = Number(payload.interval ?? 0);\n\n// feedback range ID from DB\nconst fbRangeID = Number(payload.fbRangeID ?? 0);\n\n// 4. בניית מערך פרמטרים עבור Postgres\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID\n];\n\n// 5. החזרת items בצורה ש-n8n רוצה\nreturn [\n  {\n    json: {\n      query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n      params\n    }\n  }\n];\n"
      },
      "name": "SetupParametersForSunQueries1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12672,
        -688
      ],
      "id": "b9b64e68-66eb-40ce-acbc-1cc012354c68",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mode: Run Once for All Items\n\n// 1. Get all DB rows from previous Postgres node\nconst moonAzimuthRanges = $input.all().map(item => item.json);\n\n// 2. Get sun_azimuth from AssignPayloadToOriginalPayload node\nconst currentAzimuth =\n  $node[\"AssignPayloadToOriginalPayload1\"].json.originalPayload.moon_azimuth;\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nconst payload = {\n  monitoringType: \"MoonAzimuth\",\n  moon_azimuth: currentAzimuth,\n  pulses: 0,\n  intensity: 0,\n  duration: 0,\n  interval: 0,\n  fbRangeID: null,\n  alertGiven: \"no\",\n  message: \"\"\n};\n\nif (Array.isArray(moonAzimuthRanges) && moonAzimuthRanges.length > 0) {\n  let matched = false;\n\n  for (const range of moonAzimuthRanges) {\n    const minAz = Number(range.minvalue);\n    const maxAz = Number(range.maxvalue);\n\n    if (!Number.isFinite(minAz) || !Number.isFinite(maxAz)) continue;\n    if (currentAzimuth < minAz || currentAzimuth > maxAz) continue;\n\n    matched = true;\n\n    const minPulses = Number(range.minpulses ?? 0);\n    const maxPulses = Number(range.maxpulses ?? minPulses);\n    const minIntensity = Number(range.minintensity ?? 0);\n    const maxIntensity = Number(range.maxintensity ?? minIntensity);\n    const minDuration = Number(range.minduration ?? 0);\n    const maxDuration = Number(range.maxduration ?? minDuration);\n    const minInterval = Number(range.mininterval ?? 0);\n    const maxInterval = Number(range.maxinterval ?? minInterval);\n\n    payload.pulses = Math.round(\n      map(currentAzimuth, minAz, maxAz, minPulses, maxPulses)\n    );\n    payload.intensity = Math.round(\n      map(currentAzimuth, minAz, maxAz, minIntensity, maxIntensity)\n    );\n    payload.duration = Math.round(\n      map(currentAzimuth, minAz, maxAz, minDuration, maxDuration)\n    );\n    payload.interval = Math.round(\n      map(currentAzimuth, minAz, maxAz, minInterval, maxInterval)\n    );\n\n    payload.fbRangeID = Number(range.id);\n    payload.alertGiven = payload.pulses > 0 ? \"yes\" : \"no\";\n    payload.message =\n      \"✅ Mapped MoonAzimuth range with proportional vibration settings.\";\n    break;\n  }\n\n  if (!matched) {\n    payload.message = \"⛔ No SunAzimuth match found in DB.\";\n  }\n} else {\n  payload.message = \"⚠️ No mappings retrieved from database for MoonAzimuth.\";\n}\n\nconst originalPayload = {\n  moon_azimuth: currentAzimuth\n};\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload\n    }\n  }\n];\n"
      },
      "name": "ChecksFeedBackRules1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -12896,
        -688
      ],
      "id": "783b3732-2da9-4d16-870c-812c794302df",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n expects an array of items: [{ json: {...} }, ...]\n// The previous HTTP Request node returned the astronomy API response in item.json.\n// Here we just copy it into originalPayload (and keep the fields themselves too).\n\nreturn items.map(item => {\n  const apiResponse = item.json;        // response from Astronomy API\n\n  return {\n    json: {\n      originalPayload: apiResponse,     // keep a copy under originalPayload\n      ...apiResponse                    // also keep the fields at the top level\n    }\n  };\n});\n"
      },
      "name": "AssignPayloadToOriginalPayload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13344,
        -688
      ],
      "id": "4260cde6-b6fd-48d0-b6ba-02ed7bbb15b7",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.ipgeolocation.io/astronomy",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "apiKey",
              "value": "b2b40f0636bb42c78ab922b7ef5a90fd"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat ?? 32.794 }}\n"
            },
            {
              "name": "long",
              "value": "={{ $json.lon ?? $json.long ?? 34.989 }}\n"
            }
          ]
        }
      },
      "name": "Astronomy API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -13568,
        -688
      ],
      "id": "b8095f4a-e369-4497-afe4-2f9cb8401af0",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "options": {}
      },
      "name": "Moon Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -13792,
        -688
      ],
      "webhookId": "sun-data-imported",
      "id": "d529de4a-bdfa-4d75-b023-f1c24d3e66fb",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heart-rate-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -13792,
        -432
      ],
      "id": "2aefdfa2-098d-4b80-9ac4-f340d30b6e68",
      "name": "Heart Rate Webhook",
      "webhookId": "8a96e5cf-caf1-4451-96ca-4237ccc3148e",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Extract identifiers\nconst inputData = $input.first().json;\n\nconst userId = Number(inputData.UserID ?? inputData.userId ?? 0);\nconst watchId = Number(inputData.SmartWatchID ?? inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.AndroidID ?? inputData.androidId ?? 0);\n\nconst monitoringType = inputData.MonitoringType ?? \"HeartRate\";\n\n\n// Prepare the query to fetch the last 10 readings\nconst query = `\n    SELECT value \n    FROM \"SensorData\" sd\n    JOIN \"SensorType\" st ON sd.sensorID = st.sensorID\n    WHERE sd.userID = $1 \n      AND sd.watchID = $2 \n      AND sd.phoneID = $3 \n      AND st.name = $4\n    ORDER BY time DESC\n    LIMIT 10;\n`;\n\nconst params = [userId, watchId, phoneId, monitoringType];\n\nreturn [\n    {\n        json: {\n            query,\n            params,\n            originalPayload: inputData,\n            metadata: { userId, watchId, phoneId, monitoringType }\n        }\n    }\n];"
      },
      "name": "fetchHeartRateWindowAndLastValidHeartRate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13568,
        -432
      ],
      "id": "0cde8340-749a-422f-8553-112b6b3be28a",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}\n",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -13344,
        -432
      ],
      "id": "300c945c-1ee6-49ca-9c23-4e99fa6504bc",
      "name": "Execute fetch heart rate query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\nconst dbRows = $input.all().map(item => item.json);\nconst webhookData = $node[\"Heart Rate Webhook\"].json;\n\n// Extract raw sensor input\nconst rawValue = Number(\n  webhookData.Value ??\n  webhookData.heartRate ??\n  0\n);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid\nconst readings = dbRows\n  .map(row => Number(row.value))\n  .filter(v => Number.isFinite(v) && !isOutlier(v));\n\nif (!isOutlier(rawValue)) {\n  readings.push(rawValue);\n} else {\n  console.log(`⚠️ Raw value ${rawValue} is an outlier and excluded from smoothing.`);\n}\n\nlet smoothed = null;\n\nif (readings.length > 0) {\n  const total = readings.reduce((sum, v) => sum + v, 0);\n  smoothed = Math.round(total / readings.length);\n} else {\n  console.log(\"⚠️ No valid readings found, falling back to raw value.\");\n  smoothed = rawValue; // fallback\n}\n\nconst payload = {\n  monitoringType: \"HeartRate\",\n  heartRate: smoothed,\n  Value: rawValue,\n};\n\nconst originalPayload = {\n  heartRate: smoothed,\n  Value: rawValue,\n};\n\nconst query = `\n  SELECT *\n  FROM feedback_config_rules\n  WHERE type = 'HeartRate'\n    AND active = TRUE;\n`;\n\nconst params = [];\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload,\n      query,\n      params,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -13120,
        -432
      ],
      "id": "149b1fcc-b50d-4dde-8dba-a324852c9d8c",
      "name": "Data Cleaning",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}\n",
        "options": {
          "queryReplacement": "={{ $json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -12896,
        -432
      ],
      "id": "6dbf4b48-2a4b-4ae9-b9da-d3dfafd22af3",
      "name": "Execute data cleaning query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const hrData = $node[\"fetchHeartRateWindowAndLastValidHeartRate\"].json;\nconst heartRate = Number(hrData.originalPayload?.heartRate ?? null);\n\n// Map function for proportional mapping\nconst mappings = $input.all().map(item => item.json);\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n    if (inMin === inMax) return outMin;\n    return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\n// Output structure\nconst out = {\n    heartRate,\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    Value: hrData.originalPayload?.Value ?? null    // keep raw reading\n};\n\n// If no heart rate reading\nif (heartRate === null || Number.isNaN(heartRate)) {\n    return [\n        {\n            json: {\n                payload: out,\n                originalPayload: out\n            }\n        }\n    ];\n}\n\n\n// Match and map values proportionally\nfor (const m of mappings) {\n    const minHR = Number(m.minvalue);\n    const maxHR = Number(m.maxvalue);\n\n    if (Number.isFinite(minHR) && Number.isFinite(maxHR)) {\n        if (heartRate >= minHR && heartRate <= maxHR) {\n            out.intensity = Math.round(map(heartRate, minHR, maxHR, m.minintensity, m.maxintensity));\n            out.pulses    = Math.round(map(heartRate, minHR, maxHR, m.minpulses,    m.maxpulses));\n            out.duration  = Math.round(map(heartRate, minHR, maxHR, m.minduration, m.maxduration));\n            out.interval  = Math.round(map(heartRate, minHR, maxHR, m.mininterval, m.maxinterval));\n\n            out.fbRangeID = Number(m.id);\n            break;\n        }\n    }\n}\n\n// Determine alert status\nout.alertGiven = out.pulses > 0 ? \"yes\" : \"no\";\n\nreturn [\n    {\n        json: {\n            payload: out,\n            originalPayload: out,\n\n            // for next Postgres node\n            query: `SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = TRUE;`,\n            params: []\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12672,
        -432
      ],
      "id": "a6f5f617-7117-4c20-bd7a-b3f3759be0be",
      "name": "Check Heart rate Feedback Rules",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst p = item.payload ?? item;\n\n// Extract identifiers\nconst userId    = Number(p.UserID        ?? p.userId        ?? 0);\nconst watchId   = Number(p.SmartWatchID  ?? p.smartWatchId  ?? 0);\nconst phoneId   = Number(p.AndroidID     ?? p.androidId     ?? 0);\n\n// Sensor name & alert flag\nconst sensorName = p.MonitoringType ?? p.monitoringType ?? \"HeartRate\";\nconst alertGiven = p.alertGiven ?? \"no\";\n\n\n// Main value\nconst value = Number(\n  p.heartRate ??\n  p.Value ??\n  0\n);\n\nconst pulses    = Number(p.pulses    ?? 0);\nconst intensity = Number(p.intensity ?? 0);\nconst duration  = Number(p.duration  ?? 0);\nconst interval  = Number(p.interval  ?? 0);\n\nconst fbRangeID = Number(p.fbRangeID ?? 0);\n\n\n// Build SQL and params\nconst query = `\n  SELECT insert_sensor_data(\n    $1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11\n  );\n`;\n\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID,\n];\n\n\n// Return as n8n item\nreturn [\n  {\n    json: {\n      query,\n      params,\n      payload: p,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -12432,
        -432
      ],
      "id": "6dde09ac-41bc-48f8-abc0-7b17c102bc1e",
      "name": "Setup Parameters For Heart Rate Queries",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -12208,
        -432
      ],
      "id": "d028dca3-38c7-4b45-b838-9653f6dff086",
      "name": "Execute Setup Param query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -11984,
        -432
      ],
      "id": "aea09d02-1377-4b84-a302-15e46f4d609d",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'MoonAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "Load MoonAzimuth Rules1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -13120,
        -688
      ],
      "id": "2ef1f135-737d-4279-8002-43a34a1f4a7a",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "give me a haiku about the heart beat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -12512,
        -144
      ],
      "id": "6c56a551-11e6-43bc-9814-55965823a91b",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -12512,
        32
      ],
      "id": "27486c48-b6a9-41e8-a665-af832c718708",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y3aPvN8D7zct4rPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -12112,
        -128
      ],
      "id": "782b96cc-3b9c-4fcb-86fc-a65703a424be",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "content": "---------------------------------------------------------------------------------------------------------------------Checking Rules & API Requests & Sending Appropriate FeedBack----------------------------------------------------------------------------------------------------------------------------\n\n\n\n\nSun API\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/sun-data\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMoon API\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/moon-data\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nHeart Rate Reading\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/heart-rate-data",
        "height": 768,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -14368,
        -1040
      ],
      "id": "d0d696c9-67b5-4e83-8cc0-b8b172e1d67a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Access the first item's JSON data\nconst originalPayload = $input.json;\n\n// 1. Get UserID from the original payload\n// Note: n8n typically uses JSON objects directly,\n// so 'originalPayload.UserID' should be available directly on the input item.\nconst userID = originalPayload.UserID;\n\n// 2. Define the dynamic delay (which can be changed by the user)\nconst dynamicDelay = 10000; // 10 seconds in milliseconds\n\n// 3. Construct the SQL query and parameters\n// In n8n's Postgres node, you typically separate the query and parameters.\nconst sqlQuery = `SELECT lastRequest FROM \"User\" WHERE userID = $1`;\nconst sqlParameters = [userID];\n\n// 4. Return the data, making it available for the next node.\n// We pass the new values in the 'json' property of the output item.\n// It's helpful to also pass the original payload if needed downstream.\nreturn [\n  {\n    json: {\n      ...originalPayload, // Keep original data\n      UserID: userID,\n      sqlQuery: sqlQuery,\n      sqlParameters: sqlParameters,\n      dynamicDelay: dynamicDelay,\n    }\n  }\n];"
      },
      "name": "prepareDelayQuery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -13696,
        -192
      ],
      "id": "f7fe6a7c-dfdb-421d-b3b0-4eb28a37e6ee",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"lastrequest\", \"userid\"\nFROM \"User\" \nWHERE \"userid\" = {{ $json.body.UserID }};\n",
        "additionalFields": {}
      },
      "name": "Get Last Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -7184,
        -1072
      ],
      "id": "ce2682bf-28f9-4187-bf77-dae8d8e5edf5",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastRequest = $input.first().json.lastrequest;\nconst userid = $input.first().json.userid\nconst now = new Date();\nconst dynamicDelay = 10000; // 10 seconds\n\nlet shouldWait = false;\n\nif (lastRequest) {\n  const elapsed = now.getTime() - new Date(lastRequest).getTime();\n  if (elapsed < dynamicDelay) {\n    shouldWait = true;\n  }\n}\n\nreturn [\n  {\n    json: {\n      userid,\n      shouldWait: shouldWait\n    }\n  }\n];"
      },
      "name": "Check Delay Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -6960,
        -1072
      ],
      "id": "487bd5e2-191d-4c58-b263-5bd5c4758ae6"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"shouldWait\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Wait Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -6736,
        -1072
      ],
      "id": "199b3bd3-0093-4ca5-9975-f9b7f3de8f88"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -6512,
        -1152
      ],
      "id": "f5db6793-333a-47c4-b5ae-afd8157d8718",
      "webhookId": "bad4a52f-ae34-4d95-a5e7-90a02cdb0d40"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\";",
        "additionalFields": {
          "queryParams": "={{ $json.userid.toString() }}"
        }
      },
      "name": "Update Last Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -6592,
        -1024
      ],
      "id": "49a39f26-f7da-47a5-86d0-9a8ce5d2067c",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT value \nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorID = st.sensorID\nWHERE sd.userID = {{ $('Webhook heart rate').item.json.body.UserID }}\nAND sd.watchID = {{ $('Webhook heart rate').item.json.body.SmartWatchID }}\nAND sd.phoneID = {{ $('Webhook heart rate').item.json.body.AndroidID }}\nAND st.name = 'HeartRate'\nORDER BY time DESC\nLIMIT 10;",
        "additionalFields": {}
      },
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -6064,
        -1072
      ],
      "id": "c07d3c04-f39e-4320-9531-a96ba5a1922a",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = true;",
        "additionalFields": {}
      },
      "name": "Get Config Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5616,
        -1072
      ],
      "id": "0f8db392-034c-46e2-9eec-0d693414a739",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const heartRate = $('Data Cleaning1').first().json.heartRate;\nconst userID = $('Webhook heart rate').first().json.body.UserID\nconst SmartWatchID = $('Webhook heart rate').first().json.body.SmartWatchID\nconst AndroidID = $('Webhook heart rate').first().json.body.AndroidID\nconst mappings = items.map(i => i.json); // Get all rules\n\n// Map function for proportional mapping\nfunction map(value, inMin, inMax, outMin, outMax) {\n    if (inMin === inMax) return outMin;\n    return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nlet feedback = {\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    monitoringType: \"HeartRate\",\n    userID: userID,\n    SmartWatchID: SmartWatchID,\n    AndroidID: AndroidID\n\n};\n\nfor (const m of mappings) {\n    const minHR = parseFloat(m.minvalue);\n    const maxHR = parseFloat(m.maxvalue);\n\n    if (heartRate >= minHR && heartRate <= maxHR) {\n        feedback.intensity = Math.round(map(heartRate, minHR, maxHR, m.minintensity, m.maxintensity));\n        feedback.pulses = Math.round(map(heartRate, minHR, maxHR, m.minpulses, m.maxpulses));\n        feedback.duration = Math.round(map(heartRate, minHR, maxHR, m.minduration, m.maxduration));\n        feedback.interval = Math.round(map(heartRate, minHR, maxHR, m.mininterval, m.maxinterval));\n        feedback.fbRangeID = parseInt(m.id);\n        feedback.alertGiven = feedback.pulses > 0 ? \"yes\" : \"no\";\n        break;\n    }\n}\nreturn [\n  {\n    json: feedback\n  }\n];"
      },
      "name": "Check Feedback Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5392,
        -1072
      ],
      "id": "8400edf7-4e81-46b4-9665-eb668e10fc59"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -5168,
        -1168
      ],
      "id": "df135ecf-e137-4e6d-91a9-f7071026a414"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'HeartRate',\n  '{{ $json.alertGiven }}',\n{{$('Data Cleaning1').first().json.heartRate}},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }}\n);",
        "additionalFields": {}
      },
      "name": "Insert Data Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5168,
        -976
      ],
      "id": "f429f5db-9c7f-457c-bac8-b6cea4da0035",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\nconst readings = items.map(item => parseFloat(item.json.value)).filter(v => !isNaN(v));\n\n// Extract raw sensor input from Webhook\nconst rawValue = parseFloat($('Webhook heart rate').item.json.body.Value || 0);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid\nif (!isOutlier(rawValue)) {\n    readings.push(rawValue);\n}\n\nlet smoothed = rawValue; // Default to raw if no history\nif (readings.length > 0) {\n    const total = readings.reduce((sum, val) => sum + val, 0);\n    smoothed = total / readings.length;\n}\n\nreturn [\n  {\n    json: {\n      heartRate: smoothed,\n      rawValue: rawValue\n    }\n  }\n];"
      },
      "name": "Data Cleaning1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5840,
        -1072
      ],
      "id": "30de6a0a-4a0f-4738-bb91-0a12c473268a"
    },
    {
      "parameters": {
        "content": "Change heart rate feedback interval between 2 notifications",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -7408,
        -1168
      ],
      "id": "42ebfb16-68cb-49d8-ba98-a7bd76acaec2",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM to insert new mappings",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8928,
        -1232
      ],
      "typeVersion": 1,
      "id": "f30c0591-a69f-4ead-ba6a-6ba4b61c20fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        -1152
      ],
      "id": "3e659694-a66a-4bf8-958f-d5f961ae88bc",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -10256,
        -1152
      ],
      "id": "bfca911e-fe75-4220-ad20-3e7cd943dbc8",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "GET Queries",
        "height": 80,
        "width": 1622,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -1344
      ],
      "typeVersion": 1,
      "id": "5dacdf61-189d-40d8-bb44-9afbe1346d85",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        -928
      ],
      "id": "9041f9e3-18c8-4702-a846-72e9ff8b949e",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -10032,
        -928
      ],
      "id": "3f9b3612-075e-4327-a57b-1aaf213ef201",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -9808,
        -1152
      ],
      "id": "f315df18-02d3-4c19-99ca-79605d2c706b",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        -608
      ],
      "id": "9e716b3d-516f-4001-9208-0d1d1efc4a12",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nif (!rows || rows.length === 0) {\n  return [{ json: { statusCode: 404, payload: [] } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: rows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9584,
        -704
      ],
      "id": "c6c1597c-13b5-4f18-be2b-f0ea31e9e099",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode || 200 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -9360,
        -704
      ],
      "id": "42181170-4034-44f6-b12c-2603395f26d7",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -9808,
        -512
      ],
      "id": "a86d77b4-050d-41c1-a623-a4865ee99804",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        -288
      ],
      "id": "69b38e84-a546-439a-9848-6d77db295f23",
      "name": "Get sensor types",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -10032,
        -288
      ],
      "id": "55bfeeb7-4bea-4149-ac77-77082919fe8f",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        -64
      ],
      "id": "187f47ad-7c53-4cd8-afe5-b2e7689e9ee3",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -10032,
        -64
      ],
      "id": "7b11c741-eead-4ff7-a4d0-927036dfe488",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -10480,
        176
      ],
      "id": "f53457a5-cda8-4ae4-be6e-52b91a46f3d1",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -10032,
        176
      ],
      "id": "03e330df-8239-4b03-b26e-26c297edde49",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "--IMPORTANT--\nIn order for the monitoring config and monitoring type nodes to run: \n1. Set the workflow to active\n2. Set both nodes to production URL\n3. first run set and then get",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9824,
        -80
      ],
      "typeVersion": 1,
      "id": "d56ef8c9-719b-4afd-a0e2-a91847793705",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -624
      ],
      "typeVersion": 1,
      "id": "21006412-2f1e-49f9-b788-9c4237988374",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -1200
      ],
      "typeVersion": 1,
      "id": "876ff511-d465-45b3-ae6e-de461ed4f3e9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -976
      ],
      "typeVersion": 1,
      "id": "9e14e1fb-0d83-433f-89e4-94b71b140a99",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"User\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -10256,
        -928
      ],
      "id": "fb547041-78a9-4df4-afd2-6f016c6731ac",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertTypeRaw = q.alert_type;\nconst userIdRaw = q.userid;\n\nif (!userIdRaw) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (alertTypeRaw === undefined || alertTypeRaw === null || String(alertTypeRaw).trim() === \"\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst userId = Number(userIdRaw);\nif (!Number.isFinite(userId)) {\n  return [{ json: { statusCode: 400, payload: { error: \"userid must be a number\" } } }];\n}\n\nconst alertTypeStr = String(alertTypeRaw).trim();\nconst isNumericAlertType = /^[0-9]+$/.test(alertTypeStr);\n\nconst now = new Date();\nlet dateFrom = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  default:\n    dateFrom = null;\n}\n\nlet query = `\n  SELECT sd.id, sd.time, sd.value,\n         COALESCE(a.type, 'No Alert') AS alert_type,\n         COALESCE(a.pulses, 0) AS pulses,\n         COALESCE(a.intensity, 0) AS intensity,\n         COALESCE(a.duration, 0) AS duration,\n         COALESCE(a.interval, 0) AS interval,\n         sd.userid,\n         sd.sensorid\n  FROM public.\"SensorData\" sd\n  LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n`;\n\nlet where = [];\nlet params = [];\nlet p = 1;\n\n// time filter\nif (dateFrom) {\n  where.push(`sd.time >= $${p++}`);\n  params.push(dateFrom.toISOString());\n}\n\n// user filter\nwhere.push(`sd.userid = $${p++}`);\nparams.push(userId);\n\n// alert filter: by type OR by sensorid\nif (isNumericAlertType) {\n  where.push(`sd.sensorid = $${p++}`);\n  params.push(Number(alertTypeStr));\n} else {\n  where.push(`a.type = $${p++}`);\n  params.push(alertTypeStr);\n}\n\nquery += ` WHERE ${where.join(\" AND \")} ORDER BY sd.time;`;\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params,\n    meta: { range, alertTypeRaw: alertTypeStr, interpretedAs: isNumericAlertType ? \"sensorid\" : \"type\" }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10256,
        -608
      ],
      "id": "7a8def0b-bc18-4f6c-bfb0-2868e9eecddb",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -10032,
        -608
      ],
      "id": "e5617e46-c9a0-43c9-a710-0daba64c94b6",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}\n",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -9808,
        -704
      ],
      "id": "b64b4ae1-eb1f-4a4f-b63e-de621ea46c31",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sensorid, name FROM \"SensorType\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -10256,
        -288
      ],
      "id": "3d700968-ffd6-4e54-8287-4008a56723cd",
      "name": "get sensir type query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        128
      ],
      "typeVersion": 1,
      "id": "6cf67432-e85c-4b45-8b2a-d9260ad7ba63",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -96
      ],
      "typeVersion": 1,
      "id": "164f1ed0-f613-4e81-be30-c48401ec0742",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10256,
        -64
      ],
      "id": "7c946559-6b32-45e3-963e-a697ae994e25",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10256,
        176
      ],
      "id": "617ac34b-dc6d-4c0d-8b06-5a79a77c3204",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10768,
        -320
      ],
      "typeVersion": 1,
      "id": "1687a3e4-94e8-4354-a9f7-51da85f011da",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "EDIT MAPPING RULES",
        "height": 80,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8960,
        -1344
      ],
      "typeVersion": 1,
      "id": "fa613ec6-65fb-4b02-a533-49517ea891e4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-sun-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -8912,
        -704
      ],
      "id": "b625561b-ee90-497e-afa1-b1cd469a7469",
      "name": "set sun azimuth threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.sunAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'sunAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"SunAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8688,
        -704
      ],
      "id": "b7dd0e4a-d45a-4390-9a75-8ca40c685d6d",
      "name": "UpdatingChangedValuesIfExist"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8240,
        -800
      ],
      "id": "18197def-1b7b-4942-ad61-b77f822a790f",
      "name": "Execute sun mapping query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8016,
        -800
      ],
      "id": "933ca2b5-a9c1-4880-8717-b9bb36ea7fb2",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8464,
        -704
      ],
      "id": "b44f6ca4-631f-4f11-8458-da81e9b59fb6",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8240,
        -608
      ],
      "id": "08feb819-9b4a-4126-83be-b66a83db0951",
      "name": "Respond to Webhook on error"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.moonAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"MoonAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8688,
        -288
      ],
      "id": "e62d460b-b807-4c43-b657-7a1254d17ced",
      "name": "UpdatingChangedValuesIfExist1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8016,
        -384
      ],
      "id": "7c04a820-9cc6-4746-a903-99229ecf227a",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8464,
        -288
      ],
      "id": "c2f1c890-1365-49af-9a60-e6e369beae33",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist1').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist1').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8240,
        -192
      ],
      "id": "fc900d5e-2c7e-4495-88ea-fb6a4cb73e20",
      "name": "Respond to Webhook on error1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-moon-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -8912,
        -288
      ],
      "id": "51bc16b9-053c-4752-a2f3-eac86bee01d9",
      "name": "set moon azimuth threshold1",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.thresholds\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id !== null && e.id !== undefined);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"HeartRate\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8688,
        144
      ],
      "id": "2d99d593-8176-4766-b75e-45cf3ff36b5d",
      "name": "UpdatingChangedValuesIfExist2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8240,
        48
      ],
      "id": "edba71e8-aa4f-4bf4-8462-3466d670f446",
      "name": "Execute sun mapping query2",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8016,
        48
      ],
      "id": "b62d0287-76ed-4aad-8be8-d7177faad099",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -8464,
        144
      ],
      "id": "ba803b2b-86a6-497d-a429-77186144ef8f",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist2').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist2').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -8240,
        240
      ],
      "id": "5d48020d-4327-4f58-85c4-74d9cdfd3760",
      "name": "Respond to Webhook on error2"
    },
    {
      "parameters": {
        "content": "Checking Rules & API Requests & Sending Appropriate FeedBack",
        "height": 80,
        "width": 2640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7472,
        -1344
      ],
      "typeVersion": 1,
      "id": "c62e8186-e58d-4417-830e-cb135f241539",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "old stuff & tests\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<",
        "height": 1616,
        "width": 150,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -11712,
        -1216
      ],
      "typeVersion": 1,
      "id": "9c19f127-96ae-47db-be45-ac69cf01b62b",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE FUNCTION insert_sensor_data(\n    _userID INT,\n    _watchID INT,\n    _phoneID INT,\n    _sensorName VARCHAR,\n    _alertGiven VARCHAR,\n    _value FLOAT,\n    _pulses INT,\n    _intensity INT,\n    _duration INT,\n    _interval INT,\n    _fbRangeID INT\n) RETURNS VOID AS $$\nDECLARE\n    _sensorID INT;\n    _alertID INT;\nBEGIN\n    -- Insert users/devices if they don't exist\n    INSERT INTO \"User\"(userID) SELECT _userID WHERE NOT EXISTS (SELECT 1 FROM \"User\" WHERE userID = _userID);\n    INSERT INTO \"Watch\"(watchID) SELECT _watchID WHERE NOT EXISTS (SELECT 1 FROM \"Watch\" WHERE watchID = _watchID);\n    INSERT INTO \"AndroidPhone\"(phoneID) SELECT _phoneID WHERE NOT EXISTS (SELECT 1 FROM \"AndroidPhone\" WHERE phoneID = _phoneID);\n\n    INSERT INTO \"WatchAndroidPhone\"(watchID, phoneID)\n    SELECT _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"WatchAndroidPhone\" WHERE watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"UserWatchAndroidPhone\"(userID, watchID, phoneID)\n    SELECT _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"UserWatchAndroidPhone\"\n        WHERE userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"SensorType\"(name)\n    SELECT _sensorName\n    WHERE NOT EXISTS (SELECT 1 FROM \"SensorType\" WHERE name = _sensorName);\n\n    SELECT sensorID INTO _sensorID FROM \"SensorType\" WHERE name = _sensorName;\n\n    -- 🔁 Insert into Alert with fbRangeID instead of minvalue/maxvalue\n    INSERT INTO \"Alert\"(\n        alertGiven, pulses, intensity, duration, interval, type, fbRangeID\n    )\n    VALUES (\n        _alertGiven, _pulses, _intensity, _duration, _interval, _sensorName, _fbRangeID\n    )\n    RETURNING alertID INTO _alertID;\n\n    -- DeviceSensor mapping\n    INSERT INTO \"DeviceSensor\"(sensorID, userID, watchID, phoneID)\n    SELECT _sensorID, _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"DeviceSensor\"\n        WHERE sensorID = _sensorID AND userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    -- Final insert to SensorData\n    INSERT INTO \"SensorData\"(sensorID, userID, watchID, phoneID, alertID, value, time)\n    VALUES (_sensorID, _userID, _watchID, _phoneID, _alertID, _value, CURRENT_TIMESTAMP);\nEND;\n$$ LANGUAGE plpgsql;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8304,
        -1600
      ],
      "id": "4fac339f-9f6b-4e1b-85f7-e6b4af310459",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "-NOTE-\nTo create the DB tables and insert data, run this only once before starting anything else",
        "height": 240,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -8560,
        -1696
      ],
      "typeVersion": 1,
      "id": "6654e634-20bc-4426-a7f6-69005481d505",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -8512,
        -1600
      ],
      "id": "29dc02b8-33ff-4b6e-9940-42a28b999598",
      "name": "Build Database",
      "executeOnce": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heartRate",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook heart rate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -7408,
        -1072
      ],
      "id": "44d9d805-7078-49fd-a797-7f5034b9a10e",
      "webhookId": "ab04974b-c683-4224-90a1-cae7a4139bdc"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7408,
        -784
      ],
      "id": "f0ddf241-455c-4ae2-b319-dd2f3c7f53db",
      "name": "Webhook sun data",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body ?? req;\n\nconst userId = body.UserID ?? body.userid ?? body.userId;\nif (!userId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing UserID\" } } }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    userId,\n    query: 'SELECT \"lastrequest\" FROM public.\"User\" WHERE \"userid\" = $1',\n    params: [userId],\n    // keep original request for later\n    body,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7184,
        -784
      ],
      "id": "bc3e3249-c6e5-4785-9775-fa171de9d807",
      "name": "prepare Delay Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b22a2d03-b418-45a2-a6cc-d0678f0ce3a8",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6960,
        -784
      ],
      "id": "e45eb3fc-1791-44e0-827e-0636d9a18efc",
      "name": "If status 400"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -6736,
        -880
      ],
      "id": "100cfd66-d921-4261-a9b8-62576a35a2f2",
      "name": "Respond to Webhook on code 400"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6736,
        -688
      ],
      "id": "099585f3-5635-4dd4-8c2e-3edba7d7a5ff",
      "name": "SELECT lastRequest",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bring forward the original data from the previous node (PrepareLastRequestQuery)\nconst prev = $('prepare Delay Query').first().json;\nconst userId = $('prepare Delay Query').first().json.body.UserID;\nconst body = $('prepare Delay Query').first().json.body;\n\n// Postgres results are in `items` for THIS node\nconst pgRows = $input.first().json;\nconst lastRequestRaw = pgRows[0]?.lastrequest\n  ?? pgRows[0]?.lastRequest\n  ?? null;\n\n// Decide delay policy (pick something sensible)\nconst cooldownMs = 60_000;\n\nlet shouldWait = false;\nlet waitSeconds = 0;\n\nif (lastRequestRaw) {\n  const last = new Date(lastRequestRaw).getTime();\n  const now = Date.now();\n  const elapsed = now - last;\n\n  if (elapsed < cooldownMs) {\n    shouldWait = true;\n    waitSeconds = Math.max(1, Math.ceil((cooldownMs - elapsed) / 1000));\n  }\n}\n\nreturn [{\n  json: {\n    userId,\n    body,\n    shouldWait,\n    waitSeconds,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6512,
        -688
      ],
      "id": "fbf2744c-38ce-48bb-a28e-dbbf38b996b7",
      "name": "Check If Delay Necessary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edd11ae0-8357-422f-b359-ad2dae566889",
              "leftValue": "={{$json.shouldWait}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6352,
        -784
      ],
      "id": "c4904176-e341-4b57-9058-b4772550493e",
      "name": "if should wait"
    },
    {
      "parameters": {
        "amount": "={{$json.waitSeconds}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -6128,
        -864
      ],
      "id": "0357e9ff-097a-4116-a326-99b081313a99",
      "name": "Wait",
      "webhookId": "99ae071e-7ab4-4d91-9677-810632db319c"
    },
    {
      "parameters": {
        "jsCode": "const userId = $input.first().json.userId;\n\nreturn [{\n  json: {\n    userId,\n    body: $input.first().json.body,\n    query: 'UPDATE public.\"User\" SET \"lastrequest\" = NOW() WHERE \"userid\" = $1',\n    params: [userId],\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5904,
        -784
      ],
      "id": "da5adfff-c609-48a4-9330-dbd89d4753ed",
      "name": "Build Update Last Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5680,
        -784
      ],
      "id": "3cf1dbcc-e7dd-45bd-881b-d81440b36438",
      "name": "Execute UPDATE",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nconst lat = body.lat ?? 32.794;\nconst lon = body.lon ?? 34.989;\n\n// Same API, same key usage as Node-RED\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\n\n// Example: if Node-RED used query param\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5456,
        -784
      ],
      "id": "6ce995c6-c11a-4ac6-94ea-6adb9ee947ad",
      "name": "Construct Sun Api Request"
    },
    {
      "parameters": {
        "jsCode": "// Keep whatever you already had from earlier nodes (webhook body, etc.)\nconst originalPayload = $input.first().json.originalPayload ?? $input.first().json;\n\n// The HTTP response body\nconst api = $input.first().json;\n\n// Try common shapes \nconst currentAzimuth =\n  api?.sun_azimuth ??\n  api?.sun?.azimuth ??\n  api?.data?.sun_azimuth ??\n  api?.data?.sun?.azimuth;\n\nif (currentAzimuth === undefined || currentAzimuth === null) {\n  return [{ json: { statusCode: 500, payload: { error: \"Sun azimuth missing from API response\", api } } }];\n}\n\n// Preserve original input + attach computed value\noriginalPayload.sun_azimuth = Number(currentAzimuth);\n\n// Put the “main payload” as originalPayload (this is what Node-RED effectively does)\nreturn [{ json: { ...originalPayload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5008,
        -784
      ],
      "id": "1296095a-9269-4d4f-b363-0ce048aa997f",
      "name": "Extract Sun Azimuth And Preserve Original Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = 'SunAzimuth'\nORDER BY minvalue, maxvalue;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5904,
        -592
      ],
      "id": "ede1f723-0b6a-43d7-9175-5013d0d5a33f",
      "name": "Query To Fetch Current Sun Rules From DB",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extract Sun Azimuth And Preserve Original Payload').first().json;\nconst rules = $input.all().map(i => i.json);\nconst az = $('Extract Sun Azimuth And Preserve Original Payload').first().json.sun_azimuth;\n\nlet chosen = null;\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n  if (az >= minV && az <= maxV) { chosen = r; break; }\n}\n\n\n// Defaults when no match \nlet pulses = 0, intensity = 0, duration = 0, interval = 0, fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\n// Attach vibration params for DB insert\nreturn [{\n  json: {\n    ...original,\n    monitoringType: \"SunAzimuth\",\n    alertGiven: chosen ? \"yes\" : \"no\",\n    pulses, intensity, duration, interval,\n    fbRangeID\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        -592
      ],
      "id": "676b6dfc-90ce-48a8-82ef-864e0f5b53d0",
      "name": "Checks FeedBack Rules"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\n\nconst userId  = parseInt($('Webhook sun data').first().json.body.UserID);\nconst watchId = parseInt($('Webhook sun data').first().json.body.SmartWatchID);\nconst phoneId = parseInt($('Webhook sun data').first().json.body.AndroidID);\n\nconst sensorName = $input.first().json.type || \"SunAzimuth\";\nconst alertGiven = $input.first().json.alertGiven || p.alertGiven || \"no\";\nconst value = parseFloat($('HTTP sun API Request').first().json.sun_azimuth || 0);\n\nconst pulses = $input.first().json.pulses || 0;\nconst intensity = $input.first().json.intensity || 0;\nconst duration = $input.first().json.duration || 0;\nconst interval = $input.first().json.interval || 0;\nconst fbRangeID = $input.first().json.fbRangeID || 0;\n\nif (!userId || !watchId || !phoneId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing ids (userId/watchId/phoneId)\", got: { userId, watchId, phoneId } } } }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [userId, watchId, phoneId, sensorName, alertGiven, value, pulses, intensity, duration, interval, fbRangeID]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5456,
        -592
      ],
      "id": "7ae10763-a1cf-49cd-81a2-06e56485e59e",
      "name": "Setup Parameters For Sun Queries"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5232,
        -592
      ],
      "id": "73df9800-1c48-4bf7-b053-e7d19e248f7e",
      "name": "Execute insert_sensor_data",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -5008,
        -592
      ],
      "id": "bc3e858b-a1d8-4090-b3f8-f6beb497b784",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/sun-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "height": 96,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -7440,
        -640
      ],
      "typeVersion": 1,
      "id": "797754c7-bbf3-49da-89d1-a999796532c0",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "this is GET /sensor-data on node-red",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10480,
        -656
      ],
      "typeVersion": 1,
      "id": "a8c2264f-9f9d-43d6-b977-09eec0e98b71",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "this is GET /get-sensortypes on node-red",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10464,
        -352
      ],
      "typeVersion": 1,
      "id": "d78fa616-21ed-4698-b362-e5e46003cf4b",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "this is GET /get-monitoring-config on node-red",
        "height": 80,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -10480,
        -112
      ],
      "typeVersion": 1,
      "id": "f3526be9-2b44-423d-b404-a5c772c7b69c",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-heart-rate-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -8912,
        144
      ],
      "id": "6e2b3c6f-e3a1-4f49-b0d8-fe33d4c28557",
      "name": "set heart rate threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8240,
        -384
      ],
      "id": "fd6bc6b4-0a09-4e1e-b164-417180311cf6",
      "name": "Execute moon mapping query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nconst sunAzimuthRanges = [];\nconst heartRateMappings = [];\nconst moonAzimuthRanges = [];\n\nfor (const row of rows) {\n  if (row.type === \"SunAzimuth\") sunAzimuthRanges.push(row);\n  else if (row.type === \"HeartRate\") heartRateMappings.push(row);\n  else if (row.type === \"MoonAzimuth\") moonAzimuthRanges.push(row);\n}\n\nreturn [\n  {\n    json: {\n      sunAzimuthRanges,\n      heartRateMappings,\n      moonAzimuthRanges,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10032,
        -1152
      ],
      "id": "f02ee68f-f267-4040-8001-6f12d806deb3",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5232,
        -784
      ],
      "id": "5305025a-4015-4bc1-af58-047249cf7d69",
      "name": "HTTP sun API Request"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -8720,
        -912
      ],
      "id": "7a22b094-4dcc-46e1-9e3d-3704efd67af9",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "y3aPvN8D7zct4rPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8928,
        -1136
      ],
      "id": "55f28f00-02d4-43cc-959b-c89e48408c61",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a strict JSON data extraction engine. Your ONLY job is to convert natural language commands into a structured JSON object for a database configuration.\n\n### Database Schema (Output Fields):\n- type: 'HeartRate', 'SunAzimuth', or 'MoonAzimuth' (Required)\n- active: boolean (Always true for new rules)\n- minvalue: number (The lower threshold. If user says \"above 120\", min=120, max=220)\n- maxvalue: number (The upper threshold. If user says \"below 60\", min=30, max=60)\n- minpulses, maxpulses: number (Vibration count. Low=1, Medium=3, High=5. Default=3)\n- minintensity, maxintensity: number (Vibration strength 0-255. Weak=50, Strong=255. Default=150)\n- minduration, maxduration: number (Pulse duration in ms. Short=100, Long=500. Default=200)\n- mininterval, maxinterval: number (Pause between pulses in ms. Default=100)\n\n### Strict Output Rules:\n1. Return ONLY the JSON object.\n2. Do NOT write \"Here is the JSON\".\n3. Do NOT wrap the output in markdown blocks (no ```json ... ```).\n4. If a value is missing, use reasonable defaults based on the context.\n5. Make sure all output fields are populated\n\n### Example Output:\n{ \"type\": \"HeartRate\", \"active\": true, \"minvalue\": 120, \"maxvalue\": 220, \"minpulses\": 3, \"maxpulses\": 5, \"minintensity\": 200, \"maxintensity\": 255, \"minduration\": 200, \"maxduration\": 400, \"mininterval\": 100, \"maxinterval\": 200 }"
            }
          ]
        }
      },
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -8720,
        -1136
      ],
      "id": "d91d2121-9fec-40bc-87c2-fde734f6f26a"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text from the AI (it might be in .output or .text)\nconst aiOutput = $input.first().json.output || $input.first().json.text || \"\";\n\n// 1. If it's already an object, return it directly\nif (typeof aiOutput === 'object') {\n  return [{ json: aiOutput }];\n}\n\n// 2. If it's a string, use Regex to find the JSON object inside it\n// This ignores text like \"Here is your JSON:\"\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in AI response. Raw output: \" + aiOutput);\n}\n\ntry {\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  throw new Error(\"Found JSON-like text but failed to parse: \" + jsonMatch[0]);\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8384,
        -1136
      ],
      "id": "b8b34c4a-b225-43b7-a3a2-e1f04997a8b5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Rule created successfully\",\n  \"ruleId\": {{ $json.id }}\n}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -7936,
        -1136
      ],
      "id": "a747e6d0-4ca3-4896-b7ea-2010f1ab5fcc"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [ \n  $json.type, \n  true, \n  $json.minvalue, \n  $json.maxvalue, \n  $json.minpulses, \n  $json.maxpulses, \n  $json.minintensity, \n  $json.maxintensity, \n  $json.minduration, \n  $json.maxduration, \n  $json.mininterval, \n  $json.maxinterval\n].join(',') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8160,
        -1136
      ],
      "id": "8b188ccd-334e-40be-b2aa-3e94491e96fc",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook-test/chat-config -H \"Content-Type: application/json\" -d \"{\\\"message\\\":\\\"Vibrate softly if sun azimuth is at 150 \\\"}\"\n\nor your own message after {\\\"message\\\":\\ ",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -9056,
        -976
      ],
      "typeVersion": 1,
      "id": "52c34d84-0a35-438d-a6ab-db1aad4a73cb",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"lastrequest\", \"userid\"\nFROM \"User\" \nWHERE \"userid\" = {{ $json.body.UserID }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7200,
        -400
      ],
      "id": "8f8736c2-bc85-4b3a-a529-f4d89359b4b6",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastRequest = $input.first().json.lastrequest;\nconst userid = $input.first().json.userid\nconst now = new Date();\nconst dynamicDelay = 10000; // 10 seconds\n\nlet shouldWait = false;\n\nif (lastRequest) {\n  const elapsed = now.getTime() - new Date(lastRequest).getTime();\n  if (elapsed < dynamicDelay) {\n    shouldWait = true;\n  }\n}\n\nreturn [\n  {\n    json: {\n      userid,\n      shouldWait: shouldWait\n    }\n  }\n];"
      },
      "name": "Check Delay Logic1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -6992,
        -400
      ],
      "id": "4d6be038-0a2d-4642-b365-c83ff477c0c5"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"shouldWait\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Wait Needed1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -6800,
        -400
      ],
      "id": "a19bbf62-b3a4-4391-9bc8-7a8ca84fde06"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -6576,
        -480
      ],
      "id": "a3da2392-4306-4052-b0e5-dc5c85b1f07b",
      "webhookId": "bad4a52f-ae34-4d95-a5e7-90a02cdb0d40"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\";",
        "additionalFields": {
          "queryParams": "={{ $json.userid.toString() }}"
        }
      },
      "name": "Update Last Request1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -6352,
        -400
      ],
      "id": "da47e66f-4b3a-4ba7-9e91-b639226ad00f",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5168,
        -192
      ],
      "id": "28a22c3a-e772-499c-b94f-768b8c7806c1",
      "name": "Execute insert_sensor_data1",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -4976,
        -192
      ],
      "id": "448cc031-99cc-4e2b-a222-e5a07b32c944",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nconst lat = body.lat ?? 32.794;\nconst lon = body.lon ?? 34.989;\n\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6128,
        -400
      ],
      "id": "b540a9ac-fa59-4051-bf5c-4434888c807d",
      "name": "Construct Moon APi Request"
    },
    {
      "parameters": {
        "jsCode": "// Keep whatever you already had from earlier nodes (webhook body, etc.)\nconst originalPayload = $input.first().json.originalPayload ?? $input.first().json;\n\n// The HTTP response body\nconst api = $input.first().json;\n\n// Try common shapes \nconst currentAzimuth =\n  api?.moon_azimuth ??\n  api?.moon?.azimuth ??\n  api?.data?.moon_azimuth ??\n  api?.data?.moon?.azimuth;\n\nif (currentAzimuth === undefined || currentAzimuth === null) {\n  return [{ json: { statusCode: 500, payload: { error: \"Moon azimuth missing from API response\", api } } }];\n}\n\n// Preserve original input + attach computed value\noriginalPayload.moon_azimuth = Number(currentAzimuth);\n\n// Put the “main payload” as originalPayload\nreturn [{ json: { ...originalPayload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5680,
        -400
      ],
      "id": "8b9e926f-f2d6-49cf-9113-1a47f776cd85",
      "name": "Extract Moon Azimuth And Preserve Original Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = 'MoonAzimuth'\nORDER BY minvalue, maxvalue;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5456,
        -400
      ],
      "id": "f1ace0ee-eaf6-4b0d-9fef-13c43db41710",
      "name": "Query To Fetch Current Moon Rules From DB",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extract Moon Azimuth And Preserve Original Payload').first().json;\nconst rules = $input.all().map(i => i.json);\nconst az = $('Extract Moon Azimuth And Preserve Original Payload').first().json.sun_azimuth;\n\nlet chosen = null;\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n  if (az >= minV && az <= maxV) { chosen = r; break; }\n}\n\n\n// Defaults when no match \nlet pulses = 0, intensity = 0, duration = 0, interval = 0, fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\n// Attach vibration params for DB insert\nreturn [{\n  json: {\n    ...original,\n    monitoringType: \"MoonAzimuth\",\n    alertGiven: chosen ? \"yes\" : \"no\",\n    pulses, intensity, duration, interval,\n    fbRangeID\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5232,
        -400
      ],
      "id": "5859fec7-a34a-4954-9cae-bb7356e483c2",
      "name": "Checks FeedBack Rules1"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\n\nconst userId  = parseInt($('Webhook moon data').first().json.body.UserID);\nconst watchId = parseInt($('Webhook moon data').first().json.body.SmartWatchID);\nconst phoneId = parseInt($('Webhook moon data').first().json.body.AndroidID);\n\nconst sensorName = $input.first().json.type || \"MoonAzimuth\";\nconst alertGiven = $input.first().json.alertGiven || p.alertGiven || \"no\";\nconst value = parseFloat($('HTTP Moon Request').first().json.moon_azimuth || 0);\n\nconst pulses = $input.first().json.pulses || 0;\nconst intensity = $input.first().json.intensity || 0;\nconst duration = $input.first().json.duration || 0;\nconst interval = $input.first().json.interval || 0;\nconst fbRangeID = $input.first().json.fbRangeID || null;\n\nif (!userId || !watchId || !phoneId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing ids (userId/watchId/phoneId)\", got: { userId, watchId, phoneId } } } }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [userId, watchId, phoneId, sensorName, alertGiven, value, pulses, intensity, duration, interval, fbRangeID]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4992,
        -400
      ],
      "id": "6be62c6f-e239-494c-8720-c93c9a79f92b",
      "name": "Setup Parameters For Moon Queries"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5904,
        -400
      ],
      "id": "1ac5eef5-a8fd-4bb7-829b-1b4c9ef70aa5",
      "name": "HTTP Moon Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -7408,
        -400
      ],
      "id": "3f4de3b2-10e5-4529-bb67-1309362044d9",
      "name": "Webhook moon data",
      "webhookId": "3a44de6f-0d6f-4e5c-ae4f-c28a63514782"
    }
  ],
  "pinData": {
    "set moon azimuth threshold1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "moonAzimuthRanges": [
              {
                "id": 0,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "Webhook sun data": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "73"
          },
          "params": {},
          "query": {},
          "body": {
            "UserID": 100,
            "SmartWatchID": 200,
            "AndroidID": 2,
            "lat": 32.794,
            "lon": 34.989
          },
          "webhookUrl": "http://localhost:5678/webhook-test/sun-data",
          "executionMode": "test"
        }
      }
    ],
    "set heart rate threshold": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "heartRateAzimuthRanges": [
              {
                "id": 148,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "set sun azimuth threshold": [
      {
        "json": {
          "headers": {
            "content-type": "application/json",
            "user-agent": "Java/19.0.2",
            "host": "localhost:5678",
            "accept": "*/*",
            "connection": "keep-alive",
            "content-length": "157"
          },
          "params": {},
          "query": {},
          "body": {
            "sunAzimuthRanges": [
              {
                "id": 0,
                "minAzimuth": 122,
                "maxAzimuth": 222,
                "pulses": 2,
                "intensity": 2,
                "duration": 22,
                "interval": 22,
                "active": true
              }
            ],
            "moonAzimuthRanges": null
          },
          "webhookUrl": "http://localhost:5678/webhook/set-sun-azimuth-threshold",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Sun Data Webhook": {
      "main": [
        [
          {
            "node": "Astronomy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetupParametersForSunQueries": {
      "main": [
        [
          {
            "node": "InsertSensorData (FN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChecksFeedBackRules": {
      "main": [
        [
          {
            "node": "SetupParametersForSunQueries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load SunAzimuth Rules": {
      "main": [
        [
          {
            "node": "ChecksFeedBackRules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssignPayloadToOriginalPayload": {
      "main": [
        [
          {
            "node": "Load SunAzimuth Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Astronomy API": {
      "main": [
        [
          {
            "node": "AssignPayloadToOriginalPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertSensorData (FN)": {
      "main": [
        [
          {
            "node": "HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertSensorData (FN)1": {
      "main": [
        [
          {
            "node": "HTTP Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetupParametersForSunQueries1": {
      "main": [
        [
          {
            "node": "InsertSensorData (FN)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChecksFeedBackRules1": {
      "main": [
        [
          {
            "node": "SetupParametersForSunQueries1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssignPayloadToOriginalPayload1": {
      "main": [
        [
          {
            "node": "Load MoonAzimuth Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Astronomy API1": {
      "main": [
        [
          {
            "node": "AssignPayloadToOriginalPayload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moon Data Webhook": {
      "main": [
        [
          {
            "node": "Astronomy API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heart Rate Webhook": {
      "main": [
        [
          {
            "node": "fetchHeartRateWindowAndLastValidHeartRate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchHeartRateWindowAndLastValidHeartRate": {
      "main": [
        [
          {
            "node": "Execute fetch heart rate query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute fetch heart rate query": {
      "main": [
        [
          {
            "node": "Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning": {
      "main": [
        [
          {
            "node": "Execute data cleaning query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute data cleaning query": {
      "main": [
        [
          {
            "node": "Check Heart rate Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Heart rate Feedback Rules": {
      "main": [
        [
          {
            "node": "Setup Parameters For Heart Rate Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Heart Rate Queries": {
      "main": [
        [
          {
            "node": "Execute Setup Param query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Setup Param query": {
      "main": [
        [
          {
            "node": "HTTP Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load MoonAzimuth Rules1": {
      "main": [
        [
          {
            "node": "ChecksFeedBackRules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Request": {
      "main": [
        [
          {
            "node": "Check Delay Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delay Logic": {
      "main": [
        [
          {
            "node": "If Wait Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wait Needed": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Request": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Data Cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config Rules": {
      "main": [
        [
          {
            "node": "Check Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Rules": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning1": {
      "main": [
        [
          {
            "node": "Get Config Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor types": {
      "main": [
        [
          {
            "node": "get sensir type query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sensir type query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set sun azimuth threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute sun mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute moon mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set moon azimuth threshold1": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute sun mapping query2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Database": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook heart rate": {
      "main": [
        [
          {
            "node": "Get Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook sun data": {
      "main": [
        [
          {
            "node": "prepare Delay Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare Delay Query": {
      "main": [
        [
          {
            "node": "If status 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status 400": {
      "main": [
        [
          {
            "node": "Respond to Webhook on code 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT lastRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SELECT lastRequest": {
      "main": [
        [
          {
            "node": "Check If Delay Necessary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Delay Necessary": {
      "main": [
        [
          {
            "node": "if should wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if should wait": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Last Request": {
      "main": [
        [
          {
            "node": "Execute UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute UPDATE": {
      "main": [
        [
          {
            "node": "Construct Sun Api Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Sun Api Request": {
      "main": [
        [
          {
            "node": "HTTP sun API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sun Azimuth And Preserve Original Payload": {
      "main": [
        [
          {
            "node": "Query To Fetch Current Sun Rules From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query To Fetch Current Sun Rules From DB": {
      "main": [
        [
          {
            "node": "Checks FeedBack Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks FeedBack Rules": {
      "main": [
        [
          {
            "node": "Setup Parameters For Sun Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Sun Queries": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute insert_sensor_data": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set heart rate threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute moon mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP sun API Request": {
      "main": [
        [
          {
            "node": "Extract Sun Azimuth And Preserve Original Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Check Delay Logic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wait Needed1": {
      "main": [
        [
          {
            "node": "Wait 5s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s1": {
      "main": [
        [
          {
            "node": "Update Last Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delay Logic1": {
      "main": [
        [
          {
            "node": "If Wait Needed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Request1": {
      "main": [
        [
          {
            "node": "Construct Moon APi Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute insert_sensor_data1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Moon APi Request": {
      "main": [
        [
          {
            "node": "HTTP Moon Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Moon Azimuth And Preserve Original Payload": {
      "main": [
        [
          {
            "node": "Query To Fetch Current Moon Rules From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query To Fetch Current Moon Rules From DB": {
      "main": [
        [
          {
            "node": "Checks FeedBack Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks FeedBack Rules1": {
      "main": [
        [
          {
            "node": "Setup Parameters For Moon Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Moon Queries": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Moon Request": {
      "main": [
        [
          {
            "node": "Extract Moon Azimuth And Preserve Original Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook moon data": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "609dec4b-ada4-47b9-9841-6a4dd40bf44f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e871c23d93eceb29bf8abad810b08b4574a70ba4e0e27b89fbbcb614b60b3ad"
  },
  "id": "ikYKYpWNmnOPuSpq",
  "tags": []
}