Smartwatch Haptic Backend.json
{
  "name": "Smartwatch Haptic Backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "options": {}
      },
      "name": "Sun Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6320,
        -1376
      ],
      "webhookId": "sun-data-imported",
      "id": "3384d1ae-d550-49ff-8eab-4fa908dae635",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4736,
        -1376
      ],
      "id": "3334c7eb-c64b-41d6-aaf2-75021b33db18",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'SunAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "InsertSensorData (FN)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4960,
        -1376
      ],
      "id": "59e61ced-772b-453e-8e53-18cbfa188ebb",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n Code node - SetupParametersForSunQueries\n// Mode: Run Once for All Items\n\n// 1. קלט מהאנדרואיד מגיע מה-webhook בתחילת ה-flow\nconst inputData = $node[\"Sun Data Webhook\"].json;\n\n// 2. ה-payload המעובד מגיע מה-node של ChecksFeedBackRules\nconst payload = $node[\"ChecksFeedBackRules\"].json.payload;\n\n// 3. חילוץ נתונים\nconst userId = Number(inputData.userId ?? 0);\nconst watchId = Number(inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.androidId ?? 0);\n\nconst sensorName = payload.monitoringType ?? \"Unknown\";\nconst alertGiven = payload.alertGiven ?? \"no\";\n\nconst value = Number(\n  payload.sun_azimuth ??\n  payload.heartRate ??\n  payload.Value ??\n  0\n);\n\nconst pulses = Number(payload.pulses ?? 0);\nconst intensity = Number(payload.intensity ?? 0);\nconst duration = Number(payload.duration ?? 0);\nconst interval = Number(payload.interval ?? 0);\n\n// feedback range ID from DB\nconst fbRangeID = Number(payload.fbRangeID ?? 0);\n\n// 4. בניית מערך פרמטרים עבור Postgres\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID\n];\n\n// 5. החזרת items בצורה ש-n8n רוצה\nreturn [\n  {\n    json: {\n      query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n      params\n    }\n  }\n];\n"
      },
      "name": "SetupParametersForSunQueries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5200,
        -1376
      ],
      "id": "18f17508-4394-4825-9f11-86958303524b",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mode: Run Once for All Items\n\n// 1. Get all DB rows from previous Postgres node\nconst sunAzimuthRanges = $input.all().map(item => item.json);\n\n// 2. Get sun_azimuth from AssignPayloadToOriginalPayload node\nconst currentAzimuth =\n  $node[\"AssignPayloadToOriginalPayload\"].json.originalPayload.sun_azimuth;\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nconst payload = {\n  monitoringType: \"SunAzimuth\",\n  sun_azimuth: currentAzimuth,\n  pulses: 0,\n  intensity: 0,\n  duration: 0,\n  interval: 0,\n  fbRangeID: null,\n  alertGiven: \"no\",\n  message: \"\"\n};\n\nif (Array.isArray(sunAzimuthRanges) && sunAzimuthRanges.length > 0) {\n  let matched = false;\n\n  for (const range of sunAzimuthRanges) {\n    const minAz = Number(range.minvalue);\n    const maxAz = Number(range.maxvalue);\n\n    if (!Number.isFinite(minAz) || !Number.isFinite(maxAz)) continue;\n    if (currentAzimuth < minAz || currentAzimuth > maxAz) continue;\n\n    matched = true;\n\n    const minPulses = Number(range.minpulses ?? 0);\n    const maxPulses = Number(range.maxpulses ?? minPulses);\n    const minIntensity = Number(range.minintensity ?? 0);\n    const maxIntensity = Number(range.maxintensity ?? minIntensity);\n    const minDuration = Number(range.minduration ?? 0);\n    const maxDuration = Number(range.maxduration ?? minDuration);\n    const minInterval = Number(range.mininterval ?? 0);\n    const maxInterval = Number(range.maxinterval ?? minInterval);\n\n    payload.pulses = Math.round(\n      map(currentAzimuth, minAz, maxAz, minPulses, maxPulses)\n    );\n    payload.intensity = Math.round(\n      map(currentAzimuth, minAz, maxAz, minIntensity, maxIntensity)\n    );\n    payload.duration = Math.round(\n      map(currentAzimuth, minAz, maxAz, minDuration, maxDuration)\n    );\n    payload.interval = Math.round(\n      map(currentAzimuth, minAz, maxAz, minInterval, maxInterval)\n    );\n\n    payload.fbRangeID = Number(range.id);\n    payload.alertGiven = payload.pulses > 0 ? \"yes\" : \"no\";\n    payload.message =\n      \"✅ Mapped SunAzimuth range with proportional vibration settings.\";\n    break;\n  }\n\n  if (!matched) {\n    payload.message = \"⛔ No SunAzimuth match found in DB.\";\n  }\n} else {\n  payload.message = \"⚠️ No mappings retrieved from database for SunAzimuth.\";\n}\n\nconst originalPayload = {\n  sun_azimuth: currentAzimuth\n};\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload\n    }\n  }\n];\n"
      },
      "name": "ChecksFeedBackRules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5424,
        -1376
      ],
      "id": "4092bf96-ed6f-4c65-9b5c-dfa87e52d5c0",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'SunAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "Load SunAzimuth Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5648,
        -1376
      ],
      "id": "21545bed-b92b-47ce-b0e3-178e29ade022",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n expects an array of items: [{ json: {...} }, ...]\n// The previous HTTP Request node returned the astronomy API response in item.json.\n// Here we just copy it into originalPayload (and keep the fields themselves too).\n\nreturn items.map(item => {\n  const apiResponse = item.json;        // response from Astronomy API\n\n  return {\n    json: {\n      originalPayload: apiResponse,     // keep a copy under originalPayload\n      ...apiResponse                    // also keep the fields at the top level\n    }\n  };\n});\n"
      },
      "name": "AssignPayloadToOriginalPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5872,
        -1376
      ],
      "id": "bcab9387-7592-49bb-9cdd-a203f9fb2f62",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.ipgeolocation.io/astronomy",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "apiKey",
              "value": "b2b40f0636bb42c78ab922b7ef5a90fd"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat ?? 32.794 }}\n"
            },
            {
              "name": "long",
              "value": "={{ $json.lon ?? $json.long ?? 34.989 }}\n"
            }
          ]
        }
      },
      "name": "Astronomy API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -6096,
        -1376
      ],
      "id": "db3d2d1b-d73a-49f7-a08a-7e880dbfd6f9",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4752,
        -1136
      ],
      "id": "464aaf76-c4c8-41da-8e10-3e999818a214",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'MoonAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "InsertSensorData (FN)1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -4976,
        -1136
      ],
      "id": "d875a7cc-7314-4dc7-b1e7-78fa03206213",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n Code node - SetupParametersForSunQueries\n// Mode: Run Once for All Items\n\n// 1. קלט מהאנדרואיד מגיע מה-webhook בתחילת ה-flow\nconst inputData = $node[\"Moon Data Webhook\"].json;\n\n// 2. ה-payload המעובד מגיע מה-node של ChecksFeedBackRules\nconst payload = $node[\"ChecksFeedBackRules1\"].json.payload;\n\n// 3. חילוץ נתונים\nconst userId = Number(inputData.userId ?? 0);\nconst watchId = Number(inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.androidId ?? 0);\n\nconst sensorName = payload.monitoringType ?? \"Unknown\";\nconst alertGiven = payload.alertGiven ?? \"no\";\n\nconst value = Number(\n  payload.moon_azimuth ??\n  payload.heartRate ??\n  payload.Value ??\n  0\n);\n\nconst pulses = Number(payload.pulses ?? 0);\nconst intensity = Number(payload.intensity ?? 0);\nconst duration = Number(payload.duration ?? 0);\nconst interval = Number(payload.interval ?? 0);\n\n// feedback range ID from DB\nconst fbRangeID = Number(payload.fbRangeID ?? 0);\n\n// 4. בניית מערך פרמטרים עבור Postgres\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID\n];\n\n// 5. החזרת items בצורה ש-n8n רוצה\nreturn [\n  {\n    json: {\n      query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n      params\n    }\n  }\n];\n"
      },
      "name": "SetupParametersForSunQueries1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5216,
        -1136
      ],
      "id": "988a494e-a6b6-47c1-b57b-b04deb42177b",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Mode: Run Once for All Items\n\n// 1. Get all DB rows from previous Postgres node\nconst moonAzimuthRanges = $input.all().map(item => item.json);\n\n// 2. Get sun_azimuth from AssignPayloadToOriginalPayload node\nconst currentAzimuth =\n  $node[\"AssignPayloadToOriginalPayload1\"].json.originalPayload.moon_azimuth;\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nconst payload = {\n  monitoringType: \"MoonAzimuth\",\n  moon_azimuth: currentAzimuth,\n  pulses: 0,\n  intensity: 0,\n  duration: 0,\n  interval: 0,\n  fbRangeID: null,\n  alertGiven: \"no\",\n  message: \"\"\n};\n\nif (Array.isArray(moonAzimuthRanges) && moonAzimuthRanges.length > 0) {\n  let matched = false;\n\n  for (const range of moonAzimuthRanges) {\n    const minAz = Number(range.minvalue);\n    const maxAz = Number(range.maxvalue);\n\n    if (!Number.isFinite(minAz) || !Number.isFinite(maxAz)) continue;\n    if (currentAzimuth < minAz || currentAzimuth > maxAz) continue;\n\n    matched = true;\n\n    const minPulses = Number(range.minpulses ?? 0);\n    const maxPulses = Number(range.maxpulses ?? minPulses);\n    const minIntensity = Number(range.minintensity ?? 0);\n    const maxIntensity = Number(range.maxintensity ?? minIntensity);\n    const minDuration = Number(range.minduration ?? 0);\n    const maxDuration = Number(range.maxduration ?? minDuration);\n    const minInterval = Number(range.mininterval ?? 0);\n    const maxInterval = Number(range.maxinterval ?? minInterval);\n\n    payload.pulses = Math.round(\n      map(currentAzimuth, minAz, maxAz, minPulses, maxPulses)\n    );\n    payload.intensity = Math.round(\n      map(currentAzimuth, minAz, maxAz, minIntensity, maxIntensity)\n    );\n    payload.duration = Math.round(\n      map(currentAzimuth, minAz, maxAz, minDuration, maxDuration)\n    );\n    payload.interval = Math.round(\n      map(currentAzimuth, minAz, maxAz, minInterval, maxInterval)\n    );\n\n    payload.fbRangeID = Number(range.id);\n    payload.alertGiven = payload.pulses > 0 ? \"yes\" : \"no\";\n    payload.message =\n      \"✅ Mapped MoonAzimuth range with proportional vibration settings.\";\n    break;\n  }\n\n  if (!matched) {\n    payload.message = \"⛔ No SunAzimuth match found in DB.\";\n  }\n} else {\n  payload.message = \"⚠️ No mappings retrieved from database for MoonAzimuth.\";\n}\n\nconst originalPayload = {\n  moon_azimuth: currentAzimuth\n};\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload\n    }\n  }\n];\n"
      },
      "name": "ChecksFeedBackRules1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5440,
        -1136
      ],
      "id": "dd2d1d69-8968-449b-bd21-158e89ffff01",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// n8n expects an array of items: [{ json: {...} }, ...]\n// The previous HTTP Request node returned the astronomy API response in item.json.\n// Here we just copy it into originalPayload (and keep the fields themselves too).\n\nreturn items.map(item => {\n  const apiResponse = item.json;        // response from Astronomy API\n\n  return {\n    json: {\n      originalPayload: apiResponse,     // keep a copy under originalPayload\n      ...apiResponse                    // also keep the fields at the top level\n    }\n  };\n});\n"
      },
      "name": "AssignPayloadToOriginalPayload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -5888,
        -1136
      ],
      "id": "e38f1f5a-c701-410a-aa6c-9a3e9a2e8024",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.ipgeolocation.io/astronomy",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "apiKey",
              "value": "b2b40f0636bb42c78ab922b7ef5a90fd"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat ?? 32.794 }}\n"
            },
            {
              "name": "long",
              "value": "={{ $json.lon ?? $json.long ?? 34.989 }}\n"
            }
          ]
        }
      },
      "name": "Astronomy API1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -6112,
        -1136
      ],
      "id": "ba1a6476-2c81-4020-a47b-9fd155ef70fc",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "options": {}
      },
      "name": "Moon Data Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -6336,
        -1136
      ],
      "webhookId": "sun-data-imported",
      "id": "e2e5c9de-7b1a-48f2-b7c9-df73fe5a137a",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heart-rate-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6336,
        -880
      ],
      "id": "5ef575a6-5803-497a-a92c-f6eb6b0040d9",
      "name": "Heart Rate Webhook",
      "webhookId": "8a96e5cf-caf1-4451-96ca-4237ccc3148e",
      "disabled": true
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Extract identifiers\nconst inputData = $input.first().json;\n\nconst userId = Number(inputData.UserID ?? inputData.userId ?? 0);\nconst watchId = Number(inputData.SmartWatchID ?? inputData.smartWatchId ?? 0);\nconst phoneId = Number(inputData.AndroidID ?? inputData.androidId ?? 0);\n\nconst monitoringType = inputData.MonitoringType ?? \"HeartRate\";\n\n\n// Prepare the query to fetch the last 10 readings\nconst query = `\n    SELECT value \n    FROM \"SensorData\" sd\n    JOIN \"SensorType\" st ON sd.sensorID = st.sensorID\n    WHERE sd.userID = $1 \n      AND sd.watchID = $2 \n      AND sd.phoneID = $3 \n      AND st.name = $4\n    ORDER BY time DESC\n    LIMIT 10;\n`;\n\nconst params = [userId, watchId, phoneId, monitoringType];\n\nreturn [\n    {\n        json: {\n            query,\n            params,\n            originalPayload: inputData,\n            metadata: { userId, watchId, phoneId, monitoringType }\n        }\n    }\n];"
      },
      "name": "fetchHeartRateWindowAndLastValidHeartRate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -6112,
        -880
      ],
      "id": "edf79307-72c9-4739-8444-50647c652ed2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}\n",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5888,
        -880
      ],
      "id": "f21fa10e-dafb-4fa6-b3ee-aa1ad5edfc49",
      "name": "Execute fetch heart rate query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\nconst dbRows = $input.all().map(item => item.json);\nconst webhookData = $node[\"Heart Rate Webhook\"].json;\n\n// Extract raw sensor input\nconst rawValue = Number(\n  webhookData.Value ??\n  webhookData.heartRate ??\n  0\n);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid\nconst readings = dbRows\n  .map(row => Number(row.value))\n  .filter(v => Number.isFinite(v) && !isOutlier(v));\n\nif (!isOutlier(rawValue)) {\n  readings.push(rawValue);\n} else {\n  console.log(`⚠️ Raw value ${rawValue} is an outlier and excluded from smoothing.`);\n}\n\nlet smoothed = null;\n\nif (readings.length > 0) {\n  const total = readings.reduce((sum, v) => sum + v, 0);\n  smoothed = Math.round(total / readings.length);\n} else {\n  console.log(\"⚠️ No valid readings found, falling back to raw value.\");\n  smoothed = rawValue; // fallback\n}\n\nconst payload = {\n  monitoringType: \"HeartRate\",\n  heartRate: smoothed,\n  Value: rawValue,\n};\n\nconst originalPayload = {\n  heartRate: smoothed,\n  Value: rawValue,\n};\n\nconst query = `\n  SELECT *\n  FROM feedback_config_rules\n  WHERE type = 'HeartRate'\n    AND active = TRUE;\n`;\n\nconst params = [];\n\nreturn [\n  {\n    json: {\n      payload,\n      originalPayload,\n      query,\n      params,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5664,
        -880
      ],
      "id": "a930fb64-6040-4bc6-86e6-1ecdad6c366c",
      "name": "Data Cleaning",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}\n",
        "options": {
          "queryReplacement": "={{ $json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5440,
        -880
      ],
      "id": "f87331e1-cd3c-4791-b7d5-da0f0f30c31d",
      "name": "Execute data cleaning query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const hrData = $node[\"fetchHeartRateWindowAndLastValidHeartRate\"].json;\nconst heartRate = Number(hrData.originalPayload?.heartRate ?? null);\n\n// Map function for proportional mapping\nconst mappings = $input.all().map(item => item.json);\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n    if (inMin === inMax) return outMin;\n    return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\n// Output structure\nconst out = {\n    heartRate,\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    Value: hrData.originalPayload?.Value ?? null    // keep raw reading\n};\n\n// If no heart rate reading\nif (heartRate === null || Number.isNaN(heartRate)) {\n    return [\n        {\n            json: {\n                payload: out,\n                originalPayload: out\n            }\n        }\n    ];\n}\n\n\n// Match and map values proportionally\nfor (const m of mappings) {\n    const minHR = Number(m.minvalue);\n    const maxHR = Number(m.maxvalue);\n\n    if (Number.isFinite(minHR) && Number.isFinite(maxHR)) {\n        if (heartRate >= minHR && heartRate <= maxHR) {\n            out.intensity = Math.round(map(heartRate, minHR, maxHR, m.minintensity, m.maxintensity));\n            out.pulses    = Math.round(map(heartRate, minHR, maxHR, m.minpulses,    m.maxpulses));\n            out.duration  = Math.round(map(heartRate, minHR, maxHR, m.minduration, m.maxduration));\n            out.interval  = Math.round(map(heartRate, minHR, maxHR, m.mininterval, m.maxinterval));\n\n            out.fbRangeID = Number(m.id);\n            break;\n        }\n    }\n}\n\n// Determine alert status\nout.alertGiven = out.pulses > 0 ? \"yes\" : \"no\";\n\nreturn [\n    {\n        json: {\n            payload: out,\n            originalPayload: out,\n\n            // for next Postgres node\n            query: `SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = TRUE;`,\n            params: []\n        }\n    }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5216,
        -880
      ],
      "id": "886e304f-82a0-4d66-962c-9e4bce3a732f",
      "name": "Check Heart rate Feedback Rules",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst p = item.payload ?? item;\n\n// Extract identifiers\nconst userId    = Number(p.UserID        ?? p.userId        ?? 0);\nconst watchId   = Number(p.SmartWatchID  ?? p.smartWatchId  ?? 0);\nconst phoneId   = Number(p.AndroidID     ?? p.androidId     ?? 0);\n\n// Sensor name & alert flag\nconst sensorName = p.MonitoringType ?? p.monitoringType ?? \"HeartRate\";\nconst alertGiven = p.alertGiven ?? \"no\";\n\n\n// Main value\nconst value = Number(\n  p.heartRate ??\n  p.Value ??\n  0\n);\n\nconst pulses    = Number(p.pulses    ?? 0);\nconst intensity = Number(p.intensity ?? 0);\nconst duration  = Number(p.duration  ?? 0);\nconst interval  = Number(p.interval  ?? 0);\n\nconst fbRangeID = Number(p.fbRangeID ?? 0);\n\n\n// Build SQL and params\nconst query = `\n  SELECT insert_sensor_data(\n    $1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11\n  );\n`;\n\nconst params = [\n  userId,\n  watchId,\n  phoneId,\n  sensorName,\n  alertGiven,\n  value,\n  pulses,\n  intensity,\n  duration,\n  interval,\n  fbRangeID,\n];\n\n\n// Return as n8n item\nreturn [\n  {\n    json: {\n      query,\n      params,\n      payload: p,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4976,
        -880
      ],
      "id": "8ed47aee-cd58-4df7-bc4d-a9c028b0e419",
      "name": "Setup Parameters For Heart Rate Queries",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4752,
        -880
      ],
      "id": "5cdb9cb7-c8cc-4f72-933b-30a17477ac2d",
      "name": "Execute Setup Param query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "HTTP Response2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -4528,
        -880
      ],
      "id": "a5d612cb-662b-457c-b7be-68bf01cd0e40",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE type = 'MoonAzimuth' AND active = true;\n",
        "additionalFields": {}
      },
      "name": "Load MoonAzimuth Rules1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -5664,
        -1136
      ],
      "id": "fcb5206e-6172-46b7-9e36-33e18f8b0aa0",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "give me a haiku about the heart beat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -5056,
        -592
      ],
      "id": "1709b29a-c8b0-4548-bb65-c0fed6fd1540",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5056,
        -432
      ],
      "id": "ddf65ee6-b3c3-48a7-8fa9-c0d9d06a03cc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "y3aPvN8D7zct4rPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -4656,
        -576
      ],
      "id": "587e45ac-188f-4c7d-92f4-086a21d89570",
      "name": "No Operation, do nothing",
      "disabled": true
    },
    {
      "parameters": {
        "content": "---------------------------------------------------------------------------------------------------------------------Checking Rules & API Requests & Sending Appropriate FeedBack----------------------------------------------------------------------------------------------------------------------------\n\n\n\n\nSun API\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/sun-data\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nMoon API\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/moon-data\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nHeart Rate Reading\nTo run it paste into CMD\ncurl -X POST http://localhost:5678/webhook-test/heart-rate-data",
        "height": 768,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6912,
        -1488
      ],
      "id": "72e2caa5-3cd1-487a-8ac2-a78c4dc05cb3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "// Access the first item's JSON data\nconst originalPayload = $input.json;\n\n// 1. Get UserID from the original payload\n// Note: n8n typically uses JSON objects directly,\n// so 'originalPayload.UserID' should be available directly on the input item.\nconst userID = originalPayload.UserID;\n\n// 2. Define the dynamic delay (which can be changed by the user)\nconst dynamicDelay = 10000; // 10 seconds in milliseconds\n\n// 3. Construct the SQL query and parameters\n// In n8n's Postgres node, you typically separate the query and parameters.\nconst sqlQuery = `SELECT lastRequest FROM \"User\" WHERE userID = $1`;\nconst sqlParameters = [userID];\n\n// 4. Return the data, making it available for the next node.\n// We pass the new values in the 'json' property of the output item.\n// It's helpful to also pass the original payload if needed downstream.\nreturn [\n  {\n    json: {\n      ...originalPayload, // Keep original data\n      UserID: userID,\n      sqlQuery: sqlQuery,\n      sqlParameters: sqlParameters,\n      dynamicDelay: dynamicDelay,\n    }\n  }\n];"
      },
      "name": "prepareDelayQuery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -6240,
        -640
      ],
      "id": "ef388266-964c-410d-b396-9d08763932bf",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT \"lastrequest\", \"userid\"\nFROM \"User\" \nWHERE \"userid\" = {{ $json.body.UserID }};\n",
        "additionalFields": {}
      },
      "name": "Get Last Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        256,
        -1520
      ],
      "id": "437fe9c6-458a-44f1-808d-fc7b86dd441f",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastRequest = $input.first().json.lastrequest;\nconst userid = $input.first().json.userid\nconst now = new Date();\nconst dynamicDelay = 10000; // 10 seconds\n\nlet shouldWait = false;\n\nif (lastRequest) {\n  const elapsed = now.getTime() - new Date(lastRequest).getTime();\n  if (elapsed < dynamicDelay) {\n    shouldWait = true;\n  }\n}\n\nreturn [\n  {\n    json: {\n      userid,\n      shouldWait: shouldWait\n    }\n  }\n];"
      },
      "name": "Check Delay Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        480,
        -1520
      ],
      "id": "f61e7567-dfaf-4bcb-8b72-8cb35cfb4ddd"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"shouldWait\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Wait Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        704,
        -1520
      ],
      "id": "91c12432-bbdd-4730-931c-77eb0c83ead4"
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait 5s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        928,
        -1600
      ],
      "id": "bf977030-67f9-4470-a29a-9a69931edf22",
      "webhookId": "bad4a52f-ae34-4d95-a5e7-90a02cdb0d40"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\";",
        "additionalFields": {
          "queryParams": "={{ $json.userid.toString() }}"
        }
      },
      "name": "Update Last Request",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1152,
        -1520
      ],
      "id": "c46e85f2-3626-4e49-9d0c-9edb06cbb499",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT value \nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorID = st.sensorID\nWHERE sd.userID = {{ $('Webhook heart rate').item.json.body.UserID }}\nAND sd.watchID = {{ $('Webhook heart rate').item.json.body.SmartWatchID }}\nAND sd.phoneID = {{ $('Webhook heart rate').item.json.body.AndroidID }}\nAND st.name = 'HeartRate'\nORDER BY time DESC\nLIMIT 10;",
        "additionalFields": {}
      },
      "name": "Fetch History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1376,
        -1520
      ],
      "id": "7ace2fc4-62e9-4404-ba2f-84786e125a30",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = true;",
        "additionalFields": {}
      },
      "name": "Get Config Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        1824,
        -1520
      ],
      "id": "eae0e1d3-e3b1-4c47-aa45-78d7cbd42c0e",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const heartRate = $('Data Cleaning1').first().json.heartRate\nconst userID = $('Webhook heart rate').first().json.body.UserID\nconst SmartWatchID = $('Webhook heart rate').first().json.body.SmartWatchID\nconst AndroidID = $('Webhook heart rate').first().json.body.AndroidID\nconst mappings = items.map(i => i.json); // Get all rules\n\n// Map function for proportional mapping\nfunction map(value, inMin, inMax, outMin, outMax) {\n    if (inMin === inMax) return outMin;\n    return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nlet feedback = {\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: null,\n    monitoringType: \"HeartRate\",\n    userID: userID,\n    SmartWatchID: SmartWatchID,\n    AndroidID: AndroidID\n\n};\n\nfor (const m of mappings) {\n    const minHR = parseFloat(m.minvalue);\n    const maxHR = parseFloat(m.maxvalue);\n\n    if (heartRate >= minHR && heartRate <= maxHR) {\n        feedback.intensity = Math.round(map(heartRate, minHR, maxHR, m.minintensity, m.maxintensity));\n        feedback.pulses = Math.round(map(heartRate, minHR, maxHR, m.minpulses, m.maxpulses));\n        feedback.duration = Math.round(map(heartRate, minHR, maxHR, m.minduration, m.maxduration));\n        feedback.interval = Math.round(map(heartRate, minHR, maxHR, m.mininterval, m.maxinterval));\n        feedback.fbRangeID = parseInt(m.id);\n        feedback.alertGiven = feedback.pulses > 0 ? \"yes\" : \"no\";\n        break;\n    }\n}\nreturn [{ json: feedback  }];"
      },
      "name": "Check Feedback Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2048,
        -1520
      ],
      "id": "e8b0ba94-3a8d-4a5c-a522-3f66b8cad59a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2272,
        -1616
      ],
      "id": "3e1a3286-0d2e-4640-9ea1-b10f3147b1f3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'HeartRate',\n  '{{ $json.alertGiven }}',\n  {{ $('Data Cleaning1').item.json.heartRate }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }}\n);",
        "additionalFields": {}
      },
      "name": "Insert Data Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        2272,
        -1424
      ],
      "id": "73635651-dff8-44ca-8c09-1e24e6c6bea4",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\nconst readings = items.map(item => parseFloat(item.json.value)).filter(v => !isNaN(v));\n\n// Extract raw sensor input from Webhook\nconst rawValue = parseFloat($('Webhook heart rate').item.json.body.Value || 0);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid\nif (!isOutlier(rawValue)) {\n    readings.push(rawValue);\n}\n\nlet smoothed = rawValue; // Default to raw if no history\nif (readings.length > 0) {\n    const total = readings.reduce((sum, val) => sum + val, 0);\n    smoothed = total / readings.length;\n}\n\nreturn [\n  {\n    json: {\n      heartRate: smoothed,\n      rawValue: rawValue\n    }\n  }\n];"
      },
      "name": "Data Cleaning1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1600,
        -1520
      ],
      "id": "13f46808-8474-4246-9586-12c8bfe5aa4e"
    },
    {
      "parameters": {
        "content": "Change heart rate feedback interval between 2 notifications",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        32,
        -1616
      ],
      "id": "ec70dc82-653f-4da8-94db-e2d914d89dff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "LLM to insert new mappings",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1472,
        -1680
      ],
      "typeVersion": 1,
      "id": "76204166-e121-4ee6-b1a1-1e5a0a38ddd4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "path": "current-configurations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -1600
      ],
      "id": "5c127ca6-48b5-4be9-bad3-7885183dc438",
      "name": "Get current configurations",
      "webhookId": "1b044278-5d6b-4f82-ad44-d93bb6524635"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules\nWHERE active = TRUE;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -1600
      ],
      "id": "8c96600e-f79f-4d92-aa1a-9222597ad34a",
      "name": "FetchCurrentRulesFromDB",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "GET Queries",
        "height": 80,
        "width": 1622,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -1792
      ],
      "typeVersion": 1,
      "id": "9a4bc65d-8a63-48d4-a08d-3831bffe33c2",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "path": "get-users",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -1376
      ],
      "id": "c4623b00-3d36-402c-8c2d-a044fc4f2507",
      "name": "Get users",
      "webhookId": "36b477ed-3989-424e-8961-91732079009a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        -1376
      ],
      "id": "800a8b0d-4694-4123-b6ab-9e2d16851a86",
      "name": "Respond to Webhook Get-users"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2352,
        -1600
      ],
      "id": "dbec77cc-7b13-489d-9f15-d4750b85b308",
      "name": "Respond to Webhook current-configuraion"
    },
    {
      "parameters": {
        "path": "sensor-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -1056
      ],
      "id": "1477fc4a-46d0-4e5e-8804-16e43534b873",
      "name": "Get sensor data",
      "webhookId": "de1c4e46-405a-4089-8974-3935dfcc72eb"
    },
    {
      "parameters": {
        "jsCode": "\nif (!items || items.length === 0) {\n  return [{ json: { statusCode: 404, payload: { message: \"No data found\" } } }];\n}\n\nreturn [{ json: { statusCode: 200, payload: items.map(i => i.json) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2128,
        -1152
      ],
      "id": "41d96c7b-a51c-4972-bfea-b61fb7cac7d7",
      "name": "check if empty"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1904,
        -1152
      ],
      "id": "22486a35-14bb-4627-a3f7-36a5d7f33ab6",
      "name": "Respond to Webhook sensor data"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseKey": "={{ $('parse request').item.json.payload.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2352,
        -960
      ],
      "id": "b6abd904-8746-4639-8ae0-bc580ef41224",
      "name": "Respond to Webhook sensor data error"
    },
    {
      "parameters": {
        "path": "get-sensor-types",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -736
      ],
      "id": "aea5eda1-007b-448b-8f33-316fac9ef9bd",
      "name": "Get sensor types",
      "webhookId": "10535e70-e76c-457c-ac76-c5ad131f790a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        -736
      ],
      "id": "f1944b40-a8c9-48c2-a0d1-eb1ffd4357ba",
      "name": "Respond to Webhook get sensor type"
    },
    {
      "parameters": {
        "path": "monitoring-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -512
      ],
      "id": "7e6f397c-7f5e-4a2a-9045-52ff54dfeb96",
      "name": "Get monitoring config",
      "webhookId": "10afb919-71f3-4f73-8a2b-7d6d697dbd97"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        -512
      ],
      "id": "cf15359a-79ca-49c4-b3eb-4d403d571bec",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-monitoring-type",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3024,
        -288
      ],
      "id": "5db0db47-6430-4cc8-a698-adc4481f57e5",
      "name": "Set monitoring type",
      "webhookId": "d10ea443-e71d-49b3-953b-59cc00d27ede"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseKey": "={{ $json.payload.status }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2576,
        -288
      ],
      "id": "87d0f808-3dc1-47dd-ab6f-eb52a1766bff",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "content": "--IMPORTANT--\nIn order for the monitoring config and monitoring type nodes to run: \n1. Set the workflow to active\n2. Set both nodes to production URL\n3. first run set and then get",
        "height": 368,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        -528
      ],
      "typeVersion": 1,
      "id": "7821f4a4-fb13-4d57-ab0f-3020ddd27f40",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X GET \"http://localhost:5678/webhook-test/sensor-data?userid=100&alert_type=HeartRate\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -1072
      ],
      "typeVersion": 1,
      "id": "42b68ebb-2601-467e-a5d1-776bf33d6eaa",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/current-configurations "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -1648
      ],
      "typeVersion": 1,
      "id": "0af30a34-2c37-41c2-811b-b82cbd0b6bb9",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-users"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -1424
      ],
      "typeVersion": 1,
      "id": "fa42f61f-ac8d-4eb9-854f-8f6f981a4f7e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \"User\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -1376
      ],
      "id": "526224f8-04d2-4d39-a6f4-9b5cde9f6813",
      "name": "get users query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nconst q = $input.first().json.query || {};\nconst range = q.range || \"All Time\";\nconst alertType = q.alert_type;\nconst userId = q.userid;\n\nif (!userId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required userid parameter\" } } }];\n}\nif (!alertType) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing required alert_type parameter\" } } }];\n}\n\nconst now = new Date();\nlet dateFrom = null;\n\nswitch (range) {\n  case \"Last 24 Hours\":\n  case \"Last+24+Hours\":\n    dateFrom = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 7 Days\":\n  case \"Last+7+Days\":\n    dateFrom = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n    break;\n  case \"Last 30 Days\":\n  case \"Last+30+Days\":\n    dateFrom = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n    break;\n  default:\n    dateFrom = null;\n}\n\nlet query;\nlet params;\n\nif (dateFrom) {\n  const timeFilter = dateFrom.toISOString();\n  params = [timeFilter, alertType, userId];\n  query = `\n    SELECT sd.id, sd.time, sd.value,\n           COALESCE(a.type, 'No Alert') AS alert_type,\n           COALESCE(a.pulses, 0) AS pulses,\n           COALESCE(a.intensity, 0) AS intensity,\n           COALESCE(a.duration, 0) AS duration,\n           COALESCE(a.interval, 0) AS interval,\n           sd.userid,\n           sd.sensorid\n    FROM public.\"SensorData\" sd\n    LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n    WHERE sd.time >= $1 AND a.type = $2 AND sd.userid = $3\n    ORDER BY sd.time;\n  `;\n} else {\n  params = [alertType, userId];\n  query = `\n    SELECT sd.id, sd.time, sd.value,\n           COALESCE(a.type, 'No Alert') AS alert_type,\n           COALESCE(a.pulses, 0) AS pulses,\n           COALESCE(a.intensity, 0) AS intensity,\n           COALESCE(a.duration, 0) AS duration,\n           COALESCE(a.interval, 0) AS interval,\n           sd.userid,\n           sd.sensorid\n    FROM public.\"SensorData\" sd\n    LEFT JOIN public.\"Alert\" a ON sd.alertid = a.alertid\n    WHERE a.type = $1 AND sd.userid = $2\n    ORDER BY sd.time;\n  `;\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    query,\n    params\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -1056
      ],
      "id": "a660301e-1e99-4f64-8878-a611046676d6",
      "name": "parse request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a154f1c1-4b58-4f22-b69e-412922720005",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2576,
        -1056
      ],
      "id": "a7299254-7c5d-497d-97f7-c24e3699d205",
      "name": "If not empty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2352,
        -1152
      ],
      "id": "ffdfbd34-9a16-4d99-b324-6a19902ae862",
      "name": "Execute get sensor data query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT sensorid, name FROM \"SensorType\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2800,
        -736
      ],
      "id": "83b1f2c9-89cf-4704-94d3-ec714a3af862",
      "name": "get sensir type query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/set-monitoring-type\" -H \"Content-Type: application/json\" -d \"{\\\"monitoringType\\\":\\\"HeartRate\\\"}\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -336
      ],
      "typeVersion": 1,
      "id": "a0883615-6971-4401-bda3-ea791f2e56ee",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "curl \"http://localhost:5678/webhook-test/monitoring-config\""
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -544
      ],
      "typeVersion": 1,
      "id": "ab2a1687-ffed-4c83-862f-7e82c1245f7a",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\n\nconst monitoringType = globalData.monitoringType ?? \"Unknown\";\n\nreturn [{\n  json: {\n    monitoringType\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -512
      ],
      "id": "529fb23e-c502-4d40-b73f-d0b352d16094",
      "name": "Get config info from global data"
    },
    {
      "parameters": {
        "jsCode": "const globalData = $getWorkflowStaticData('global');\nconst monitoringType = $input.first().json.body?.monitoringType;\n\nif (!monitoringType || typeof monitoringType !== \"string\") {\n  return [{ json: { statusCode: 400, payload: { error: \"Invalid or missing monitoringType\" } } }];\n}\n\nglobalData.monitoringType = monitoringType;\n\nreturn [{ json: { statusCode: 200, payload: { status: \"success\", monitoringType } } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        -288
      ],
      "id": "9418a619-43ae-4480-ae10-ddbedd643155",
      "name": "Set monitoring data into global data"
    },
    {
      "parameters": {
        "content": "curl -X GET http://localhost:5678/webhook-test/get-sensor-types"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3312,
        -768
      ],
      "typeVersion": 1,
      "id": "dc4e7d05-12bd-4e5a-93a4-12bf0db26bd0",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "EDIT MAPPING RULES",
        "height": 80,
        "width": 1280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        -1792
      ],
      "typeVersion": 1,
      "id": "586679d8-5349-4a29-85af-e7f4acee0ab4",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-sun-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -1152
      ],
      "id": "6b7075be-7942-4870-9fba-42561633d042",
      "name": "set sun azimuth threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.sunAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'sunAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id && e.id !== 0);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"SunAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -1152
      ],
      "id": "55720916-3967-49ba-87eb-b952c1a334bb",
      "name": "UpdatingChangedValuesIfExist"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -1248
      ],
      "id": "89f1ad9a-dc05-43fa-b325-d5f5cff4dcba",
      "name": "Execute sun mapping query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -560,
        -1248
      ],
      "id": "64e55bb7-e97f-479b-b9e9-5cdf401eb1c0",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -1152
      ],
      "id": "9f0a46e4-e10f-4278-ab4a-5021934f48ea",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -784,
        -1056
      ],
      "id": "a2448861-2996-4570-9824-432c11048d95",
      "name": "Respond to Webhook on error"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.moonAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id && e.id !== 0);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"MoonAzimuth\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -736
      ],
      "id": "ccc47c1f-5198-459a-aa2a-946d50706b5a",
      "name": "UpdatingChangedValuesIfExist1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -560,
        -832
      ],
      "id": "655718b9-80e4-403d-a06a-d7866996d1f0",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -736
      ],
      "id": "15c39965-ad5b-4230-930d-9073cc6299de",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist1').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist1').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -784,
        -640
      ],
      "id": "ca4af61e-99f1-49db-9f05-d17e90a73b5b",
      "name": "Respond to Webhook on error1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-moon-azimuth-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -736
      ],
      "id": "6a8dcdb5-1982-42e4-a455-4658ef2c0a9d",
      "name": "set moon azimuth threshold1",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json || {};\nconst data = $input.first().json.body.heartRateAzimuthRanges\n\nif (!Array.isArray(data)) {\n  return [{ json: { statusCode: 400, error: \"Expected 'moonAzimuthRanges' to be an array\" } }];\n}\n\nconst filtered = data.filter(e => e.id && e.id !== 0);\n\nif (filtered.length === 0) {\n  return [{ json: { statusCode: 200, message: \"No valid entries with ID > 0 to insert/update.\" } }];\n}\n\nconst values = [];\nconst params = [];\n\nfiltered.forEach((entry, i) => {\n  const base = i * 13;\n  values.push(\n    `($${base+1}, $${base+2}, $${base+3}, $${base+4}, $${base+5}, $${base+6}, $${base+7}, $${base+8}, $${base+9}, $${base+10}, $${base+11}, $${base+12}, $${base+13})`\n  );\n\n  params.push(\n    entry.id,\n    entry.minPulses,\n    entry.maxPulses,\n    entry.minIntensity,\n    entry.maxIntensity,\n    entry.minDuration,\n    entry.maxDuration,\n    entry.minInterval,\n    entry.maxInterval,\n    entry.minAzimuth,\n    entry.maxAzimuth,\n    \"HeartRate\",\n    entry.active === false ? false : true\n  );\n});\n\nconst query = `\n  INSERT INTO feedback_config_rules (\n    id, minpulses, maxpulses, minintensity, maxintensity,\n    minduration, maxduration, mininterval, maxinterval,\n    minvalue, maxvalue, type, active\n  )\n  VALUES ${values.join(\", \")}\n  ON CONFLICT (id)\n  DO UPDATE SET\n    minpulses = EXCLUDED.minpulses,\n    maxpulses = EXCLUDED.maxpulses,\n    minintensity = EXCLUDED.minintensity,\n    maxintensity = EXCLUDED.maxintensity,\n    minduration = EXCLUDED.minduration,\n    maxduration = EXCLUDED.maxduration,\n    mininterval = EXCLUDED.mininterval,\n    maxinterval = EXCLUDED.maxinterval,\n    minvalue = EXCLUDED.minvalue,\n    maxvalue = EXCLUDED.maxvalue,\n    type = EXCLUDED.type,\n    active = EXCLUDED.active\n`;\n\nreturn [{ json: { statusCode: 200, query, params } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        -320
      ],
      "id": "79be439f-9942-4ee7-b48b-30ebd4406d7b",
      "name": "UpdatingChangedValuesIfExist2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -416
      ],
      "id": "abbd3c5b-ffe1-4695-8b00-a4bf2032f3c1",
      "name": "Execute sun mapping query2",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode || 200}}",
          "responseKey": "{ok:true}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -560,
        -416
      ],
      "id": "0a594515-b1ef-4b33-a795-8f315a9a8134",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a10251c-6689-401a-9890-5b6886b99c0d",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1008,
        -320
      ],
      "id": "3e5aa6db-8d4d-4671-af01-855cbcf2e81e",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{ $('UpdatingChangedValuesIfExist2').item.json.statusCode }}",
          "responseKey": "={{ $('UpdatingChangedValuesIfExist2').item.json.error }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -784,
        -224
      ],
      "id": "3cd8adc9-0ca2-416b-ba7d-e2a256268273",
      "name": "Respond to Webhook on error2"
    },
    {
      "parameters": {
        "content": "Checking Rules & API Requests & Sending Appropriate FeedBack",
        "height": 80,
        "width": 2640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -1792
      ],
      "typeVersion": 1,
      "id": "267b429e-8bc2-4136-bc9b-60e45db26b70",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "old stuff & tests\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<\n<<<",
        "height": 1616,
        "width": 150,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4256,
        -1664
      ],
      "typeVersion": 1,
      "id": "4eda5031-ae07-40c1-8c5d-5b1bb65750e1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE OR REPLACE FUNCTION insert_sensor_data(\n    _userID INT,\n    _watchID INT,\n    _phoneID INT,\n    _sensorName VARCHAR,\n    _alertGiven VARCHAR,\n    _value FLOAT,\n    _pulses INT,\n    _intensity INT,\n    _duration INT,\n    _interval INT,\n    _fbRangeID INT\n) RETURNS VOID AS $$\nDECLARE\n    _sensorID INT;\n    _alertID INT;\nBEGIN\n    -- Insert users/devices if they don't exist\n    INSERT INTO \"User\"(userID) SELECT _userID WHERE NOT EXISTS (SELECT 1 FROM \"User\" WHERE userID = _userID);\n    INSERT INTO \"Watch\"(watchID) SELECT _watchID WHERE NOT EXISTS (SELECT 1 FROM \"Watch\" WHERE watchID = _watchID);\n    INSERT INTO \"AndroidPhone\"(phoneID) SELECT _phoneID WHERE NOT EXISTS (SELECT 1 FROM \"AndroidPhone\" WHERE phoneID = _phoneID);\n\n    INSERT INTO \"WatchAndroidPhone\"(watchID, phoneID)\n    SELECT _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"WatchAndroidPhone\" WHERE watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"UserWatchAndroidPhone\"(userID, watchID, phoneID)\n    SELECT _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"UserWatchAndroidPhone\"\n        WHERE userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    INSERT INTO \"SensorType\"(name)\n    SELECT _sensorName\n    WHERE NOT EXISTS (SELECT 1 FROM \"SensorType\" WHERE name = _sensorName);\n\n    SELECT sensorID INTO _sensorID FROM \"SensorType\" WHERE name = _sensorName;\n\n    -- 🔁 Insert into Alert with fbRangeID instead of minvalue/maxvalue\n    INSERT INTO \"Alert\"(\n        alertGiven, pulses, intensity, duration, interval, type, fbRangeID\n    )\n    VALUES (\n        _alertGiven, _pulses, _intensity, _duration, _interval, _sensorName, _fbRangeID\n    )\n    RETURNING alertID INTO _alertID;\n\n    -- DeviceSensor mapping\n    INSERT INTO \"DeviceSensor\"(sensorID, userID, watchID, phoneID)\n    SELECT _sensorID, _userID, _watchID, _phoneID\n    WHERE NOT EXISTS (\n        SELECT 1 FROM \"DeviceSensor\"\n        WHERE sensorID = _sensorID AND userID = _userID AND watchID = _watchID AND phoneID = _phoneID\n    );\n\n    -- Final insert to SensorData\n    INSERT INTO \"SensorData\"(sensorID, userID, watchID, phoneID, alertID, value, time)\n    VALUES (_sensorID, _userID, _watchID, _phoneID, _alertID, _value, CURRENT_TIMESTAMP);\nEND;\n$$ LANGUAGE plpgsql;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        -2048
      ],
      "id": "139400b4-6239-4fcb-a35a-7868a9415379",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "-NOTE-\nTo create the DB tables and insert data, run this only once before starting anything else",
        "height": 240,
        "width": 480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1104,
        -2144
      ],
      "typeVersion": 1,
      "id": "252a5990-724f-40dd-bbb8-47cb6281b043",
      "name": "Sticky Note14"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -2048
      ],
      "id": "cbc778c6-1d6c-4fbc-b104-901dbf08de02",
      "name": "Build Database",
      "executeOnce": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heartRate",
        "options": {}
      },
      "name": "Webhook heart rate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        32,
        -1520
      ],
      "id": "339aaebf-2c48-439e-b510-34bec10e458b",
      "webhookId": "ab04974b-c683-4224-90a1-cae7a4139bdc"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        -1232
      ],
      "id": "dd964360-3e89-409f-b456-576e68a8ddde",
      "name": "Webhook sun data",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.first().json || {};\nconst body = req.body ?? req;\n\nconst userId = body.UserID ?? body.userid ?? body.userId;\nif (!userId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing UserID\" } } }];\n}\n\nreturn [{\n  json: {\n    statusCode: 200,\n    userId,\n    query: 'SELECT \"lastrequest\" FROM public.\"User\" WHERE \"userid\" = $1',\n    params: [userId],\n    // keep original request for later\n    body,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        -1232
      ],
      "id": "efbe7d48-6017-4a8a-9108-1584e1814b6f",
      "name": "prepare Delay Query"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b22a2d03-b418-45a2-a6cc-d0678f0ce3a8",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        -1232
      ],
      "id": "33604442-22c1-4adf-a114-db2c89e28920",
      "name": "If status 400"
    },
    {
      "parameters": {
        "options": {
          "responseCode": "={{$json.statusCode}}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        -1328
      ],
      "id": "813cbb70-c623-4ba6-8343-9250a301d769",
      "name": "Respond to Webhook on code 400"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        -1136
      ],
      "id": "b61625ba-4118-4ce1-b2b7-6a0d2c21d11b",
      "name": "SELECT lastRequest",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bring forward the original data from the previous node (PrepareLastRequestQuery)\nconst prev = $('prepare Delay Query').first().json;\nconst userId = $('prepare Delay Query').first().json.body.UserID;\nconst body = $('prepare Delay Query').first().json.body;\n\n// Postgres results are in `items` for THIS node\nconst pgRows = $input.first().json;\nconst lastRequestRaw = pgRows[0]?.lastrequest\n  ?? pgRows[0]?.lastRequest\n  ?? null;\n\n// Decide delay policy (pick something sensible)\nconst cooldownMs = 60_000;\n\nlet shouldWait = false;\nlet waitSeconds = 0;\n\nif (lastRequestRaw) {\n  const last = new Date(lastRequestRaw).getTime();\n  const now = Date.now();\n  const elapsed = now - last;\n\n  if (elapsed < cooldownMs) {\n    shouldWait = true;\n    waitSeconds = Math.max(1, Math.ceil((cooldownMs - elapsed) / 1000));\n  }\n}\n\nreturn [{\n  json: {\n    userId,\n    body,\n    shouldWait,\n    waitSeconds,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -1136
      ],
      "id": "81f1c3b4-8fe3-405e-8dd3-613cb4268025",
      "name": "Check If Delay Necessary"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edd11ae0-8357-422f-b359-ad2dae566889",
              "leftValue": "={{$json.shouldWait}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        -1232
      ],
      "id": "07875e72-ebb4-4b10-a442-01b2d88eae9e",
      "name": "if should wait"
    },
    {
      "parameters": {
        "amount": "={{$json.waitSeconds}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1312,
        -1312
      ],
      "id": "80d249a8-83ba-4492-b23f-366ceff7ed7a",
      "name": "Wait",
      "webhookId": "99ae071e-7ab4-4d91-9677-810632db319c"
    },
    {
      "parameters": {
        "jsCode": "const userId = $input.first().json.userId;\n\nreturn [{\n  json: {\n    userId,\n    body: $input.first().json.body,\n    query: 'UPDATE public.\"User\" SET \"lastrequest\" = NOW() WHERE \"userid\" = $1',\n    params: [userId],\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        -1232
      ],
      "id": "d49665d8-6a1d-4d6f-a68a-aea340ff327c",
      "name": "Build Update Last Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        -1232
      ],
      "id": "421b9047-fd8c-4bc8-91a5-bf50e74a78a0",
      "name": "Execute UPDATE",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nconst lat = body.lat ?? 32.794;\nconst lon = body.lon ?? 34.989;\n\n// Same API, same key usage as Node-RED\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\n\n// Example: if Node-RED used query param\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -1232
      ],
      "id": "df7c1f23-19e7-4a59-8f17-62955acfc30b",
      "name": "Construct Sun Api Request"
    },
    {
      "parameters": {
        "jsCode": "// Keep whatever you already had from earlier nodes (webhook body, etc.)\nconst originalPayload = $input.first().json.originalPayload ?? $input.first().json;\n\n// The HTTP response body\nconst api = $input.first().json;\n\n// Try common shapes \nconst currentAzimuth =\n  api?.sun_azimuth ??\n  api?.sun?.azimuth ??\n  api?.data?.sun_azimuth ??\n  api?.data?.sun?.azimuth;\n\nif (currentAzimuth === undefined || currentAzimuth === null) {\n  return [{ json: { statusCode: 500, payload: { error: \"Sun azimuth missing from API response\", api } } }];\n}\n\n// Preserve original input + attach computed value\noriginalPayload.sun_azimuth = Number(currentAzimuth);\n\n// Put the “main payload” as originalPayload (this is what Node-RED effectively does)\nreturn [{ json: { ...originalPayload } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2432,
        -1232
      ],
      "id": "b7fb562f-56e5-450e-95ae-e226688435ca",
      "name": "Extract Sun Azimuth And Preserve Original Payload"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = 'SunAzimuth'\nORDER BY minvalue, maxvalue;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1536,
        -1040
      ],
      "id": "b56a753e-379a-4232-ae99-38c454993c75",
      "name": "Query To Fetch Current Sun Rules From DB",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Extract Sun Azimuth And Preserve Original Payload').first().json;\nconst rules = $input.all().map(i => i.json);\nconst az = $('Extract Sun Azimuth And Preserve Original Payload').first().json.sun_azimuth;\n\nlet chosen = null;\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n  if (az >= minV && az <= maxV) { chosen = r; break; }\n}\n\n\n// Defaults when no match \nlet pulses = 0, intensity = 0, duration = 0, interval = 0, fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\n// Attach vibration params for DB insert\nreturn [{\n  json: {\n    ...original,\n    monitoringType: \"SunAzimuth\",\n    alertGiven: chosen ? \"yes\" : \"no\",\n    pulses, intensity, duration, interval,\n    fbRangeID\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        -1040
      ],
      "id": "0d5b6036-48a1-4f3a-96a2-57fdacb86b1e",
      "name": "Checks FeedBack Rules"
    },
    {
      "parameters": {
        "jsCode": "const p = $input.first().json;\n\nconst userId  = parseInt($('Webhook sun data').first().json.body.UserID);\nconst watchId = parseInt($('Webhook sun data').first().json.body.SmartWatchID);\nconst phoneId = parseInt($('Webhook sun data').first().json.body.AndroidID);\n\nconst sensorName = $input.first().json.type || \"SunAzimuth\";\nconst alertGiven = $input.first().json.alertGiven || p.alertGiven || \"no\";\nconst value = parseFloat($('HTTP sun API Request').first().json.sun_azimuth || 0);\n\nconst pulses = $input.first().json.pulses || 0;\nconst intensity = $input.first().json.intensity || 0;\nconst duration = $input.first().json.duration || 0;\nconst interval = $input.first().json.interval || 0;\nconst fbRangeID = $input.first().json.fbRangeID || 0;\n\nif (!userId || !watchId || !phoneId) {\n  return [{ json: { statusCode: 400, payload: { error: \"Missing ids (userId/watchId/phoneId)\", got: { userId, watchId, phoneId } } } }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11);`,\n    params: [userId, watchId, phoneId, sensorName, alertGiven, value, pulses, intensity, duration, interval, fbRangeID]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -1040
      ],
      "id": "158bba5f-68da-4f88-b357-0e99a58ac530",
      "name": "Setup Parameters For Sun Queries"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2208,
        -1040
      ],
      "id": "c24de22c-d5d4-4e56-899c-a0bc79c0c37e",
      "name": "Execute insert_sensor_data",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2432,
        -1040
      ],
      "id": "f276d607-cd63-4da5-83f9-2973045744a7",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/sun-data\" -H \"Content-Type: application/json\" -d \"{\\\"UserID\\\":100,\\\"SmartWatchID\\\":200,\\\"AndroidID\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "height": 96,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -1088
      ],
      "typeVersion": 1,
      "id": "79c37f9c-5a10-463b-9c07-149a76a87baa",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "this is GET /sensor-data on node-red",
        "height": 80,
        "width": 272,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3024,
        -1104
      ],
      "typeVersion": 1,
      "id": "6afe3264-69a8-4e9d-890c-3f56d784f5e0",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "this is GET /get-sensortypes on node-red",
        "height": 80,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3008,
        -800
      ],
      "typeVersion": 1,
      "id": "670df7bb-5245-4b8d-947d-ddde4537953a",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "this is GET /get-monitoring-config on node-red",
        "height": 80,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3024,
        -560
      ],
      "typeVersion": 1,
      "id": "e9b762a1-a50e-4daf-8e93-c2cc5f75732d",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "set-heart-rate-threshold",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1456,
        -320
      ],
      "id": "9e2a0a2d-1760-4ca1-be03-27147f893b3d",
      "name": "set heart rate threshold",
      "webhookId": "01c7e929-2bd8-49a9-bedb-ed7736aec1a2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{$json.query}}",
        "options": {
          "queryReplacement": "={{$json.params}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        -832
      ],
      "id": "5be3c45f-8e06-4d30-9558-34260c28cf9f",
      "name": "Execute moon mapping query",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\nconst sunAzimuthRanges = [];\nconst heartRateMappings = [];\nconst moonAzimuthRanges = [];\n\nfor (const row of rows) {\n  if (row.type === \"SunAzimuth\") sunAzimuthRanges.push(row);\n  else if (row.type === \"HeartRate\") heartRateMappings.push(row);\n  else if (row.type === \"MoonAzimuth\") moonAzimuthRanges.push(row);\n}\n\nreturn [\n  {\n    json: {\n      sunAzimuthRanges,\n      heartRateMappings,\n      moonAzimuthRanges,\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -1600
      ],
      "id": "f8ef69ed-3817-4dac-9d73-e1ff92f1e426",
      "name": "Setting up response",
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2208,
        -1232
      ],
      "id": "98f14e52-1539-4081-8477-f414fbd26e48",
      "name": "HTTP sun API Request"
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-4b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1264,
        -1360
      ],
      "id": "d5f2084d-5a7e-45c7-9a0f-76132344caaf",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "y3aPvN8D7zct4rPK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-config",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Chat Config Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1472,
        -1584
      ],
      "id": "c8c8c3be-46a6-4c6e-919b-44de284149a1",
      "webhookId": "5269f3c6-231b-4f17-88c4-256baf69aec3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "You are a strict JSON data extraction engine. Your ONLY job is to convert natural language commands into a structured JSON object for a database configuration.\n\n### Database Schema (Output Fields):\n- type: 'HeartRate', 'SunAzimuth', or 'MoonAzimuth' (Required)\n- active: boolean (Always true for new rules)\n- minvalue: number (The lower threshold. If user says \"above 120\", min=120, max=220)\n- maxvalue: number (The upper threshold. If user says \"below 60\", min=30, max=60)\n- minpulses, maxpulses: number (Vibration count. Low=1, Medium=3, High=5. Default=3)\n- minintensity, maxintensity: number (Vibration strength 0-255. Weak=50, Strong=255. Default=150)\n- minduration, maxduration: number (Pulse duration in ms. Short=100, Long=500. Default=200)\n- mininterval, maxinterval: number (Pause between pulses in ms. Default=100)\n\n### Strict Output Rules:\n1. Return ONLY the JSON object.\n2. Do NOT write \"Here is the JSON\".\n3. Do NOT wrap the output in markdown blocks (no ```json ... ```).\n4. If a value is missing, use reasonable defaults based on the context.\n5. Make sure all output fields are populated\n\n### Example Output:\n{ \"type\": \"HeartRate\", \"active\": true, \"minvalue\": 120, \"maxvalue\": 220, \"minpulses\": 3, \"maxpulses\": 5, \"minintensity\": 200, \"maxintensity\": 255, \"minduration\": 200, \"maxduration\": 400, \"mininterval\": 100, \"maxinterval\": 200 }"
            }
          ]
        }
      },
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1264,
        -1584
      ],
      "id": "027d06dc-f98f-42d6-bb04-58b881e265cb"
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text from the AI (it might be in .output or .text)\nconst aiOutput = $input.first().json.output || $input.first().json.text || \"\";\n\n// 1. If it's already an object, return it directly\nif (typeof aiOutput === 'object') {\n  return [{ json: aiOutput }];\n}\n\n// 2. If it's a string, use Regex to find the JSON object inside it\n// This ignores text like \"Here is your JSON:\"\nconst jsonMatch = aiOutput.match(/\\{[\\s\\S]*\\}/);\n\nif (!jsonMatch) {\n  throw new Error(\"No JSON found in AI response. Raw output: \" + aiOutput);\n}\n\ntry {\n  const parsedData = JSON.parse(jsonMatch[0]);\n  return [{ json: parsedData }];\n} catch (e) {\n  throw new Error(\"Found JSON-like text but failed to parse: \" + jsonMatch[0]);\n}"
      },
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        -1584
      ],
      "id": "1af1002b-ba0e-4c04-bea3-c8f80c9c0aa6"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Rule created successfully\",\n  \"ruleId\": {{ $json.id }}\n}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -480,
        -1584
      ],
      "id": "88061bcc-63be-49dc-af37-488387337b0f"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO feedback_config_rules (\n  type, active, minvalue, maxvalue, \n  minpulses, maxpulses, minintensity, maxintensity, \n  minduration, maxduration, mininterval, maxinterval\n) VALUES (\n  $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12\n) \nON CONFLICT (minpulses, maxpulses, minintensity, maxintensity, minduration, maxduration, mininterval, maxinterval, minvalue, maxvalue, type)\nDO UPDATE SET active = EXCLUDED.active\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ [ \n  $json.type, \n  true, \n  $json.minvalue, \n  $json.maxvalue, \n  $json.minpulses, \n  $json.maxpulses, \n  $json.minintensity, \n  $json.maxintensity, \n  $json.minduration, \n  $json.maxduration, \n  $json.mininterval, \n  $json.maxinterval\n].join(',') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        -1584
      ],
      "id": "c8a1a503-3e0c-49c0-b5bd-2343d1ee6770",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "zGIm06RFL9qYW60x",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "curl -X POST http://localhost:5678/webhook-test/chat-config -H \"Content-Type: application/json\" -d \"{\\\"message\\\":\\\"Vibrate softly if sun azimuth is at 150 \\\"}\"\n\nor your own message after {\\\"message\\\":\\ ",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -1424
      ],
      "typeVersion": 1,
      "id": "08b1fe6d-e7f0-45a4-888a-f77f281f16c6",
      "name": "Sticky Note19"
    }
  ],
  "pinData": {
    "Get current configurations": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "http://localhost:5678/webhook-test/current-configurations",
          "executionMode": "test"
        }
      }
    ],
    "set sun azimuth threshold": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "sunAzimuthRanges": [
              {
                "id": 1,
                "minPulses": 114,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "set moon azimuth threshold1": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "moonAzimuthRanges": [
              {
                "id": 121,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ],
    "Webhook sun data": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "73"
          },
          "params": {},
          "query": {},
          "body": {
            "UserID": 100,
            "SmartWatchID": 200,
            "AndroidID": 2,
            "lat": 32.794,
            "lon": 34.989
          },
          "webhookUrl": "http://localhost:5678/webhook-test/sun-data",
          "executionMode": "test"
        }
      }
    ],
    "set heart rate threshold": [
      {
        "json": {
          "headers": {
            "host": "localhost:5678",
            "user-agent": "curl/8.16.0",
            "accept": "*/*",
            "content-type": "application/json",
            "content-length": "211"
          },
          "params": {},
          "query": {},
          "body": {
            "heartRateAzimuthRanges": [
              {
                "id": 148,
                "minPulses": 1,
                "maxPulses": 5,
                "minIntensity": 10,
                "maxIntensity": 80,
                "minDuration": 50,
                "maxDuration": 250,
                "minInterval": 100,
                "maxInterval": 600,
                "minAzimuth": 0,
                "maxAzimuth": 90,
                "active": true
              }
            ]
          },
          "webhookUrl": "http://localhost:5678/webhook-test/set-sun-azimuth-threshold",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Sun Data Webhook": {
      "main": [
        [
          {
            "node": "Astronomy API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetupParametersForSunQueries": {
      "main": [
        [
          {
            "node": "InsertSensorData (FN)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChecksFeedBackRules": {
      "main": [
        [
          {
            "node": "SetupParametersForSunQueries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load SunAzimuth Rules": {
      "main": [
        [
          {
            "node": "ChecksFeedBackRules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssignPayloadToOriginalPayload": {
      "main": [
        [
          {
            "node": "Load SunAzimuth Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Astronomy API": {
      "main": [
        [
          {
            "node": "AssignPayloadToOriginalPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertSensorData (FN)": {
      "main": [
        [
          {
            "node": "HTTP Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertSensorData (FN)1": {
      "main": [
        [
          {
            "node": "HTTP Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetupParametersForSunQueries1": {
      "main": [
        [
          {
            "node": "InsertSensorData (FN)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChecksFeedBackRules1": {
      "main": [
        [
          {
            "node": "SetupParametersForSunQueries1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssignPayloadToOriginalPayload1": {
      "main": [
        [
          {
            "node": "Load MoonAzimuth Rules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Astronomy API1": {
      "main": [
        [
          {
            "node": "AssignPayloadToOriginalPayload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Moon Data Webhook": {
      "main": [
        [
          {
            "node": "Astronomy API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Heart Rate Webhook": {
      "main": [
        [
          {
            "node": "fetchHeartRateWindowAndLastValidHeartRate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetchHeartRateWindowAndLastValidHeartRate": {
      "main": [
        [
          {
            "node": "Execute fetch heart rate query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute fetch heart rate query": {
      "main": [
        [
          {
            "node": "Data Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning": {
      "main": [
        [
          {
            "node": "Execute data cleaning query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute data cleaning query": {
      "main": [
        [
          {
            "node": "Check Heart rate Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Heart rate Feedback Rules": {
      "main": [
        [
          {
            "node": "Setup Parameters For Heart Rate Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Heart Rate Queries": {
      "main": [
        [
          {
            "node": "Execute Setup Param query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Setup Param query": {
      "main": [
        [
          {
            "node": "HTTP Response2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load MoonAzimuth Rules1": {
      "main": [
        [
          {
            "node": "ChecksFeedBackRules1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Request": {
      "main": [
        [
          {
            "node": "Check Delay Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Delay Logic": {
      "main": [
        [
          {
            "node": "If Wait Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Wait Needed": {
      "main": [
        [
          {
            "node": "Wait 5s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5s": {
      "main": [
        [
          {
            "node": "Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Last Request": {
      "main": [
        [
          {
            "node": "Fetch History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch History": {
      "main": [
        [
          {
            "node": "Data Cleaning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config Rules": {
      "main": [
        [
          {
            "node": "Check Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Feedback Rules": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning1": {
      "main": [
        [
          {
            "node": "Get Config Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current configurations": {
      "main": [
        [
          {
            "node": "FetchCurrentRulesFromDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FetchCurrentRulesFromDB": {
      "main": [
        [
          {
            "node": "Setting up response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get users": {
      "main": [
        [
          {
            "node": "get users query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor data": {
      "main": [
        [
          {
            "node": "parse request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if empty": {
      "main": [
        [
          {
            "node": "Respond to Webhook sensor data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get sensor types": {
      "main": [
        [
          {
            "node": "get sensir type query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get monitoring config": {
      "main": [
        [
          {
            "node": "Get config info from global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring type": {
      "main": [
        [
          {
            "node": "Set monitoring data into global data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get users query": {
      "main": [
        [
          {
            "node": "Respond to Webhook Get-users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse request": {
      "main": [
        [
          {
            "node": "If not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not empty": {
      "main": [
        [
          {
            "node": "Execute get sensor data query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook sensor data error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute get sensor data query": {
      "main": [
        [
          {
            "node": "check if empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get sensir type query": {
      "main": [
        [
          {
            "node": "Respond to Webhook get sensor type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get config info from global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set monitoring data into global data": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set sun azimuth threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute sun mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Execute moon mapping query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set moon azimuth threshold1": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdatingChangedValuesIfExist2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute sun mapping query2": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute sun mapping query2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook on error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        []
      ]
    },
    "Build Database": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook heart rate": {
      "main": [
        [
          {
            "node": "Get Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook sun data": {
      "main": [
        [
          {
            "node": "prepare Delay Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare Delay Query": {
      "main": [
        [
          {
            "node": "If status 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If status 400": {
      "main": [
        [
          {
            "node": "Respond to Webhook on code 400",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SELECT lastRequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook on code 400": {
      "main": [
        []
      ]
    },
    "SELECT lastRequest": {
      "main": [
        [
          {
            "node": "Check If Delay Necessary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Delay Necessary": {
      "main": [
        [
          {
            "node": "if should wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if should wait": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Build Update Last Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Update Last Request": {
      "main": [
        [
          {
            "node": "Execute UPDATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute UPDATE": {
      "main": [
        [
          {
            "node": "Construct Sun Api Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct Sun Api Request": {
      "main": [
        [
          {
            "node": "HTTP sun API Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Sun Azimuth And Preserve Original Payload": {
      "main": [
        [
          {
            "node": "Query To Fetch Current Sun Rules From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query To Fetch Current Sun Rules From DB": {
      "main": [
        [
          {
            "node": "Checks FeedBack Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks FeedBack Rules": {
      "main": [
        [
          {
            "node": "Setup Parameters For Sun Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Parameters For Sun Queries": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute insert_sensor_data": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set heart rate threshold": {
      "main": [
        [
          {
            "node": "UpdatingChangedValuesIfExist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute moon mapping query": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setting up response": {
      "main": [
        [
          {
            "node": "Respond to Webhook current-configuraion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP sun API Request": {
      "main": [
        [
          {
            "node": "Extract Sun Azimuth And Preserve Original Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Config Webhook": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f9158a39-a3d9-4809-9966-c495b1f82318",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e871c23d93eceb29bf8abad810b08b4574a70ba4e0e27b89fbbcb614b60b3ad"
  },
  "id": "ikYKYpWNmnOPuSpq",
  "tags": []
}