Vibration Orchestrator.json
{
  "name": "Vibration Orchestrator",
  "nodes": [
    {
      "parameters": {
        "content": "## Mimic heartrate vibration",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2208,
        208
      ],
      "id": "7fa471f8-a030-4167-bf80-38e187471821",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "heartRate",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook heart rate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1728,
        192
      ],
      "id": "c0642570-077d-44df-b63c-6acf2ca22d36",
      "webhookId": "ab04974b-c683-4224-90a1-cae7a4139bdc"
    },
    {
      "parameters": {
        "content": "^ delay time is ^ hard-coded here",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        512
      ],
      "id": "83319a3a-ff57-4bd1-9d09-7fb24a3f5d60",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.vibrationReason = \"significant_change\";\n\nreturn [{\n  json: {\n    ...items[0].json,\n    vibrationReason: staticData.vibrationReason\n  }\n}];\n"
      },
      "name": "set significant change reason",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "id": "f47bd551-9cf9-4256-a192-4b45f40cdde1"
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.vibrationReason = \"time_interval\";\n\nreturn [{\n  json: {\n    ...items[0].json,\n    vibrationReason: staticData.vibrationReason\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        192
      ],
      "id": "0a9731d1-e53a-4516-9f36-23617911fe6c",
      "name": "set timer interval reason"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "type",
              "value": "SunAzimuth"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        896
      ],
      "id": "9f62eabe-b07e-49a1-adaa-bd166fc39746",
      "name": "Set type SunAzimuth"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "type",
              "value": "MoonAzimuth"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        1088
      ],
      "id": "b5a2d3f5-d246-46b5-b337-97d4e1675e41",
      "name": "Set type MoonAzimuth"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize sun/moon azimuth').first().json;   // <-- the payload with type+body+ids\nconst type = normalized.type;\n\nconst api = $input.first().json;\n\nlet azimuth = null;\n\nif (type === 'SunAzimuth') {\n  azimuth = api?.sun_azimuth ?? api?.sun?.azimuth ?? api?.data?.sun_azimuth ?? api?.data?.sun?.azimuth;\n} else if (type === 'MoonAzimuth') {\n  azimuth = api?.moon_azimuth ?? api?.moon?.azimuth ?? api?.data?.moon_azimuth ?? api?.data?.moon?.azimuth;\n}\n\nif (azimuth == null) {\n  return [{\n    json: { statusCode: 500, error: `${type} azimuth missing`, rawApi: api }\n  }];\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    azimuth: Number(azimuth)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        992
      ],
      "id": "6bef2c21-89a5-4352-abae-70dfc605b4f4",
      "name": "Extract Azimuth"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/sun-data\" -H \"Content-Type: application/json\" -d \"{\\\"userId\\\":100,\\\"smartWatchId\\\":200,\\\"androidId\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "height": 96,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        768
      ],
      "typeVersion": 1,
      "id": "26e2e8dc-1936-4e4a-9c5f-4fa3a8bef723",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "content": "https://aqicn.org/api/\nAPI for pollution\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1360,
        1392
      ],
      "id": "d068159e-cf9a-4348-a84f-5e2649781278",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "curl -X POST \"http://localhost:5678/webhook-test/pollution-data\" -H \"Content-Type: application/json\" -d \"{\\\"userId\\\":100,\\\"smartWatchId\\\":200,\\\"androidId\\\":2,\\\"lat\\\":32.794,\\\"lon\\\":34.989}\"",
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1712,
        1392
      ],
      "id": "73812754-6584-4b57-9862-4184bbfcbedc",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "temperature-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        2016
      ],
      "id": "d6eef428-d675-4cff-ac90-ba56abe52e54",
      "name": "Webhook temperature",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "humidity-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        2208
      ],
      "id": "db8e35e3-ab15-4d1e-9194-6713eea8f067",
      "name": "Webhook humidity",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "precipitation-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        2400
      ],
      "id": "2823b007-eb4a-4458-a96a-0d03fb9f345c",
      "name": "Webhook precipitation",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wind-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        2592
      ],
      "id": "199b1bc9-0a19-450a-919c-70b1e717b82c",
      "name": "Webhook wind speed",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "weatherType",
              "value": "Temperature"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        2016
      ],
      "id": "f1f25a2e-03fb-4a6e-baac-2530f8ca42bb",
      "name": "Set type Temperature"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "weatherType",
              "value": "Humidity"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        2208
      ],
      "id": "ea464854-50ac-4155-a6a5-7e30b673ef6e",
      "name": "Set type Humidity"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "weatherType",
              "value": "Precipitation"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        2400
      ],
      "id": "bc129e58-b112-425f-91ae-0bf4cddbcfdf",
      "name": "Set type Precipitation"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "weatherType",
              "value": "WindSpeed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1504,
        2592
      ],
      "id": "f518d4f6-1132-4150-8fc6-5dcca47c4396",
      "name": "Set type Wind Speed"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "404a2c44-4a55-41d9-a543-12c7e8c92679",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 30,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "bb921885-90aa-4ad1-9023-55de92a7653b",
              "leftValue": "={{ $('Webhook heart rate').item.json.body.Value }}",
              "rightValue": 220,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        192
      ],
      "id": "fce889c2-2dce-499c-a0c0-3c4d73b86073",
      "name": "If heartrate value detected"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1280,
        96
      ],
      "id": "6d431448-e231-405a-89dd-ffb24a8f61b8",
      "name": "Empty Respond to Webhook heartrate not detected"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sun-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        896
      ],
      "id": "ea95fc29-a6f0-4dc8-9e88-897eee47432c",
      "name": "Webhook sun data",
      "webhookId": "2066fb99-2712-4d4e-a519-2e77e949e5fe"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "moon-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        1088
      ],
      "id": "c7398931-54ac-41ad-a138-bef6a3e0e2d0",
      "name": "Webhook moon data",
      "webhookId": "228be428-5881-4c59-95ed-fe73e2872daf"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\n\nif (body.userId == null) throw new Error('Missing UserID');\nif (body.smartWatchId == null) throw new Error('Missing SmartWatchID');\nif (body.androidId == null) throw new Error('Missing AndroidID');\nif (!$json.type) throw new Error('Missing type (should come from Set node)');\n\nreturn [{\n  json: {\n    userID: Number(body.userId),\n    watchID: Number(body.smartWatchId),\n    phoneID: Number(body.androidId),\n    type: String($json.type),\n    lat: body.lat ?? null,\n    lon: body.lon ?? null,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        992
      ],
      "id": "16e69e1a-d131-4142-b074-bb354b7d0c13",
      "name": "Normalize sun/moon azimuth"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nif (body.lat == null || body.lon == null) {\n  return [{ json: { statusCode: 400, error: 'Missing lat/lon', got: { lat: body.lat, lon: body.lon }}}];\n}\n\nconst lat = body.lat;\nconst lon = body.lon;\n\nconst apiKey = \"b2b40f0636bb42c78ab922b7ef5a90fd\";\n\nif (!apiKey) {\n  return [{\n    json: {\n      statusCode: 500,\n      payload: { error: \"SUN_API_KEY not configured\" }\n    }\n  }];\n}\n\nconst url =\n  `https://api.ipgeolocation.io/astronomy?apiKey=${apiKey}` +\n  `&lat=${encodeURIComponent(lat)}` +\n  `&long=${encodeURIComponent(lon)}`;\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        992
      ],
      "id": "9570cef3-44c9-4c7b-a1e5-fdf46a429db7",
      "name": "Construct API Request for sun/moon azimuth"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize sun/moon azimuth').first().json;\nconst claim = $json; // Try Claim Slot output\n\nreturn [{\n  json: {\n    ...n,\n    body: n.body,\n    claimUserid: claim.userid ?? null,\n    claimLastrequest: claim.lastrequest ?? null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        992
      ],
      "id": "a077c993-dc36-4214-aa7a-a92bb48efb7a",
      "name": "Merge Inputs sun/moon azimuth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.claimUserid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        992
      ],
      "id": "ac490fe9-6ed5-4eaf-b106-6a9472192cf2",
      "name": "Allowed (timer expired) for sun/moon azimuth?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = $1\nORDER BY minvalue, maxvalue;",
        "options": {
          "queryReplacement": "={{ [ $json.type ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        896
      ],
      "id": "1c356946-b9fc-4984-9071-b13794576aea",
      "name": "Fetch Active sun/moon azimuth Rules",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Extract Azimuth').first().json;\nconst rules = $input.all().map(i => i.json);\n\nconst az = Number(normalized.azimuth);\nconst type = normalized.type;\n\nlet chosen = null;\n\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n\n  if (az >= minV && az <= maxV) {\n    chosen = r;\n    break;\n  }\n}\n\nlet pulses = 0;\nlet intensity = 0;\nlet duration = 0;\nlet interval = 0;\nlet fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    alertGiven: chosen ? 'yes' : 'no',\n    pulses,\n    intensity,\n    duration,\n    interval,\n    fbRangeID,\n    reason: 'time_interval'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        896
      ],
      "id": "1f7e5c4d-7354-4c52-a770-8802069d6157",
      "name": "Evaluate sun/moon azimuth Feedback Rules"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  type: $json.type,\n  azimuth: $json.azimuth,\n  alertGiven: $json.alertGiven,\n  pulses: $json.pulses,\n  intensity: $json.intensity,\n  duration: $json.duration,\n  interval: $json.interval,\n  fbRangeID: $json.fbRangeID,\n  reason: $json.reason\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        992
      ],
      "id": "7bfcaf4c-5160-4cf8-8bc4-dc63a243f260",
      "name": "Respond to Webhook success sun/moon azimuth"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nif (!p.userID || !p.watchID || !p.phoneID) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: 'Missing identifiers',\n      payload: p\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12);`,\n    params: [\n      Number(p.userID),\n      Number(p.watchID),\n      Number(p.phoneID),\n      String(p.type),\n      String(p.alertGiven),\n      Number(p.azimuth),\n      Number(p.pulses),\n      Number(p.intensity),\n      Number(p.duration),\n      Number(p.interval),\n      Number(p.fbRangeID),\n      String(p.reason)\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        800
      ],
      "id": "4975ee49-bdfe-4c21-9050-71634b2e7aa6",
      "name": "Build insert_sensor_data Query for sun/moon azimuth"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        800
      ],
      "id": "d7c83751-25a6-4ce5-874e-cb3eeb52f972",
      "name": "Execute insert_sensor_data for sun/moon azimuth",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize sun/moon azimuth').first().json;\n\nreturn [{\n  json: {\n    type: n.type,\n    userID: n.userID,\n    watchID: n.watchID,\n    phoneID: n.phoneID,\n    alertGiven: 'no',\n    pulses: 0,\n    intensity: 0,\n    duration: 0,\n    interval: 0,\n    fbRangeID: 9999,\n    reason: 'rate_limited',\n    azimuth: $('Extract Azimuth').first().json.azimuth\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1088
      ],
      "id": "c4c715d7-9cc6-4331-be4c-205db129387d",
      "name": "Build Rate-Limited Response for sun/moon azimuth"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        1088
      ],
      "id": "4ccd648f-21d7-43cb-8b45-a807342c0b75",
      "name": "Respond (rate-limited) sun/moon azimuth"
    },
    {
      "parameters": {
        "url": "=https://api.waqi.info/feed/geo:{{ $json.body.lat }};{{ $json.body.lon }}/?token=e0d7d00db3bd0335708c7ac9343ec38db757a4e8",
        "options": {}
      },
      "id": "ae3325bb-2211-47d3-8f76-34fd8395da65",
      "name": "Fetch AQI Data pollution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1504,
        1600
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        992
      ],
      "id": "bfa8c614-2e83-4e40-b0bb-2ea787e7686a",
      "name": "Fetch API data for sun/moon azimuth"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.userid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        1600
      ],
      "id": "99a21db0-49d5-4818-b6bf-24b0b7a2aa3d",
      "name": "Allowed (timer expired) for pollution?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'Pollution' AND active = true;",
        "options": {}
      },
      "id": "f6d34234-a3c9-4f4f-8b36-5d45d808fb0d",
      "name": "Get Pollution Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -832,
        1408
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'Pollution',\n  '{{ $json.alertGiven }}',\n  {{ $json.aqi }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }},\n  'time_interval'\n);",
        "options": {}
      },
      "id": "5962d21d-bd04-460b-8170-073b070552d3",
      "name": "Log Pollution Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -384,
        1504
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aqi = $('Fetch AQI Data pollution').first().json.data.aqi;\nconst rules = $input.all().map(r => r.json);\nconst n = $('Webhook pollution data').first().json;\n\nlet feedback = {\n    aqi: aqi,\n    intensity: 0,\n    pulses: 0,\n    duration: 0,\n    interval: 0,\n    alertGiven: \"no\",\n    fbRangeID: \"\",\n    userID: n.body.userId,\n    SmartWatchID: n.body.smartWatchId,\n    AndroidID: n.body.androidId,\n};\n\nfor (const rule of rules) {\n    if (aqi >= rule.minvalue && aqi <= rule.maxvalue) {\n        feedback.intensity = rule.minintensity || 150;\n        feedback.pulses = rule.minpulses || 3;\n        feedback.duration = rule.minduration || 200;\n        feedback.interval = rule.mininterval || 100;\n        feedback.fbRangeID = rule.id;\n        feedback.alertGiven = \"yes\";\n        break;\n    }\n}\n\nreturn [{ json: feedback }];"
      },
      "id": "f8d93f62-cd92-4ec5-8a45-07f1a7b98f3a",
      "name": "Calculate pollution Haptics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        1408
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "9431bc1d-4678-4459-acc0-074aaa0e20ed",
      "name": "Response to Watch success on pollution",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -384,
        1312
      ]
    },
    {
      "parameters": {
        "jsCode": "const n = $('Webhook pollution data').first().json;\nconst aqi = $('Fetch AQI Data pollution').first().json.data.aqi;\n\nreturn [{\n  json: {\n    userID: n.body.userId,\n    SmartWatchID: n.body.smartWatchId,\n    AndroidID: n.body.androidId,\n    alertGiven: 'no',\n    pulses: 0,\n    intensity: 0,\n    duration: 0,\n    interval: 0,\n    fbRangeID: 9999,\n    reason: 'rate_limited',\n    aqi: aqi\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -832,
        1696
      ],
      "id": "75246bce-7979-4b5d-95a5-470dc35c57a2",
      "name": "Build Rate-Limited Response for pollution"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT insert_sensor_data(\n  {{ $json.userID }},\n  {{ $json.SmartWatchID }},\n  {{ $json.AndroidID }},\n  'Pollution',\n  '{{ $json.alertGiven }}',\n  {{ $json.aqi }},\n  {{ $json.pulses }},\n  {{ $json.intensity }},\n  {{ $json.duration }},\n  {{ $json.interval }},\n  {{ $json.fbRangeID || 0 }},\n  '{{ $json.reason }}'\n);",
        "options": {}
      },
      "id": "5aa6c5dd-ac5d-476d-ab9c-3d644ef95b02",
      "name": "Log Rate-limited Pollution Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.1,
      "position": [
        -608,
        1792
      ],
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -608,
        1600
      ],
      "id": "03b372ab-c03d-4458-a1f2-3137ea46c118",
      "name": "Respond (rate-limited) pollution"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pollution-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1728,
        1600
      ],
      "id": "5f68a2a5-3938-4f65-86c7-56b244d6e2e3",
      "name": "Webhook pollution data",
      "webhookId": "bfaa76e2-1fb2-424b-a6e8-cf4467dd3d90"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? {};\n\nif (body.userId == null) throw new Error('Missing UserID');\nif (body.smartWatchId == null) throw new Error('Missing SmartWatchID');\nif (body.androidId == null) throw new Error('Missing AndroidID');\nif (!$json.weatherType) throw new Error('Missing weatherType (should come from Set node)');\n\nreturn [{\n  json: {\n    userID: Number(body.userId),\n    watchID: Number(body.smartWatchId),\n    phoneID: Number(body.androidId),\n    type: String($json.weatherType),\n    lat: body.lat ?? null,\n    lon: body.lon ?? null,\n    body\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        2304
      ],
      "id": "a9a03ea6-4f63-4dba-95fd-b65e14271809",
      "name": "Normalize weather"
    },
    {
      "parameters": {
        "jsCode": "const prev = $input.first().json;\nconst body = prev.body ?? {};\n\nif (body.lat == null || body.lon == null) {\n  return [{ json: { statusCode: 400, error: 'Missing lat/lon', got: { lat: body.lat, lon: body.lon }}}];\n}\n\nconst lat = body.lat;\nconst lon = body.lon;\n\n// fetches forcast by lat&lon for current temperature, humidity, precipitation and wind\nconst url =\n  `https://api.open-meteo.com/v1/forecast?` +\n  `latitude=${encodeURIComponent(lat)}` +\n  `&longitude=${encodeURIComponent(lon)}` +\n  '&current=temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m&timezone=auto';\n\nreturn [{\n  json: {\n    url,\n    lat,\n    lon\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        2304
      ],
      "id": "3465c20c-0070-4f26-b65c-4105767d932d",
      "name": "Construct API Request for weather"
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        2304
      ],
      "id": "0aa60521-bc97-46c0-b04d-fafe93024e36",
      "name": "Fetch API data for weather"
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize weather').first().json;   // <-- the payload with type+body+ids\nconst type = normalized.type;\n\nconst api = $input.first().json;\n\nlet value = null;\nconst cur = api?.current;\n\n// all the weather types\nif (type === 'Temperature') {\n  value = cur?.temperature_2m;\n} else if (type === 'Humidity') {\n  value = cur?.relative_humidity_2m;\n} else if (type === 'Precipitation') {\n  value = cur?.precipitation;\n} else if (type === 'Wind') {\n  value = cur?.wind_speed_10m;\n}\n\nif (value == null) {\n  return [{\n    json: { statusCode: 500, error: `${type} value missing`, rawApi: api }\n  }];\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    value: Number(value)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        2304
      ],
      "id": "53ea1e5a-0902-43c0-adb4-4e61aa9da0ec",
      "name": "Extract weather data"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize weather').first().json;\nconst claim = $json; // Try Claim Slot output\nconst value = $('Extract weather data').first().json.value\n\nreturn [{\n  json: {\n    ...n,\n    body: n.body,\n    claimUserid: claim.userid ?? null,\n    claimLastrequest: claim.lastrequest ?? null,\n    value\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        2304
      ],
      "id": "caa359e3-8d1b-4a29-8a4d-18e018bb86d2",
      "name": "Merge Inputs weather"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.claimUserid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        2304
      ],
      "id": "532f990a-0a55-44d5-b20f-53a34f8e6e3b",
      "name": "Allowed (timer expired) for weather?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM feedback_config_rules\nWHERE active = TRUE\n  AND type = $1\nORDER BY minvalue, maxvalue;",
        "options": {
          "queryReplacement": "={{ [ $json.type ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        288,
        2112
      ],
      "id": "fde0e1c6-b806-4b37-8a59-59feebaffc0c",
      "name": "Fetch Active weather Rules",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Merge Inputs weather').first().json;\nconst rules = $input.all().map(i => i.json);\n\nconst az = Number(normalized.value);\n\nlet chosen = null;\n\nfor (const r of rules) {\n  const minV = Number(r.minvalue);\n  const maxV = Number(r.maxvalue);\n\n  if (az >= minV && az <= maxV) {\n    chosen = r;\n    break;\n  }\n}\n\nlet pulses = 0;\nlet intensity = 0;\nlet duration = 0;\nlet interval = 0;\nlet fbRangeID = 0;\n\nif (chosen) {\n  pulses = Number(chosen.minpulses ?? 0);\n  intensity = Number(chosen.minintensity ?? 0);\n  duration = Number(chosen.minduration ?? 0);\n  interval = Number(chosen.mininterval ?? 0);\n  fbRangeID = Number(chosen.id ?? 0);\n}\n\nreturn [{\n  json: {\n    ...normalized,\n    alertGiven: chosen ? 'yes' : 'no',\n    pulses,\n    intensity,\n    duration,\n    interval,\n    fbRangeID,\n    reason: 'time_interval'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        2112
      ],
      "id": "966a52b9-1282-4750-9884-2dde175c7eb0",
      "name": "Evaluate weather Feedback Rules"
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nif (!p.userID || !p.watchID || !p.phoneID) {\n  return [{\n    json: {\n      statusCode: 400,\n      error: 'Missing identifiers',\n      payload: p\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12);`,\n    params: [\n      Number(p.userID),\n      Number(p.watchID),\n      Number(p.phoneID),\n      String(p.type),\n      String(p.alertGiven),\n      Number(p.value),\n      Number(p.pulses),\n      Number(p.intensity),\n      Number(p.duration),\n      Number(p.interval),\n      Number(p.fbRangeID),\n      'time_interval'\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        2016
      ],
      "id": "b53f0c4f-e99a-4eaa-8f39-8bd9a0e97215",
      "name": "Build insert_sensor_data Query for weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        2016
      ],
      "id": "c18f1d45-8faf-448c-8ee3-9666afb274fd",
      "name": "Execute insert_sensor_data for weather",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  type: $json.type,\n  value: $json.value,\n  alertGiven: $json.alertGiven,\n  pulses: $json.pulses,\n  intensity: $json.intensity,\n  duration: $json.duration,\n  interval: $json.interval,\n  fbRangeID: $json.fbRangeID,\n  reason: $json.reason\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        2208
      ],
      "id": "611900dd-1179-4b52-aecd-10207021c995",
      "name": "Respond to Webhook success weather"
    },
    {
      "parameters": {
        "jsCode": "const n = $('Normalize weather').first().json;\nconst value = $('Merge Inputs weather').first().json.value;\n\nreturn [{\n  json: {\n    type: n.type,\n    userID: n.userID,\n    watchID: n.watchID,\n    phoneID: n.phoneID,\n    alertGiven: 'no',\n    pulses: 0,\n    intensity: 0,\n    duration: 0,\n    interval: 0,\n    fbRangeID: 9999,\n    reason: 'rate_limited',\n    value\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        2496
      ],
      "id": "91ea7cc2-9284-40e4-bcb9-7329745160e9",
      "name": "Build Rate-Limited Response for weather"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        512,
        2592
      ],
      "id": "22142b93-f865-48e7-a335-a9fc8f0af86e",
      "name": "Respond (rate-limited) weather"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.params }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        2400
      ],
      "id": "8997c13a-6500-460a-a575-c5dd6f504b95",
      "name": "log rate limited for weather",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const p = $json;\n\nreturn [{\n  json: {\n    query: `SELECT insert_sensor_data($1,$2,$3,$4,$5,$6,$7,$8,$9,$10,$11,$12);`,\n    params: [\n      Number(p.userID),\n      Number(p.watchID),\n      Number(p.phoneID),\n      String(p.type),\n      String(p.alertGiven),\n      Number(p.value),\n      Number(p.pulses),\n      Number(p.intensity),\n      Number(p.duration),\n      Number(p.interval),\n      Number(p.fbRangeID),\n      'rate_limited'\n    ]\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        2400
      ],
      "id": "a96627f3-a477-49a4-acaa-274e068b4cb3",
      "name": "Transform weather data to PGSQL db node"
    },
    {
      "parameters": {
        "jsCode": "// Access global workflow memory\nconst staticData = $getWorkflowStaticData('global');\n\n// Get current sensor data\nconst currentHR = parseFloat($('Webhook heart rate').item.json.body.Value); \nconst currentTime = new Date().getTime();\n\nlet trendTrigger = false;\n\n// Initialize snapshot if it doesn't exist yet\nif (staticData.snapshotHR == null) {\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\n// Calculate time since last snapshot\nconst timeDiff = currentTime - staticData.snapshotTime;\n\n// Check if 0.5 minutes have passed\nif (timeDiff >= 30000) {\n    // 1. Compare Current vs Snapshot\n    const pastHR = parseFloat(staticData.snapshotHR);\n    \n    // Check for 15 BPM difference (Absolute value handles up or down)\n    if (Math.abs(currentHR - pastHR) >= 15) {\n        trendTrigger = true;\n    }\n\n    // 2. UPDATE the snapshot for the next minute comparison\n    // We update this regardless of whether we triggered or not\n    staticData.snapshotHR = currentHR;\n    staticData.snapshotTime = currentTime;\n}\n\nconst diff = staticData.snapshotHR == null ? 0 : Math.abs(currentHR - staticData.snapshotHR);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    trendTrigger,\n    debug_timeDiffMs: timeDiff,\n    debug_diff: diff,\n    debug_snapshotHR: staticData.snapshotHR,\n    debug_currentHR: currentHR\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        288
      ],
      "id": "f03b859d-8ff9-42c6-bbf1-1826eabbafbd",
      "name": "Calculate heartrate Trend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5da5823-dd44-44a4-8a96-279bc92c1580",
              "leftValue": "={{ $json.trendTrigger }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        288
      ],
      "id": "13b8ec30-20c6-4e10-9d1d-98af7b71da71",
      "name": "if heartrate trend detected"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        0
      ],
      "id": "f0f7a906-dbe0-4fe1-8add-eddc781cb6fe",
      "name": "Force Update Slot heartrate",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d616b709-a66d-4e0b-91d1-cf2508fdbcfa",
              "leftValue": "={{ $json.userid }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        384
      ],
      "id": "3b9d7b22-f483-424d-b3b8-6085c0472d4d",
      "name": "Allowed (timer expired) for heartrate?"
    },
    {
      "parameters": {
        "jsCode": "//this should send empty vibration if its not been 5 minutes\nconst userID = parseInt($('Webhook heart rate').first().json.body.UserID);\nconst SmartWatchID = parseInt($('Webhook heart rate').first().json.body.SmartWatchID);\nconst AndroidID = parseInt($('Webhook heart rate').first().json.body.AndroidID);\nconst rawValue = parseFloat($('Webhook heart rate').first().json.body.Value);\n\nreturn [\n  {\n    json: {\n      monitoringType: 'HeartRate',\n      userID,\n      SmartWatchID,\n      AndroidID,\n      alertGiven: 'no',\n      pulses: 0,\n      intensity: 0,\n      duration: 0,\n      interval: 0,\n      fbRangeID: 9999,\n      reason: 'rate_limited',\n      rawValue,\n      vibrationReason: null\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        480
      ],
      "id": "c0149d07-8470-4b69-bc58-b5f51b7a94e4",
      "name": "Build Rate-Limited Response for heartrate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        384
      ],
      "id": "eefe2376-477b-4f54-ad8a-220d95d37019",
      "name": "Empty Respond to Webhook heartrate"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    userID: $node[\"Webhook heart rate\"].json.body.UserID,\n    SmartWatchID: $node[\"Webhook heart rate\"].json.body.SmartWatchID,\n    AndroidID: $node[\"Webhook heart rate\"].json.body.AndroidID,\n    vibrationReason: $json.vibrationReason\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        96
      ],
      "id": "b1137a86-68ad-4b02-af88-38d11888730f",
      "name": "carry heartrate context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT value \nFROM \"SensorData\" sd\nJOIN \"SensorType\" st ON sd.sensorID = st.sensorID\nWHERE sd.userID = {{ $('Webhook heart rate').item.json.body.UserID }}\nAND sd.watchID = {{ $('Webhook heart rate').item.json.body.SmartWatchID }}\nAND sd.phoneID = {{ $('Webhook heart rate').item.json.body.AndroidID }}\nAND st.name = 'HeartRate'\nORDER BY time DESC\nLIMIT 10;",
        "additionalFields": {}
      },
      "name": "Fetch heartrate History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        64,
        32
      ],
      "id": "c2d7e747-3c7b-4464-b69f-4abed3a4c2bb",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract database readings\n// These are ordered by time DESC (Index 0 is the most recent DB entry)\nconst readings = items.map(item => parseFloat(item.json.value)).filter(v => !isNaN(v));\n\n// Extract raw sensor input from Webhook\nconst rawValue = parseFloat($('Webhook heart rate').item.json.body.Value || 0);\n\n// Outlier definition\nconst isOutlier = (v) => v < 40 || v > 220;\n\n// Add raw value if it's valid (for logic consistency)\nif (!isOutlier(rawValue)) {\n    readings.push(rawValue); \n}\n\n// LOWER the alpha to make smoothing stronger against vibration noise\n// 0.1 means \"Trust the history 90%, trust the new value 10%\"\nconst alpha = 0.1; \n\nlet smoothed = rawValue; // Default if no history\n\nif (readings.length > 0) {\n    // FIX: Use readings[0] because your SQL sorts by DESC (Newest First)\n    // This gets the most recent saved value from the database\n    const prev = readings[0]; \n    smoothed = alpha * rawValue + (1 - alpha) * prev;\n}\n\nreturn [\n  {\n    json: {\n      heartRate: Math.round(smoothed),\n      rawValue: rawValue\n    }\n  }\n];"
      },
      "name": "Data Cleaning heartrate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        32
      ],
      "id": "d5b5f45b-ae0f-4a49-82a7-8a8bbe05b942"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM feedback_config_rules WHERE type = 'HeartRate' AND active = true;",
        "additionalFields": {}
      },
      "name": "Get heartrate Config Rules",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        512,
        32
      ],
      "id": "4c7b7227-6c89-4b04-9eeb-5549f7a773f8",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const heartRate = $node[\"Data Cleaning heartrate\"].json.heartRate;\n\nconst userID = $node[\"Webhook heart rate\"].json.body.UserID;\nconst SmartWatchID = $node[\"Webhook heart rate\"].json.body.SmartWatchID;\nconst AndroidID = $node[\"Webhook heart rate\"].json.body.AndroidID;\n\nconst mappings = items.map(i => i.json);\n\nfunction map(value, inMin, inMax, outMin, outMax) {\n  if (inMin === inMax) return outMin;\n  return outMin + (value - inMin) * (outMax - outMin) / (inMax - inMin);\n}\n\nlet feedback = {\n  intensity: 0,\n  pulses: 0,\n  duration: 0,\n  interval: 0,\n  alertGiven: \"no\",\n  fbRangeID: null,\n  monitoringType: \"HeartRate\",\n  userID,\n  SmartWatchID,\n  AndroidID,\n};\n\nif (!mappings || mappings.length === 0) {\n  return [{ json: feedback }];\n}\n\nfor (const m of mappings) {\n  const minHR = parseFloat(m.minvalue);\n  const maxHR = parseFloat(m.maxvalue);\n\n  if (heartRate >= minHR && heartRate <= maxHR) {\n    feedback.intensity = Math.round(\n      map(heartRate, minHR, maxHR, Number(m.minintensity), Number(m.maxintensity))\n    );\n    feedback.pulses = 10;\n\n    feedback.duration = Math.round(\n      map(heartRate, minHR, maxHR, Number(m.minduration), Number(m.maxduration))\n    );\n\n    const totalCycleTimeMs = 60000 / heartRate;\n    feedback.interval = Math.max(0, Math.round(totalCycleTimeMs - feedback.duration));\n\n    feedback.fbRangeID = parseInt(m.id);\n    feedback.alertGiven = feedback.pulses > 0 ? \"yes\" : \"no\";\n    break;\n  }\n}\n\nreturn [{ json: feedback }];\n"
      },
      "name": "Check heartrate Feedback Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        736,
        32
      ],
      "id": "77cad061-1cc9-4936-96ec-6571f3bf51df"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insert_sensor_data($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12)",
        "options": {
          "queryReplacement": "={{ [$json.userID, $json.SmartWatchID, $json.AndroidID, 'HeartRate', $json.alertGiven, $json.rawValue, $json.pulses, $json.intensity, $json.duration, $json.interval, $json.fbRangeID, $json.vibrationReason] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -160,
        576
      ],
      "id": "e4058c1f-64ca-48cb-8cd8-1906fa66f56e",
      "name": "Insert Rate-Limited heartrate Data Log",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        96
      ],
      "id": "823a5b11-4e4d-413d-b3fc-224aea6dbcb5",
      "name": "merge heartrate reason + feedback"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Respond to Webhook success heartrate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "9a8cceff-1934-4e04-bd78-b022e697ff95"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT insert_sensor_data($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, $11, $12)",
        "options": {
          "queryReplacement": "={{ [$json.userID, $json.SmartWatchID, $json.AndroidID, 'HeartRate', $json.alertGiven, $node[\"Data Cleaning heartrate\"].json.rawValue, $json.pulses, $json.intensity, $json.duration, $json.interval, $json.fbRangeID, $json.vibrationReason ?? null] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        192
      ],
      "id": "f9f0e474-24ae-4481-8a6b-ba3384cff4a3",
      "name": "Insert heartrate Data Log",
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";\n",
        "options": {
          "queryReplacement": "={{ [ $('Webhook heart rate').item.json.body.UserID, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        384
      ],
      "id": "efd60d85-c0f3-4059-bfe2-2c2d3cd3179e",
      "name": "Rate Limit Guard heartrate",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $json.body.userId, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        992
      ],
      "id": "58d5d13a-df9e-4e5f-a8d7-17537f6e6aaa",
      "name": "Rate Limit Guard sun/moon azimuth",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "change time interval here"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $('Webhook pollution data').item.json.body.userId, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        1600
      ],
      "id": "2d2b565c-ab85-4921-846b-71ac121181ed",
      "name": "Rate Limit Guard pollution",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "change time interval here"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \"User\"\nSET \"lastrequest\" = NOW()\nWHERE \"userid\" = $1\n  AND (\n    \"lastrequest\" IS NULL\n    OR NOW() - \"lastrequest\" >= ($2::interval)\n  )\nRETURNING \"userid\", \"lastrequest\";",
        "options": {
          "queryReplacement": "={{ [ $('Normalize weather').item.json.body.userId, '1 minutes' ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        2304
      ],
      "id": "3b2d73f1-26e9-4100-8f32-b71ab60b58a0",
      "name": "Rate Limit Guard weather",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "postgres": {
          "id": "PGGVkGCzTaoS4R2q",
          "name": "Postgres account 2"
        }
      },
      "notes": "change time interval here"
    },
    {
      "parameters": {
        "content": "## MoonAzimuth and SunAzimuth",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        1024
      ],
      "id": "7a6b5adc-1f67-4acc-b683-0d0856d13ba8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Pollution",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2240,
        1616
      ],
      "id": "4b4beb73-3d65-4e82-b3cb-5141afb87166",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Weather API (not yet implemented)",
        "height": 80,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2256,
        2240
      ],
      "id": "6c42c410-63ce-4f73-bb88-6793ee10bcfb",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook heart rate": {
      "main": [
        [
          {
            "node": "If heartrate value detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set significant change reason": {
      "main": [
        [
          {
            "node": "carry heartrate context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set timer interval reason": {
      "main": [
        [
          {
            "node": "carry heartrate context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type SunAzimuth": {
      "main": [
        [
          {
            "node": "Normalize sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type MoonAzimuth": {
      "main": [
        [
          {
            "node": "Normalize sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Azimuth": {
      "main": [
        [
          {
            "node": "Rate Limit Guard sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook temperature": {
      "main": [
        [
          {
            "node": "Set type Temperature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook humidity": {
      "main": [
        [
          {
            "node": "Set type Humidity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook precipitation": {
      "main": [
        [
          {
            "node": "Set type Precipitation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook wind speed": {
      "main": [
        [
          {
            "node": "Set type Wind Speed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type Temperature": {
      "main": [
        [
          {
            "node": "Normalize weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type Humidity": {
      "main": [
        [
          {
            "node": "Normalize weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type Precipitation": {
      "main": [
        [
          {
            "node": "Normalize weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set type Wind Speed": {
      "main": [
        [
          {
            "node": "Normalize weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If heartrate value detected": {
      "main": [
        [
          {
            "node": "Empty Respond to Webhook heartrate not detected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate heartrate Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook sun data": {
      "main": [
        [
          {
            "node": "Set type SunAzimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook moon data": {
      "main": [
        [
          {
            "node": "Set type MoonAzimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Construct API Request for sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct API Request for sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Fetch API data for sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Allowed (timer expired) for sun/moon azimuth?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired) for sun/moon azimuth?": {
      "main": [
        [
          {
            "node": "Fetch Active sun/moon azimuth Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response for sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active sun/moon azimuth Rules": {
      "main": [
        [
          {
            "node": "Evaluate sun/moon azimuth Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate sun/moon azimuth Feedback Rules": {
      "main": [
        [
          {
            "node": "Build insert_sensor_data Query for sun/moon azimuth",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook success sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build insert_sensor_data Query for sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data for sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response for sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Respond (rate-limited) sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AQI Data pollution": {
      "main": [
        [
          {
            "node": "Rate Limit Guard pollution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API data for sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Extract Azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired) for pollution?": {
      "main": [
        [
          {
            "node": "Get Pollution Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response for pollution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pollution Rules": {
      "main": [
        [
          {
            "node": "Calculate pollution Haptics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate pollution Haptics": {
      "main": [
        [
          {
            "node": "Response to Watch success on pollution",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Pollution Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response for pollution": {
      "main": [
        [
          {
            "node": "Log Rate-limited Pollution Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond (rate-limited) pollution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook pollution data": {
      "main": [
        [
          {
            "node": "Fetch AQI Data pollution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize weather": {
      "main": [
        [
          {
            "node": "Construct API Request for weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construct API Request for weather": {
      "main": [
        [
          {
            "node": "Fetch API data for weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch API data for weather": {
      "main": [
        [
          {
            "node": "Extract weather data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract weather data": {
      "main": [
        [
          {
            "node": "Rate Limit Guard weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Inputs weather": {
      "main": [
        [
          {
            "node": "Allowed (timer expired) for weather?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired) for weather?": {
      "main": [
        [
          {
            "node": "Fetch Active weather Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response for weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active weather Rules": {
      "main": [
        [
          {
            "node": "Evaluate weather Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate weather Feedback Rules": {
      "main": [
        [
          {
            "node": "Build insert_sensor_data Query for weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook success weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build insert_sensor_data Query for weather": {
      "main": [
        [
          {
            "node": "Execute insert_sensor_data for weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response for weather": {
      "main": [
        [
          {
            "node": "Respond (rate-limited) weather",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transform weather data to PGSQL db node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform weather data to PGSQL db node": {
      "main": [
        [
          {
            "node": "log rate limited for weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate heartrate Trend": {
      "main": [
        [
          {
            "node": "if heartrate trend detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if heartrate trend detected": {
      "main": [
        [
          {
            "node": "Force Update Slot heartrate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Guard heartrate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Force Update Slot heartrate": {
      "main": [
        [
          {
            "node": "set significant change reason",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Allowed (timer expired) for heartrate?": {
      "main": [
        [
          {
            "node": "set timer interval reason",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Rate-Limited Response for heartrate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Rate-Limited Response for heartrate": {
      "main": [
        [
          {
            "node": "Empty Respond to Webhook heartrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Rate-Limited heartrate Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "carry heartrate context": {
      "main": [
        [
          {
            "node": "Fetch heartrate History",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge heartrate reason + feedback",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch heartrate History": {
      "main": [
        [
          {
            "node": "Data Cleaning heartrate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Cleaning heartrate": {
      "main": [
        [
          {
            "node": "Get heartrate Config Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get heartrate Config Rules": {
      "main": [
        [
          {
            "node": "Check heartrate Feedback Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check heartrate Feedback Rules": {
      "main": [
        [
          {
            "node": "merge heartrate reason + feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge heartrate reason + feedback": {
      "main": [
        [
          {
            "node": "Respond to Webhook success heartrate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert heartrate Data Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard heartrate": {
      "main": [
        [
          {
            "node": "Allowed (timer expired) for heartrate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard sun/moon azimuth": {
      "main": [
        [
          {
            "node": "Merge Inputs sun/moon azimuth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard pollution": {
      "main": [
        [
          {
            "node": "Allowed (timer expired) for pollution?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Guard weather": {
      "main": [
        [
          {
            "node": "Merge Inputs weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "604ca18e-ac01-4f33-a5d0-41e31e6f4416",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35deaaf0bfcff41c6d38c8f1cf7aef7296e31320802b08f997dd7e67dae1606a"
  },
  "id": "TzWBOI6V0lfIepbF",
  "tags": []
}